[2015-05-13 13:57] eldakms opened #1 "Path to python does not have quotes"
In the configure script, the PYTHON variable is missing quotes around it (PYTHON=c:\Program Files\Python\python). This causes problems compiling the code on Windows 8.1

Thank you!

[2015-05-13 14:30] martensms opened #2 "Open Source Chakra / clear things up with whitelisted dll files"
Currently, this project lacks of major open source documentations and clarifications.

There's no hint that chakra will ever be open source, so that is kind of a hard issue.
Another issue is that Windows (at least IoT) uses explicitely whitelisted dlls, which may be required for other JIT compilers/runtimes.

Is there any way to use your own JIT in Win10?
I bet the community will deny a forced JIT

[2015-05-14 03:33] jdalton opened #3 "patchTypedArrays issues in chakra_shim."
I noticed some issues with [patchTypedArrays](https://github.com/Microsoft/node/blob/ch0.12.2/deps/chakrashim/lib/chakra_shim.js#L157-L229).

The additions are missing `toString` functions that mimic their original built-ins, e.g.
`function slice() { [native code] }`, and instead return their shim source.

This affects [lodash](https://www.npmjs.com/package/lodash)'s check to see whether `ArrayBuf

[2015-05-14 15:46] jdalton commented on #4
For now I'm checking the `process.jsEngine` name to bypass `vm` use. See https://github.com/lodash/lodash/blob/fcc09a7375bc52f1b483acf0e8151c220a9c5f22/test/test.js#L545-L547.

[2015-05-14 23:36] jianchun commented on #7
It maps to the version of current "chakra.dll" loaded in the process.

[2015-05-14 23:41] jianchun commented on #1
Probably is a general issue which also applies to official node.js. Will investigate. Thanks!

[2015-05-14 23:42] jianchun commented on #4
I'm looking at vm issues and lodash. Will sync up with you. Thanks for feedback!

[2015-05-14 23:43] jdalton commented on #7
Awesome, thank you!

[2015-05-14 23:43] jdalton commented on #4
Rock :rocket:!

[2015-05-22 21:04] jianchun commented on #8
We are still trying to reproduce this. We tried on ARM but got 2 as expected. Maybe we need a low memory device.

[2015-05-22 21:16] jianchun commented on #5
The readme is probably a temporary solution. We'll consider clearer message.

[2015-05-22 21:19] jianchun commented on #4
We have more fixes coming and lodash tests are passing.

[2015-05-22 21:21] jianchun commented on #3
Thanks for the feedback! The patching seems not needed any more with latest Chakra native typed array support. We are removing it.

[2015-05-22 21:21] #3 closed

[2015-05-22 21:22] jdalton commented on #3
Thanks!

[2015-05-22 22:09] jdalton commented on #4
You all rock!

[2015-05-23 14:07] obastemur commented on #8
I've tested this with Raspberry Pi 2 (which has 1 Gb - enough memory) Actually, in case of not enough memory I would expect an 'out of memory' error.

What was the Windows build number ? Maybe there is an update ?

[2015-05-24 15:08] coballast commented on #9
Microsoft, please either open source chakra, or change your outrageous terms to allow other javascript vms to run on windows arm.

[2015-05-25 07:58] wonderdogone commented on #9
:+1:

[2015-05-25 14:19] nadavbar commented on #10
Since the way that this fork was made is by implementing a shim for the v8 APIs that uses Chakra under the hood, it should possible to compile existing native addons against this version of node without changing their code (since the APIs are the same)

[2015-05-25 14:26] mcollina commented on #10
Oh great. That was not really clarified in the README, maybe it is worth adding?

[2015-05-26 17:04] jianchun commented on #8
Thanks for the info! Yes, we were looking at those 2 possibilities too. Had some difficulties to get our Pi 2 working. Will update this thread.

[2015-05-26 19:23] munyirik commented on #6
Hi xmlking,
Support for serialport is not available yet. It does support Bluetooth LE API's. You can get them by using the "uwp" package (https://www.npmjs.com/package/uwp). The API's are under the Windows.Devices.Bluetooth.GenericAttributeProfile namespace.
Thanks.

[2015-05-27 18:12] jianchun commented on #10
Thanks for the suggestion! Updated README. Hope it's clearer.

[2015-05-27 19:22] aruneshchandra commented on #9
Thanks for your interest and feedback! We take all feedback seriously and evaluate our priorities based on what developers want. Open sourcing Chakra is often discussed within the team, but we don’t have anything to share at this point. Also, in Windows 10, apps with codeGeneration capability (https://msdn.microsoft.com/en-us/library/windows/apps/hh464936.aspx#general-use_capabilities)could dynami

[2015-05-27 19:30] aruneshchandra commented on #2
Thanks for your interest and feedback! We take all feedback seriously and evaluate our priorities based on what developers want. Open sourcing Chakra is often discussed within the team, but we don’t have anything to share at this point. Also, in Windows 10, apps with codeGeneration capability (https://msdn.microsoft.com/en-us/library/windows/apps/hh464936.aspx#general-use_capabilities) could dynam

[2015-05-27 19:33] aruneshchandra commented on #9
Please check my response on #2. I will go ahead and close this now.

[2015-05-28 17:50] jianchun commented on #11
Currently the Chakra runtime hosting API ([JSRT](https://msdn.microsoft.com/en-us/library/dn249673(v=vs.94).aspx)) does not support experimental feature flags. We have a backlog item to enable this in future.

[2015-06-01 18:09] aruneshchandra commented on #6
Just to clarify - serialport works on latest builds of Windows 10 on PCs. However, at the moment there are some missing APIs in Windows 10 IoT core which runs on Raspberry Pi 2.

[2015-06-01 18:10] #2 closed

[2015-06-07 12:41] chapgaga commented on #2
i think if you want to open source chakra, you should talk to ceo, discussion inside team is useless :(
@aruneshchandra

[2015-06-07 21:54] jianchun commented on #12
@spleen387 Could you post some errors/warnings? We can help identify the cause.

VS 2015 indeed includes the tools. I'm not sure if the tools are installed by default though. You can try install the standalone SDK from your link (at bottom right of the page).

[2015-06-07 23:25] spleen387 commented on #12
Here's one
[code]

Thanks, I figured out I have the tools installed

Here's the full log http://pastebin.com/sqNCAuAs

[2015-06-08 16:04] jianchun commented on #12
It looks you were running vcbuild.bat without “chakra” switch. That would build node with default V8 JavaScript engine. However the version of V8 seems not building with VS2015.

To build with chakra, run “vcbuild.bat chakra nosign” as shown in [README.md](https://github.com/Microsoft/node#how-to-build-with-chakra-on-windows).

Hope this helps. Please let us know if it works. Thanks!

[2015-06-08 16:28] spleen387 commented on #12
Thanks it worked!
I feel silly, I was trying to figure out why it wouldn't build before when I didn't have the tools, So I was following https://github.com/joyent/node

Incase it helps anyone else I got the tools by checking the Universal Windows app development tools box in the VS install/modify,

Thanks a lot for your help!

[2015-06-15 16:51] #1 closed

[2015-06-19 21:29] EdMaurer commented on #13
Great to hear. I'd love to see it merged too. The Chakra team is ready to help make it happen.

[2015-06-22 19:40] aruneshchandra commented on #13
Merging this upstream has always been our intention and we are happy see that there is community interest in doing the same. What do you recommend would be the best approach/next steps for us to take? Should we submit a PR on Joyent/Node (our current version is based on the same) or migrate and submit a PR for nodejs/node? Or should we start with opening an issue in nodejs/node?

[2015-06-22 19:42] cjihrig commented on #13
A PR to iojs would probably be best.

[2015-06-22 19:47] aruneshchandra commented on #13
You mean PR to the converged repo nodejs/node ?

[2015-06-22 19:49] orangemocha commented on #13
@aruneshchandra : nodejs/io.js will probably have one or more major releases before nodejs/node sees its first release.

[2015-06-22 20:02] cjihrig commented on #13
Yea, what @orangemocha said. nodejs/node will be based off of nodejs/io.js. I would target the io.js `next` branch.

[2015-06-25 14:45] EdMaurer commented on #13
Chakra team is going to implement this change in io.js as suggested, as soon as possible.

[2015-07-17 01:59] jianchun commented on #14
@AlexisTM Thank you for your feedback. Yes, that script already exists (in the source tree). But there are other problems to be solved. Firstly we need an installer to setup node.js/npm layout, and the installer must not conflict with existing node.js installation. Secondly we need a node-gyp solution to support existing native node.js addons. We are working to improve this experience.

[2015-07-17 07:12] AlexisTM commented on #14
I though it was an oversight. My mistake!

The main problem of the WoA (Windows on ARM) system was to be compatible only with C++/C# from visual studio. With the new python/NodeJS support (Maybe Goland or ruby should go next) it became a great I/O board withtout having to configure everything in Linux! Great job! I will use it for my next project!

[2015-07-29 17:00] EdMaurer commented on #13
We've run into a couple of problems in porting our change to io.js Next. One is that the Windows 10 version of Chakra is missing an API necessary to implement some ArrayBuffer functionality. We're trying to figure out the best way to proceed.

[2015-08-11 13:59] snuggles08 commented on #13
@EdMaurer Since this project is by Microsoft, we might be able to get them to fix it.
In response to this issue:
I'm scared that this could almost double issues in core Node.js, because many issues are in the interpreter, and this could cause doubled issues because many issues would be exclusive to one interpreter. Just my thoughts.

[2015-08-11 18:20] EdMaurer commented on #13
@snuggles08 I work for the Chakra team and was speaking for the difficulties we are having implementing our V8 shim against the released version of the Chakra hosting API.

[2015-08-12 07:32] thefourtheye commented on #13
FYI nodejs/io.js has been renamed to nodejs/node. Further releases will be from nodejs/node only.

[2015-08-14 18:21] am11 commented on #13
@EdMaurer, are there plans to have it merged upstream in a way that we get to choose between the two JavaScript runtimes on Windows 10? I have scribbled down some thoughts [here](https://gist.github.com/am11/77e7fe4e54c0abdab037). Though I am not sure whether the impact on the executable size would be significant, with both runtimes bundled together.

[2015-08-14 21:25] EdMaurer commented on #13
@am11, our current approach binds Node to Chakra in a static fashion. On Windows you either choose to install Node powered by V8 or Node powered by Chakra (or maybe both side-by-side, not sure how possible that is now). We don't have the means to choose the JS engine dynamically as your notes suggest. Dynamic binding to an engine would be easier to achieve if there was an API (or something) that a

[2015-09-06 04:14] dhusemann commented on #13
hoping updates to the chakra engine allow for this in the near future ??

[2015-09-10 14:42] jianchun commented on #15
Thanks for letting us know! We will address this.

[2015-09-10 19:46] mybios commented on #15
I was create a PR https://github.com/Microsoft/node/pull/17 to do this. Please review.

[2015-09-11 04:30] jianchun commented on #15
Thanks! PR #19 was accepted and merged.

[2015-09-18 03:56] aruneshchandra commented on #13
#20 contains the code delta to enable Chakra on Node v4.0.0, a step towards submitting the PR on nodejs/node (master). Please try it out !

Look forward to your feedback.

[2015-10-14 14:28] nadavbar commented on #21
I think that some of the APIs that you are using have changed (The V8::Arguments class no longer exists in the new API), checkout the examples here: https://github.com/nodejs/node-v0.x-archive/blob/master/doc/api/addons.markdown

And you can also try and use NaN:https://github.com/nodejs/nan

[2015-10-15 13:28] dacolgit commented on #21
Using NaN I'm now able to build the addons
Thanks

[2015-11-22 01:30] kunalspathak commented on #22
Thanks for reporting the issue. This is a known problem and will be fixed in next version of node.

[2015-12-07 20:52] obastemur commented on #2
@kunalspathak I sent these three PRs since there is no node-ch version is actually working on any updated Windows.  These are some of the things I've done to make JXcore(Chakra) working on Windows UWP again.

I wasn't expecting this much behavior change in Chakra native API since it's shipped with OS. I do understand the JS engine is evolving over time but also expect that the C API is behaving si

[2015-12-07 21:16] kunalspathak commented on #2
@obastemur , Thanks for submitting the PRs. There were known issues with node0.12 with chakra.dll shipped with Windows update. We will be soon publishing our node6.0 version in "chnext" that works with latest chakra.dll shipped and addresses the issue in #3 .
I have merged #2 and #3 in "ch0.12" branch which is based on node0.12. I am reviewing #2 and #3 if that should go in "chnext" as well.

[2015-12-07 21:20] kunalspathak commented on #2
Merged 5bee568fc2d9f45a1e64ed92cc28c2b8a5ff8a34 in "ch0.12"

[2015-12-07 21:21] kunalspathak commented on #3
Merged 0399bd2defafdebd6363201fedcea5b8b79b1452 in "ch0.12" branch.

[2015-12-07 21:22] jianchun commented on #2
@obastemur Thanks for your fixes! We got delayed by schedule changes and we are pushing updated node-ch today.

Just to clarify, the behavior change you addressed with PR #3 was actually from JS spec, not the Chakra API itself. We'll certainly take note and be very careful to keep Chakra APIs stable. (The other 2 PRs are not behavior change related.)

[2015-12-07 22:08] obastemur commented on #2
@kunalspathak thanks for the details.

@jianchun good to hear that.

Actually #1 is a Chakra API change. Same call on previous Chakra works as expected.

Besides, i.e.

[code]

Consider `hostRef` as a constructor on top of global, this won't work with the new Chakra.dll. (instead of `nullptr`, we should reference 'this' object)  However it works with the pre-update Chakra.

IMHO, these are all exp

[2015-12-07 23:00] kunalspathak commented on #1
@obastemur , could you give a short repro or error that you get when you use `v8::Number/v8::Integer` as key with `chakrart::JsSetProperty`. We didn't change the API behavior, so it should work post Windows update. It will help us identify some underlying issue that is causing the break.

[2015-12-07 23:32] jianchun commented on #2
@obastemur We are not aware of the issue in #1. I'll try to repro without your fix; please let us know in thread #1 if you have more details.

Yes, the JsConstructObject/JsCallFunction arguments requirement hardening is a breaking change that we took after evaluating all options. The previous loose requirement was leading to inconsistency and crashes. Apologize for any inconvenience.

[2015-12-07 23:38] kunalspathak commented on #2
Included the change in c8385b056021439c6a2d241c316c0d055377f120. Closing this PR.

[2015-12-08 00:12] jianchun commented on #1
Investigated and found a bug in GetPropertyIdFromValue (jsrtuitils.cc) which handles indexed properties incorrectly. Working on a fix.

[2015-12-08 17:40] jianchun commented on #1
@obastemur I have committed 18d118e9d30fd99ce0c0363256f49faa2f5c33fe which should fix this issue. We did it that way to optimize Object::Get/Set for string keys. We'll reevaluate your fix if we find needs to optimize differently. Thanks!

[2015-12-08 20:41] obastemur commented on #1
@jianchun thats great. Closing this then. BTW; Would you consider hosting `Chakrashim` under it's own repository ? It could be much easier to collaborate / target as a submodule etc.

[2015-12-08 20:50] jianchun commented on #1
@obastemur Thanks!

@orangemocha suggested this as well. We will consider once we sort out other logistics.

[2015-12-30 05:48] stevemao commented on #13
Any update?

[2015-12-30 14:50] aruneshchandra commented on #13
We are preparing to submit the PR using ChakraCore, after everyone is back from the holidays. Stay tuned!

[2015-12-30 23:43] jdalton opened #4 "Missing vcvarsall.bat."
I'm trying to follow the [build instructions](https://github.com/Microsoft/node#how-to-build).

I'm on Windows 10 Build 10586.36 and have installed [Python 2.711](https://www.python.org/downloads/release/python-2711/), [Node v5](https://nodejs.org/dist/v5.3.0/node-v5.3.0-x64.msi), and both [Visual Studio Community](https://go.microsoft.com/fwlink/?LinkId=691978&clcid=0x409) and [Visual Studio Ente

[2015-12-31 15:43] jdalton commented on #4
I tried on a different system with Windows 10 Build 10586.36 and got the same issue. Is the readme missing a step or requirement? This time around I installed Visual Studio Community and not Visual Studio Enterprise Trial.

[2016-01-04 18:39] kunalspathak commented on #4
@jdalton , When you installed VS, did you selected below?
- Programming Language -> Visual C++ -> Common Tools for Visual C++ 2015
- Windows and Web Deployment -> Universal Windows App Development Tools -> Tools (1.2) and Windows 10 SDK (10.0.10586)
- Windows and Web Deployment -> Universal Windows App Development Tools -> Windows 10 SDK (10.0.10240)

[2016-01-05 12:24] delfinof opened #5 "Compiling modules requiring native binding"
I am trying the chackra node.js engine and was checking if it supports native bindings (indeed this is not clear from the documentation...).

When I try to install the headers with node-gyp I get the following output:

D:\nodejs_chakra>node-gyp install
gyp info it worked if it ends with ok
gyp info using node-gyp@3.2.1
gyp info using node@5.0.0-0 | win32 | ia32
gyp http GET https://nodejs.org/dist

[2016-01-05 16:38] jianchun commented on #5
@delfinof  The official node-gyp does not work because it does not know about Node.js with Chakra. I assume you have installed Node.js Tools for Windows IoT. It includes Node.js with Chakra and comes with a customized version of node-gyp. Please run that copy of node-gyp. Launch "Node.js (chakra) command prompt". The customized node-gyp is at "c:\Program Files (x86)\NodejsUwp\Console\node_modules\

[2016-01-05 16:52] jianchun commented on #5
Also please note that globally installed node-gyp by the user has higher priority... To run the customized node-gyp, please either try add `c:\Program Files (x86)\NodejsUwp\Console\node_modules\npm\bin\node-gyp-bin` to front of PATH, or uninstall global node-gyp (`npm uninstall -g node-gyp`).

[2016-01-05 17:50] jdalton commented on #4
No I didn't, I was trying to follow the perquisite steps so just installed with default settings.
If something more is required we should document it.  I can create a PR.

[2016-01-05 17:52] kunalspathak commented on #4
Did it work after selecting those options that I suggested?

Sounds good.

[2016-01-07 16:29] jianchun commented on #23
@qdk0901  It needs Windows 10 SDK (see https://github.com/Microsoft/node/issues/4).

However, we have moved our effort to latest Node.js and we have been working on v5/v6 (https://github.com/Microsoft/node). This v0.12 code is obsolete and has issues on latest Windows 10 update. Any reason you can't switch to latest?

[2016-01-08 02:31] qdk0901 commented on #23
@jianchun I didn't saw that latest version，I will try that version，many thanks.

[2016-01-13 21:57] morkai opened #6 "Slow TCP"
So I've decided to see how node-chakracore v6.0.0-pre1 will compare to node-v8 v5.4.0 in generating reports in one of my apps (~500k documents fetched from MongoDB). On average node-chakracore took 2x more time to finish than node-v8.

Then I tried to import data from 27 ~8 MB text files. Parsing (CPU only) in ChakraCore was faster than in v8 (chakra=6.8s vs v8=5.6s), but then came time for some I

[2016-01-13 23:42] jianchun commented on #6
Thank you for checking this out and doing the tests! We will investigate the scenario you described. Indeed we have areas that need more work to improve performance.

I tried your "Simple TCP client-server scripts" on win7 x64 and didn't see the crash. So the crash was in mongoDB test? Please let us know if you found an easier repro.

[2016-01-13 23:52] morkai commented on #6
There wasn't any crash. If a file is passed as the first argument, then it isn't executed. If no file is passed - the REPL is not started.

For example, given file `hello.js`:

[code]

on Win10 machine I get:

[code]

on Win7 machine:

[code]

[2016-01-14 00:23] jianchun commented on #6
What version of Win7 do you have? I'm on Windows 7 Enterprise Service Pack 1 and the hello.js example works.

[code]

[2016-01-14 00:38] morkai commented on #6
My Computer Properties shows Windows 7 Enterprise Service Pack 1 64-bit.
`ver` shows Microsoft Windows [Version 6.1.7601].

It currently has:
- nodejs v0.10.33 32-bit (works, installed long time ago),
- nodejs v5.4.1 64-bit (works, installed today),
- nodejs (chakracore) v6.0.0-pre1 64-bit (doesn't work, installed today) and
- nodejs (chakracore) v6.0.0-pre1 32-bit (doesn't work, installed today).

[2016-01-14 01:24] kasajian opened #7 "ActiveX"
Since Internet Explorer use Chakra, and in Internet Explorer one can new-up an ActiveXObject instance to access safe-COM objects, does that mean that this open source version of Chakra can do the same?   If so, does that mean I can execute that type of code from within version of node that's bound to Chakra?

I want to be able to execute code that looks like this:
    var xmlHttp = new ActiveXObje

[2016-01-14 15:42] amphineko commented on #7
@kasajian Why you want to do that, it seems that this kind of code will be only available on node.js with Chakra, not portable. :(

As what I see, ActiveX calling is not a part of ChakraCore (see https://github.com/Microsoft/ChakraCore/wiki/Architecture-Overview), so accessing to COM objects should be enabled on your own by writing APIs for it. But I'm not sure if I'm wrong.

In further, you can a

[2016-01-14 16:38] jianchun commented on #7
@amphineko is correct. Node.js with ChakraCore doesn't come with ActiveXObject support. I agree you could write a native addon module if you really need it.

[2016-01-14 19:13] nicole-ashley commented on #7
@kasajian: The Chakra that was open-sourced was the new one from Microsoft Edge only, not the one available in Internet Explorer.

[2016-01-14 19:22] Yongqu commented on #7
Also chakra is used by edge browser not internet explorer. edge does not support activeX objects.

[2016-01-14 20:04] nicole-ashley commented on #7
@Yongqu: Chakra JScript engine was used in IE, but not this Chakra JavaScript engine. That is probably where the confusion lies.

[2016-01-15 01:29] kasajian commented on #7
@amphineko with regard to your question as to why I need to do that.   I would rather not pollute this thread with regard to why I need to do something.   For the purpose of discussing whether or not something is supported does not require explanation for why I need the functionality.   I prefer keep the discussion succict.   My question was promptly answered by the Chakra team as well, and I appr

[2016-01-19 18:56] yunong opened #8 "CPU Profiling"
Is there support for profiling of JS stack frames in Chakra? With the V8 engine, you could profile the stack frames at runtime. This is critical as it allows us to objectively observe, compare, and profile the CPU usage of our process. This is possible in both Linux (http://yunong.io/2015/11/23/generating-node-js-flame-graphs/) and Illumos (https://nodejs.org/en/blog/uncategorized/profiling-node-j

[2016-01-19 18:59] yunong opened #9 "Post Mortem Support"
Any thoughts on post mortem support? It's possible to generate a core dump of a V8 Node process and inspect both javascript and native objects. This is useful for many classes of problems. In particular, this helps to diagnose unexpected crashes and memory leaks.

[2016-01-19 19:02] brendangregg commented on #8
Perhaps one can do this using the profile provider from Windows DTrace? https://github.com/prash-wghats/DTrace-win32

For Linux perf_events, if frame pointers work, then it's just a matter of dumping a /tmp/perf-PID.map file for the symbol lookups (http://www.brendangregg.com/blog/2014-09-17/node-flame-graphs-on-linux.html).

[2016-01-19 23:30] kunalspathak commented on #9
Thanks for the interest @yunong. You could use [windbg](https://msdn.microsoft.com/en-us/library/windows/hardware/ff551063%28v=vs.85%29.aspx) to debug dump from node+chakracore. You could track unexpected crashes and memory leaks with it. An example of bug in node-serialport that I could track using windbg is voodootikigod/node-serialport#623.

However it will just support inspecting native object

[2016-01-19 23:34] kunalspathak commented on #7
@kasajian - Is there anything that need to be answered or its fine to close the issue?

[2016-01-20 03:48] #7 closed, assigned to nobody

[2016-01-21 08:10] mathiasrw opened #10 "--v8-option gives "bad option""
Wanting to see if nodeChakra would play nicely with [AlaSQL](https://github.com/agershun/alasql) I installed  [6.0.0-pre2](https://github.com/Microsoft/node/releases/tag/node-chakracore-6.0.0-pre2)

`npm install` works fin.

When I do a `npm test` I get the message that --v8-option is a "bad option".

So - I cant get to the interesting part (running the tests) because `node --v8-options` is called

[2016-01-21 17:50] kunalspathak commented on #10
Currently chakrashim supports only few flags displayed by `--v8-options` like `--use-strict` and `--expose-gc`. We could update shim to treat `--v8-options` as a valid parameter and it will display only flags supported by chakrashim. I will investigate into this.
Thanks for reporting.

[2016-01-21 19:30] mathiasrw commented on #10
:+1:

[2016-01-22 09:07] trendzetter opened #11 "windows specific other platforms are not first class. windows centric is not open"

[2016-01-22 16:02] kunalspathak commented on #11
@trendzetter  - Sorry I didn't understand what is the issue? Could you please elaborate?

[2016-01-22 18:02] EdMaurer commented on #11
We welcome your help to bring this to Linux! This version of Node.js is dependent upon ChakraCore's support for other platforms. Linux is the first platform beyond Windows that ChakraCore is targeting as seen in the [roadmap.](https://github.com/Microsoft/ChakraCore/wiki/Roadmap)

[2016-01-23 06:49] doug-wade opened #12 "installer doesn't add node to path"
This looks really cool!  I'm trying to get [koa 2.0.0](https://github.com/koajs/koa/issues/533) up and running, since it requires async/await, and I've [heard tell](https://bugs.chromium.org/p/v8/issues/detail?id=4483) this fork supports it.  I'm trying to install using the [msi download](https://github.com/Microsoft/node/releases/download/node-chakracore-6.0.0-pre2/node-chakracore-x64.msi) for pr

[2016-01-24 09:31] hgwood opened #13 "Is there way to detect that the code is running on Node.js Chakra?"
This could be helpful to conditionally activate [UWP](https://github.com/Microsoft/node-uwp)-specific modules.

[2016-01-25 01:32] xieranmaya commented on #13
Should be the `process.release`
https://nodejs.org/dist/latest-v5.x/docs/api/process.html#process_process_release

[2016-01-25 03:23] kunalspathak commented on #13
We introduced property `jsEngine` on `process` object.

[code]

[2016-01-25 09:37] hgwood commented on #13
Great, thanks. I will try that.

[2016-01-25 09:37] #13 closed, assigned to nobody

[2016-01-25 15:32] warpdesign opened #14 "How do I use it ?"
I installed ChakraCore from here https://github.com/Microsoft/node/releases

The readme states that `This Node.js will work side-by-side with any existing Node.js with v8 installation.`.

But how do I use it ? From a command line, `node --version` still points to my existing nodejs with v8 installation.

[2016-01-25 15:45] jianchun commented on #14
@warpdesign Seems your existing nodejs with v8 is in your PATH. To try out Node.js with ChakraCore, you can launch "Node.js (chakracore)" or "Node.js (chakracore) command prompt" from Windows Start.

[2016-01-25 15:52] jianchun commented on #12
@doug-wade I'm very confused. This build of Node.js with chakracore only runs on Windows. We are working hard to make it cross-platform. How could you install it on Ubuntu?

Thanks for reporting the broken link... not sure how that happened. Will follow up.

[2016-01-25 17:10] warpdesign commented on #14
Yes, it is indeed. Thanks!

I suggess adding in the readme file that these two new entries are added to the start screen for trying out chakracore Node.js.

[2016-01-25 17:12] kunalspathak commented on #12
@doug-wade , I have fixed the broken link for VS installer.

[2016-01-25 23:08] d3x0r opened #15 "ES6 Modules Support"
Sample Code...

[code]

[code]

Output

[code]

Not very informative error; nodeJS with V8 Usually outputs the source line in question... as in

NodeJS (V8)

[code]

[2016-01-26 00:18] kunalspathak commented on #15
@d3x0r , Thanks for reporting. There are differences in the Syntax error messages and chakracore doesn't show the source line in question. Feel free to open issue at Microsoft/ChakraCore repo.

If you see https://github.com/Microsoft/node/commit/0faa5df2b9ac70157208efa90cbcde2526221b37 , we are aware of error differences and had to add if-else in unit test to differentiate between v8. and chakra.

[2016-01-26 07:38] kunalspathak commented on #15
Thanks @d3x0r . I will close this issue as you have an open issue in chakracore.

[2016-01-26 07:38] #15 closed, assigned to nobody

[2016-01-26 07:39] #11 closed, assigned to nobody

[2016-01-26 07:40] #12 closed, assigned to nobody

[2016-01-26 18:56] doug-wade commented on #12
@jianchun oh, I didn't realize -- that's very disappointing.  nevermind, then.

@kunalspathak thanks!

[2016-01-26 19:11] jianchun commented on #12
@doug-wade  We are working on it. You can track our progress here (still very early): https://github.com/Microsoft/ChakraCore/tree/linux

[2016-01-29 01:33] kunalspathak commented on #6
@morkai , Regading crash on Windows 7, similar issue was recently reported at Microsoft/chakracore#212 and was fixed with Microsoft/chakracore#202. Just to make sure that this is same issue, could you please confirm if your machine has `IE11` installed?

[2016-01-29 08:59] morkai commented on #6
No `IE11` on the Windows 7 machine - only `IE9`.

[2016-01-29 23:17] kunalspathak commented on #6
Thanks for confirming @morkai . The latest [release](https://github.com/Microsoft/node/releases/tag/node-chakracore-6.0.0-pre3) should unblock you from using `Node.js with chakracore`  on Windows 7 machine.

We are investigating the performance issue you reported and will update you on it.

[2016-02-01 05:19] alexlamsl opened #16 "6.0.0-pre3 wrong version string"
It's not that important, but I couldn't find anywhere else to comment on this.

The latest MSI release is still reporting as `6.0.0-pre2` when I run `node -v`, which makes me initially thought the upgrade failed.

[2016-02-01 16:10] kunalspathak commented on #16
Thanks @alexlamsl  for reporting this. I have fixed the binaries to reflect version `v6.0.0-pre3`.

[2016-02-01 16:24] alexlamsl commented on #16
Installed and verified. Thanks!

[2016-02-01 16:24] #16 closed, assigned to nobody

[2016-02-01 20:05] aruneshchandra commented on #14
Added "You can look for "Node.js (chakracore) command prompt" in your start menu to launch Node.js with ChakraCore." it to this to release descriptions.

[2016-02-01 20:05] #14 closed, assigned to nobody

[2016-02-05 16:45] danieljoppi opened #17 "Node addons"
Actual Node (V8) addons works with C/C++

The Node with chakra ... I can create addons using C#?

[2016-02-05 17:01] kunalspathak commented on #17
@danieljoppi , Node with chakra relies on C/C++ just as Node(v8). For add-ons using C#, you might want to check [edge.js](https://github.com/tjanczuk/edge).

[2016-02-05 17:21] danieljoppi commented on #17
@kunalspathak I know about [edge.js](https://github.com/tjanczuk/edge) ... but it is not a good option for my application ...
:cry:

[2016-02-11 18:00] orangemocha opened #18 "Participation in the node-chakracore Working Group"
Following up to the discussion at https://github.com/nodejs/node/pull/4765, I’d like to start a new working group, [node-chakracore](https://github.com/orgs/nodejs/teams/node-chakracore), and extend an invitation to members of @nodejs/collaborators, @nodejs/ctc and @nodejs/chakra to participate.

As I see it, the main purpose of this WG would be to act in the same capacity for this repo as @nodejs

[2016-02-11 18:05] orangemocha opened #19 "Naming of process.jsEngine"
As raised in https://github.com/nodejs/node/pull/4765#issuecomment-182883309

cc @silverwind @isiahmeadows

[2016-02-11 18:11] benjamingr commented on #19
What is the es vs js naming debacle?

The implementation is JS, the spec is ES, do you really believe people would confuse it because it's JS?

[2016-02-11 18:21] jasnell commented on #19
@orangemocha ... perhaps `process.engine.js` ? Doing so would allow for the possibility of other "engines" in the future without the ambiguity.

[2016-02-11 18:24] kunalspathak commented on #17
@danieljoppi , given that node eco system doesn't support write managed add-ons, is that ok to close the issue?

[2016-02-11 18:40] silverwind commented on #19
I personally would prefer it to be called ES everywhere, but that's like never going to change. My point is if the ES name is ever going to get significant traction, we're better off with `engine` in the long run.

[2016-02-11 18:47] #17 closed, assigned to nobody

[2016-02-11 20:55] munyirik commented on #10
+1.
I tried using [DNU](https://github.com/aspnet/Home/wiki/DNX-utility) to publish an asp.net app and ran into this error:

F:\Projects\WebApplication1\src\WebApplication1>dnu publish --runtime dnx-coreclr-win-X86.1.0.0-rc1-update1 --out aspx86
Microsoft .NET Development Utility Clr-x86-1.0.0-rc1-16231

Executing script 'prepublish' in project.json
npm WARN EPACKAGEJSON ASP.NET@0.0.0 No descripti

[2016-02-11 20:57] kunalspathak commented on #10
@munyirik , just curious what is the purpose of command in your script?

[code]

[2016-02-11 21:16] munyirik commented on #10
It's happening when "gulp clean" is ran. A new ASP.NET 5 application (from Visual Studio template) specifies a series of commands to run (see below). "gulp clean" is where the failure happens. I don't really know what it does.

"prepublish": [ "npm install", "bower install", "gulp clean", "gulp min" ]

[2016-02-12 15:54] cjihrig commented on #18
@orangemocha is there a timeline for support of non-Windows operating systems?

[2016-02-12 16:09] kunalspathak commented on #18
@cjihrig , We are working actively to port Chakracore on linux and you can follow its progress [here](https://github.com/Microsoft/chakracore/tree/linux). We should have bare minimum working after couple of months. At that time we will work to get the necessary work to make node.js + chakracore work on linux.

[2016-02-12 16:17] cjihrig commented on #18
Thanks @kunalspathak

[2016-02-12 16:25] joshgav commented on #18
Count me in!

[2016-02-12 20:16] joaocgreis opened #20 "Runtime crash on Windows 2008 R2"
The current chakracore-master build crashes on startup in Windows 2008 R2, without any warning or error.

By running in Visual Studio in debug mode, the crash seems to be triggered by an assertion failure in [CharClassifier.cpp, line 624](https://github.com/nodejs/node-chakracore/blob/8a8c98ca4b733fe23e5c921584329fd1946e51eb/deps/chakrashim/core/lib/Parser/CharClassifier.cpp#L624).

cc @nodejs/nod

[2016-02-12 20:19] kunalspathak commented on #20
Thanks @joaocgreis  for reporting this. It is a known chakracore issue that is already fixed. See [this](https://github.com/nodejs/node-chakracore/issues/6#issuecomment-176512169) for more details. We will get those changes in node+Chakracore with next update. Workaround for now would be to install IE11 on the machine.

[2016-02-12 20:29] joaocgreis commented on #20
Great, thanks @kunalspathak. No point in leaving this open then.

[2016-02-12 20:30] kunalspathak commented on #20
I think we should keep this issue open till we port the changes in chakracore-master.

[2016-02-12 22:52] kunalspathak opened #21 "Port gyp changes to upstream"
As [commented](https://github.com/nodejs/node/pull/4765#issuecomment-173091869) by @shigeki on nodejs/node#4765, we need to submit gyp changes to upstream. An equivalent patch is in PR on nodejs/node-gyp#873.

[2016-02-12 22:56] kunalspathak opened #22 "OpenSSL: Consider asm build on ARM"
As [commented](https://github.com/nodejs/node-chakracore/commit/12cc5d95f143bc45f5a6a832a0335e9a8f9d152e#commitcomment-15548628) by @shigeki in nodejs/node#4765 , we should consider adding new config for WIN_CE.

[2016-02-13 00:51] liminzhu opened #23 "Link to correct JSRT documentation"
Consider update the JSRT link in this [paragraph](https://github.com/nodejs/node-chakracore#how-it-works) to https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Overview. Old link navigates to MSDN documentation of JSRT in Chakra and it has minor differences with JSRT in ChakraCore.

[2016-02-13 05:53] thefourtheye commented on #18
Well, I would love to review the code patches submitted. Please count me in.

I assume committing directly without a PR is not encouraged in this repo as well. Will the PRs submitted follow the similar procedure we follow in the nodejs core?

[2016-02-13 10:31] kunalspathak commented on #6
@morkai , after investigating this for sometime, it seems that the slowness in node+chakracore is happening because of JIT optimization that we don't do for `arguments`. See Microsoft/Chakracore#313 for details.
I noticed some other areas in chakrashim that needs tweaking to improve performance.
- Whenever we create new instance of ObjectTemplates, we call [JsGetOwnPropertyNames](https://github.co

[2016-02-13 10:36] kunalspathak commented on #19
I agree with @jasnell . `process.engine.js` is self-explanatory and gives room for other engines/frameworks.

[2016-02-14 23:15] dn7q3b-zz opened #24 "building with Microsoft Visual C++ Build Tools 2015 Technical Preview"
Do you support building with [Microsoft Visual C++ Build Tools 2015 Technical Preview](https://blogs.msdn.microsoft.com/vcblog/2015/11/02/announcing-visual-c-build-tools-2015-standalone-c-tools-for-build-environments/)?

On Win 10 Pro with only the Build tools (both 8 and 10 SDKs installed) using
- Visual C++ x64 Native Build Tools Command Prompt
- added set VS140COMNTOOLS=C:\Program Files (x86)\M

[2016-02-15 02:03] kunalspathak commented on #24
@dn7q3b , this is known problem and related to windows 8.1 SDK header dependencies of chakracore. Unfortunately you will need to install VS 2013 or VS 2015 for now to address it until we work on removing the dependency. Feel free to open an issue on Microsoft/Chakracore.

[2016-02-15 08:35] kunalspathak commented on #23
Thanks @liminzhu , will do.

[2016-02-15 16:27] orangemocha commented on #18
I have given this a bit more thought and since the main goal here is to get as much input as possible from Node.js collaborators, we don’t need to create an additional barrier for them. So I think it would be appropriate to give all @nodejs/collaborators and @nodejs/ctc members collaborator status to this repo (i.e. write permission + ability to sign off pull requests).

One possible counterargume

[2016-02-15 16:29] orangemocha commented on #18
@thefourtheye, thank you! In any case I have added you to @ nodejs/node-chakracore. Yes, PRs should  follow the similar procedure we follow in the nodejs core. That includes running CI on all PRs. We are also working on adding a node-chakracore specific CI job that will actually test the chakracore build.

@joshgav, thank you for the request! As already discussed offline, while I would certainly v

[2016-02-15 16:34] thefourtheye commented on #18
@orangemocha Thank you :-)

[2016-02-15 18:42] joshgav commented on #18
Makes sense to me, thanks!

[2016-02-15 18:56] orangemocha commented on #24
We should keep this issue open until the problem is resolved...

[2016-02-15 21:15] jbergstroem commented on #18
@orangemocha good point. As a member of the build group I'd also like to know more about changes that might affect how we build node. Unfortunately, most changes in the build system takes a long time to sunset or integrate (ci, whatnot).

[2016-02-16 03:56] rvagg commented on #18
@orangemocha makes perfect sense, we already have a culture of _don't touch that thing if you don't understand it_ so I don't imagine any problems here.

[2016-02-16 15:38] shigeki commented on #22
I would like to know if there is someone who has ever built OpenSSL-1.0.2 on the current Windows ARM.
I have raspberry pi2 but never installed Windows 10 IOT. Building OpenSSL needs perl and I'm not sure that if it is provided for Win ARM.

Another issue is that the current no-asm configuration of openssl in node is made based on Linux.  We have to check if there are some additional sources or def

[2016-02-16 17:49] joaocgreis commented on #18
If I understood it correctly, the @nodejs/chakra team is composed by people who understand the Chakra engine in detail, and @nodejs/node-chakracore by people who care about the integration of Chakra with node. So we should mention @nodejs/chakra for complex engine issues and @nodejs/node-chakracore for everything else. Is this correct?

[2016-02-16 19:38] orangemocha commented on #18
@joaocgreis that was the idea. If this proves to be confusing we could rename @ nodejs/chakra to something like @ nodejs/chakra-internals.

[2016-02-16 20:28] MikeHolman commented on #8
Chakra registers js stack frames with ETW, so you can use any tool which reads this. I would recommend using tools WPR and WPA (included in the Windows SDK). It has a bit of a learning curve, but is very powerful!

[2016-02-17 05:38] rvagg commented on #18
`@nodejs/chakra` has an obvious parallel with `@nodejs/v8` which is used for exactly the purpose being described here and `@nodejs/node-chakracore` has a temporary look to it so this all makes sense I think.

[2016-02-17 08:49] thefourtheye commented on #18
Wouldn't it be better if we reverse the names? Chakra core will have core people and chakra will have other contributors. How is it?

[2016-02-17 09:14] kunalspathak commented on #18
This will still be confusing because `@nodejs/chakra` has description of `chakra` as well as `chakracore`. I feel that current nomenclature is fine.
- `@nodejs/chakra` : People who understand engine internals up to (but not limited to) chakra shim layer.
- `@nodejs/node-chakracore` : People who understand from chakra shim layer up to (and again not limited to) the integration in node.

[2016-02-17 17:18] orangemocha commented on #18
I am guessing a source of confusion here is the `core` suffix. It doesn't refer to a core team. The engine that has been added in this fork is called 'chakracore'. 'Chakra' is the name of the closed source distribution which includes chakracore with a few additional features, and it has also been historically the name of the team at Microsoft who works on the engine.

To avoid this confusion, I th

[2016-02-17 19:04] thefourtheye commented on #18
+1

[2016-02-17 22:29] kunalspathak commented on #8
Chakra do register js stack frames, but Chakracore doesn't. So if you want to get profiling information, you might need [node+chakra](https://github.com/ms-iot/ntvsiot/releases/tag/node-chakra-5.5.0) that runs with `chakra.dll` on your windows 8.1+ machines.
Using that and tools like WPA/WPR that @MikeHolman  pointed out, you can record the ETW events and see it, something like this:

![image](htt

[2016-02-17 23:36] MikeHolman commented on #8
@kunalspathak Ah didn't realize this isn't supported in ChakraCore. I've opened https://github.com/Microsoft/ChakraCore/issues/328 to discuss possibility of adding this.

[2016-02-18 16:21] orangemocha commented on #18
Thanks everyone for the input. I made the following changes:
1. Renamed the Chakra team to ChakraCore. So we have:
   - [@nodejs/node-chakracore](https://github.com/orgs/nodejs/teams/node-chakracore) : people involved in the integration of node with chakracore, a.k.a. maintainers of this repo.
   - [@nodejs/ChakraCore](https://github.com/orgs/nodejs/teams/chakracore) : ChakraCore engine internals

[2016-02-18 16:21] #18 closed, assigned to nobody

[2016-02-18 19:44] ianwjhalliday commented on #20
@kunalspathak this is fixed now in https://github.com/nodejs/node-chakracore/releases/tag/node-chakracore-6.0.0-pre3 correct?

[2016-02-18 19:45] kunalspathak commented on #20
yes, but the changes are not yet in `chakracore-master`. Once they get in, we can close the issue.

[2016-02-18 19:47] ianwjhalliday commented on #20
Ah, gotcha

[2016-02-19 01:45] kunalspathak opened #28 "Update contribution guidelines for javascript and C++ files"
As per https://github.com/nodejs/node-chakracore/pull/25#commitcomment-16192924 , we should update contribution guidelines to reflect the naming and coding convention that are followed in chakrashim of node+chakracore. Node sources, should continue to follow the conventions as per nodejs/node.

[2016-02-19 02:06] thefourtheye opened #29 "Node ChakraCore collaborators sync-up"
As we have new people from both the worlds (Node.js and Chakra), I feel that it would be better to have a meeting to sync up on the processes followed, preferred communication channel and other stuff. Also it would give us a chance to introduce ourselves to the team. Thoughts cc @nodejs/node-chakracore

[2016-02-19 05:55] mathiasrw commented on #10
@kunalspathak

Is this included in the 6.0.0-pre4 release?

[2016-02-19 07:45] kunalspathak commented on #10
Nope. But it should be included in next release. I have changes ready and will send out PR in next few days.

Sent from Outlook Mobilehttps://aka.ms/blhgte

On Thu, Feb 18, 2016 at 9:55 PM -0800, "Mathias Rangel Wulff" <notifications@github.com<mailto:notifications@github.com>> wrote:

@kunalspathakhttps://github.com/kunalspathak

Is this included in the 6.0.0-pre4 release?

##

Reply to this emai

[2016-02-19 11:56] mathiasrw commented on #10
:+1:

[2016-02-19 15:22] orangemocha commented on #28
Isn't code in chakrashim considered a dependency that we take as a whole and don't modify here? I feel that it if those conventions should be documented it would be in the https://github.com/Microsoft/ChakraCore repo.

[2016-02-19 15:29] orangemocha commented on #29
Sounds good to me. Hopefully we can find a time that works for every one, as apparently we have people all over the world.

Here's a doodle: http://doodle.com/poll/hdtfawcbpymchrf7

[2016-02-19 15:51] kunalspathak commented on #28
True that chakrashim is a dependency, but it doesn't come from any repo.  is updated directly in this repo. May be if we move chakrashim in its own repo we can move these contribution guidelines with it. Till then we can have it here, if someone wants to update shim.

'Chakracore' is a dependency that directly come as it is from Microsoft/Chakracore and we definitely don't want it's contribution g

[2016-02-19 21:03] #20 closed, assigned to nobody

[2016-02-22 21:58] jianchun commented on #22
We never built it on Windows ARM. We use Visual Studio to build and there is no Visual Studio on ARM. Instead we cross-build ARM on x86/x64 hosts.

Do you have specific concerns for this? Are the functionalities covered by unit tests? We have been using the current no-asm configuration for Windows ARM and it builds/runs.

[2016-02-22 22:02] jianchun commented on #22
@shigeki Could you please elaborate on the original `WIN_CE` configuration comment? As I understand `WIN_CE` is an outdated platform. Is OpenSSL dep or node.js ever built for `WIN_CE`, why do you want to add it now?

[2016-02-23 15:24] shigeki commented on #22
@jianchun Yes, WIN_CE is very old platform and OpenSSL has not been maintaining it for a long time.  I  just commented about WIN_CE because https://github.com/nodejs/node-chakracore/blob/chakracore-master/deps/openssl/openssl/INSTALL.WCE indicates how to build openssl on Windows ARM and I'd like to know if it still work on the current Windows ARM with generating asm files.  The current Node-Chakra

[2016-02-23 16:52] orangemocha commented on #29
@thefourtheye do any of the times in the doodle work for you?

[2016-02-24 17:23] thefourtheye commented on #29
Oops, I am sorry. I think I forgot to press the save button there. My choices are properly listed now.

[2016-02-24 18:54] orangemocha commented on #29
Great, we have one time slot (out of 100 options :smile: ) that works for all poll participants.

@nodejs/node-chakracore, see you this Friday, February 26th, at 5pm UTC, or in your time zone: http://www.timeanddate.com/worldclock/fixedtime.html?msg=node-chakracore+WG+kickoff+meeting&iso=20160226T17&p1=1440

I will post hangout links by Friday.

Please suggest agenda items by commenting on this is

[2016-02-25 20:21] orangemocha commented on #29
Suggested agenda items so far:
- Meet and greet
- High-level sync up on the objectives of this project.
- doc: contribution guidelines for node-chakracore [https://github.com/nodejs/node-chakracore/pull/27 ]
- Update contribution guidelines for javascript and C++ files [https://github.com/nodejs/node-chakracore/issues/28]
- Managing this repository with Git towards the PR at the end [https://githu

[2016-02-25 20:27] orangemocha commented on #29
Hangout on Air links:
- For participants: https://plus.google.com/hangouts/_/hoaevent/AP36tYfwFduJWygz18lncv0WN7CXDaRPoKqWjLUc-E6SVFBHWgjgZw?hl=en&authuser=0
- For viewers: http://www.youtube.com/watch?v=9SdBbUrmWeM

[2016-02-26 05:14] joaocgreis opened #31 "Managing this repository with Git towards the PR at the end"
@nodejs/node-chakracore

The objective of this repository is to keep developing Node on ChakraCore, in order to open a pull request on the main Node repository when we agree that it is time.

How will we open the pull request?
- Directly from `chakracore-master`, using a merge commit to land: This would keep all the merges from `master` to `chakracore-master`, all the updates to chakracore and cha

[2016-02-26 05:15] joaocgreis commented on #29
I'd like to add https://github.com/nodejs/node-chakracore/issues/31 to the agenda.

[2016-02-26 20:53] orangemocha commented on #29
I summarized today's discussion in this doc: https://docs.google.com/document/d/1USCqsrat0QM0H4EMrutb_slmAHAkja-z4cQ2gPlc-Pg/edit?usp=sharing

This is the same doc shared with participants, so feel free to make any edits. Thank you!

[2016-02-29 06:20] #10 closed, assigned to nobody

[2016-02-29 06:29] mathiasrw commented on #10
:+1:

[2016-02-29 07:44] mathiasrw commented on #10
Any news on when you plan to release `pre5`?

[2016-02-29 17:29] jianchun commented on #10
@mathiasrw Likely early this week.

[2016-02-29 21:55] jianchun commented on #10
@mathiasrw Released. Please help verify if the issue is fixed. Thanks!

[2016-02-29 22:16] mathiasrw commented on #10
I can confirm that with the `pre5` release the issue is not present any more. Thanks for the quick response.

[2016-02-29 22:28] jianchun commented on #10
@mathiasrw Great, thanks for following up with this issue!

[2016-03-01 13:09] feng-xiao opened #32 "Not compatible with v8 nodejs packages (pre5)"
got following error when running gulp tasks

(node:26596) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.

[2016-03-01 13:10] rvagg commented on #32
this is a warning that will go away when the dependencies of gulp or the tasks they are running upgrade graceful-fs to the latest version, you could assist this by figuring out what is using graceful-fs and go ask them to update to the latest version

[2016-03-01 13:10] #32 closed, assigned to nobody

[2016-03-01 16:45] feng-xiao commented on #32
have you tested it with gulp-msbuild? in which case, it failed besides showing the same warning

[2016-03-02 00:06] jianchun commented on #5
Recently released MSIs all have this issue resolved.

[2016-03-02 00:06] #5 closed, assigned to nobody

[2016-03-02 15:44] orangemocha commented on #19
I am not sure we need an `engine` object to make rooms for other types of engines. Making a name unambiguous doesn't necessarily require making room for all the other possible things that could be called "engines" in the same object :smile:

I also doubt that `process.engine.js` satisfies @silverwind concerns, as it still mentions `js`.

Regarding that original concern, I am not sure if I agree th

[2016-03-02 17:32] silverwind commented on #19
You're right, I wouldn't be happy about `process.engine.js` either. Not because of the `.js`, but because of the unnecessary complexity. Node.js has been following the concept of short and simple method names and I'm sure would not have liked to end up with a `fs.GetFileInformationByHandleEx` over `fs.stat`. Devs love short an memorable API names :wink:.

[2016-03-02 18:37] #29 closed, assigned to nobody

[2016-03-03 05:04] alexlamsl opened #34 "fs: re-evaluating native module sources is not supported"
With the latest build I'm starting to get warnings when I run certain `npm` commands:

[code]

[2016-03-03 05:23] rvagg commented on #34
this will be solved when the bundled version of npm is updated, very soon

[2016-03-03 05:23] #34 closed, assigned to nobody

[2016-03-03 05:28] alexlamsl commented on #34
@rvagg thanks!

[2016-03-03 18:09] jianchun opened #36 "process.env.hasOwnProperty('abc') throws exception"
Node.js with v8 returns false but with chakracore throws.

[code]

Found by #32.

[2016-03-03 18:11] jianchun commented on #32
@feng-xiao Thanks for reporting this! I reproduced and opened a new issue for it.

[2016-03-04 01:38] jianchun commented on #36
Found what's going on. Will fix and test related APIs thoroughly.

[2016-03-13 15:19] alexlamsl opened #38 "eslint does not work on ChakraCore"
So the issue is some V8-specific hack which I've narrowed down to https://github.com/sindresorhus/callsites/issues/3

[2016-03-13 15:23] alexlamsl commented on #38
In case the issue gets edited or deleted, here's the workaround:

[code]

[2016-03-14 16:54] jianchun commented on #38
@alexlamsl Thanks for reporting and tracking down this issue!

I just did an experiment and noticed nodejs source uses config file `.eslintrc`, not `.eslintrc.js`.
- If I use `.eslintrc` and run eslint on node-chakracore, it works for me.
- If I rename `.eslintrc` to `.eslintrc.js`, eslint fails on both node-chakracore and official nodejs (v8).

On official nodejs:

[code]

Now on node-chakracore:

[2016-03-14 16:59] alexlamsl commented on #38
I think `new Error().stack` is a string in V8 as well. The difference here is that the module in question intercepted [`Error.prepareStackTrace`](https://github.com/sindresorhus/callsites/blob/master/index.js#L4) which is probably something V8 uses internally to build the string.

[2016-03-14 17:04] alexlamsl commented on #38
`.eslintrc.js` is what `eslint --init` gave me.

And I can see why `.eslintrc` might not give the same trouble - as that's probably JSON, it doesn't need the "uncached require" trick it uses in `.eslintrc.js`

[2016-03-14 17:04] targos commented on #38
The `.eslintrc` file of node is written in YAML, so if we change its name, it should be `.eslintrc.yml`

[2016-03-14 17:06] alexlamsl commented on #38
@targos didn't know - thanks for the clarification.

[2016-03-14 17:07] jianchun commented on #38
Exactly the same fragment and the change I suggested here: https://github.com/tjanczuk/edge/pull/397/files#diff-0e4e1133adcfe5f0ff191a127128f9ceL71

ChakraCore doesn't support a hook for `new Error().stack`. `Error.captureStackTrace(err)` allows us a hook opportunity to support v8 style stack frames.

[2016-03-14 17:12] alexlamsl commented on #38
@jianchun eh?! I'm using node-chakracore pre-5 and the workaround I posted above works...?

The [original code](https://github.com/sindresorhus/callsites/blob/master/index.js) is the one that breaks atm.

[2016-03-14 17:15] alexlamsl commented on #38
Got out of bed and onto my PC just to be extra sure...

[code]

[2016-03-14 17:18] jianchun commented on #38
I see, now I can reproduce the issue you reported. (In my previous test I copied .eslintrc from nodejs source.)

Will try find what we can do. This issue is from dependency on v8's Error.stack capture internals. People swaps `Error.prepareStackTrace` to get raw non-stringified `Error.stack`.

[2016-03-14 17:23] alexlamsl commented on #38
@jianchun that's my understanding as well - glad we are on the same page :wink:

For the record, I am not in a hurry either way - I was learning about eslint when I stumpled upon this issue. And I will be perfectly content to use `.eslintrc` instead now that I know about it.

So just typing up a record here, that's all.

[2016-03-16 22:52] #36 closed, assigned to jianchun

[2016-03-17 19:44] silverwind commented on #19
Looks like there is no general consensus for `engine`, so I guess `jsEngine` is fine.

[2016-03-17 19:44] #19 closed, assigned to nobody

[2016-03-21 18:13] aruneshchandra opened #41 "REPL broken for async function"
REPL for Node-ChakraCore does not work with async functions.

Node-Chakra version
`v6.0.0-pre4`

[code]

[2016-03-21 18:26] jianchun commented on #41
@aruneshchandra What's expected behavior?
@boingoing Do you happen to know about this?
Thanks!

[2016-03-21 18:52] targos commented on #41
Async functions return a Promise when called. Do you get the same error with something like `Promise.resolve()` ?

[2016-03-21 19:02] aruneshchandra commented on #41
@targos - Yes

[2016-03-21 22:18] boingoing commented on #41
I'm not familiar with REPL but looks like util.js is using the mirror debugger to inspect the promise instance. It may be probing for internal promise state. I don't have experience with it. Looks like the API is Debug.MakeMirror. Perhaps this is not supported yet.

@kunalspathak Do you have context on this?

[2016-03-22 04:14] kunalspathak commented on #41
Yes, MakeMirror is a v8 specific debugging API that node uses to inspect the properties of an object and Chakracore doesn't have the implementation of it yet.

Sent from Outlook Mobilehttps://aka.ms/blhgte

On Mon, Mar 21, 2016 at 3:18 PM -0700, "Taylor Woll" <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm not familiar with REPL but looks like util.js is using the mirror de

[2016-03-22 19:36] jianchun commented on #41
Thanks for these info! I prototyped a fake Debug.MakeMirror support to make this look nicer:

[code]

Currently I can only get "Promise { undefined }" disregarding real status (pending, resolved, ...). If we have APIs to inspect Promise internal states, we could improve this. Do we have any way to inspect? @boingoing

@aruneshchandra Would you like this to get in?

[2016-03-22 20:52] boingoing commented on #41
@jianchun The engine tracks internal promise states but they aren't exposed via any Jsrt API. It shouldn't be too hard to add one. The fields you're interested in are JavascriptPromise::status and JavascriptPromise::result, I think.

[2016-03-22 23:22] aruneshchandra commented on #41
Having the real fix backed by the new JsRT api will be ideal, however I think we should take the current fix. Also it would be nice to show `Promise { unknown }` which seems more accurate in this case.

[2016-03-22 23:53] jianchun commented on #41
@aruneshchandra Changed to

[code]

@agarwal-sandeep @liminzhu How will we inspect a Promise object from a debugger? Specifically need to access its "status" and "result" as @boingoing said.

[2016-03-23 00:23] #38 closed, assigned to nobody

[2016-03-23 00:42] aruneshchandra commented on #41
Sweet - thanx @jianchun !

[2016-03-24 02:53] ysmood opened #43 "Please support Linux or OSX"
Is there a Linux or OSX built?

[2016-03-24 06:54] laggingreflex opened #44 "socket.io not working"
requiring socket.io doesn't work and fails silently.

It installs correctly

[code]

This is the simple test file:

**index.js**

[code]

Running it logs 1 but exits silently after it

[code]
- **Version**: v6.0.0-pre5
- **Platform**: Windows 10 64 bit

[2016-03-24 13:09] xtianus79 commented on #43
What do you mean?

[2016-03-24 15:22] ysmood commented on #43
Sorry, I thought it didn't support unix. I was wrong. Close the issue.

[2016-03-24 15:22] #43 closed, assigned to nobody

[2016-03-24 15:46] jianchun commented on #43
@ysmood ChakraCore currently only runs on Windows, cross-platform is in the works: https://github.com/Microsoft/ChakraCore/wiki/Roadmap#enhancing-host--platform-support.

[2016-03-24 15:49] ysmood commented on #43
Only one question. How to enable async/await support?

[code]

Seems doesn't work.

[2016-03-24 16:32] jianchun commented on #43
node-chakracore has the support on by default. I'm not sure of the status though. @aruneshchandra Do you know if async/await fully works? I tried a few tests and getting syntax errors around await.

[2016-03-24 19:19] jianchun commented on #44
@laggingreflex I just tried it on my box and it works. Do you launch node-chakracore through "Start -> Node.js (chakracore) command prompt"? (Do you happen to have globally installed npm or node-gyp? Not sure if we have issues there.)

[2016-03-24 19:44] #44 closed, assigned to nobody

[2016-03-24 20:47] aruneshchandra commented on #43
Once #41 gets resolved - using await like this should work.

[code]

[2016-03-28 19:31] #41 closed, assigned to nobody

[2016-03-31 00:48] jianchun opened #48 "node-chakracore-6.0.0-pre6 release proposal"
## node-chakracore-6.0.0-pre6 release proposal
### Commits

[d9469f1] - chakrashim: update chakracore to 1.1.0.5
[b838007] - chakrashim: use microtask queue to run Promise
[2723d94] - test: address 2 new failures on node-chakracore
[88dc654] - Merge remote-tracking branch 'nodejs/master'
[803af69] - chakrashim: add dummy Debug.MakeMirror
[e7b09ef] - chakrashim: better StackTrace API compat
[c6d6e6

[2016-03-31 00:52] jianchun commented on #48
This is to propose a new node-chakracore-6.0.0-pre6 release. There have been 3 master syncs, several module compat fixes, and 1 chakracore update since last release.

I'm going to add a deps/chakrashim/CHANGELOG.md to record this info.

@nodejs/node-chakracore

[2016-03-31 22:59] choikwa opened #50 "Building with enable-vtune fails due to deprecated <hash_map>"
Building with below command fails due to deprecated <hash_map>. It should be replaced with  <unordered_map>
cmdline: vcbuild chakracore x86 nosign enable-vtune

Affected file: ./deps/v8/src/third-party/vtune/vtune-jit.cc

Also, not sure if enable-vtune is enabled with chakracore option since above path points to v8
- **Version**: 6.0.0-pre
- **Platform**: Win8.1 64bit
- **Subsystem**: _optional. i

[2016-03-31 23:04] jianchun commented on #50
@choikwa What command line exactly triggers this failure? As you said, that was in `v8/src` and should not affect building with chakracore (not supported really).

[2016-04-01 17:55] choikwa opened #51 "Expose (and tie) ChakraCore options like --v8-options"
Showing which options that could be passed to ChakraCore would be nice for debugging and customizing purposes.

- **Version**: v6.0.0-pre
- **Platform**: Win8.1 64bit
- **Subsystem**: _optional. if known - please specify affected core module name_

[2016-04-01 18:05] jianchun commented on #51
@choikwa ChakraCore does not accept customizing options (at least yet). The output you posted are exactly what's available now and are implemented by the "shim" code in this repo.

[2016-04-02 07:59] kika123 commented on #22
Windows CE uses ARM, but WoA uses Thumb mode
By the way, I have a native compiler on my WoA machine(cross-compiled Clang). An official MS build of Perl exists

[2016-04-02 08:03] kika123 commented on #22
An cross-compiled Clang runs relatively well, and works fine(even with MSBuild)

[2016-04-02 19:13] #48 closed, assigned to nobody

[2016-04-10 07:50] alexlamsl opened #55 "npm adduser not working"
### v8

[code]

Notice the problems with duplicated outout, but at least I can login...
### chakracore

[code]

I wasn't even offered a chance to type my email after plain-text password entry; it just errs out.

[2016-04-10 07:51] alexlamsl commented on #55
I have a quick browse through https://github.com/npm/npm/releases between 3.7.3 and 3.8.3, but couldn't find any mentions of `adduser` except for docs

[2016-04-11 17:36] jianchun commented on #55
@alexlamsl Thanks for reporting this issue. I can reproduce it with node-chakracore-v6.0.0-pre6, and seems the issue goes away with https://github.com/nodejs/node-chakracore/pull/52 (which does include NPM 3.8.3). Will keep an eye on this and propose a new release next week to fix it.

[2016-04-11 17:45] alexlamsl commented on #55
@jianchun I'll be sure to check `6.0.0-pre7` out - thanks!

[2016-04-14 04:50] alexandruradovici opened #56 "child_process.* exits with -2147483645"
- **Version**: v6.0.0-pre2
- **Platform**: Windows IoT Core, Raspberry Pi 2 Model B
- **Subsystem**: child_process

Any function related to spawn from child_process makes the program crash with %errorlevel% -2147483645.

I am using it with ssh. Pressing any keys like arrow keys blocks the console and prevents any other ssh connection.

Here is the code the I use

[code]

[2016-04-16 00:34] aruneshchandra commented on #56
@alexandruradovici - I am going to close this issue, since we were able to resolve it over the phone.  Feel free to re-open if it still exists.

[2016-04-16 00:34] #56 closed, assigned to nobody

[2016-04-16 05:25] alexandruradovici commented on #56
The solution was to upgrade the Windows IoT Core to https://developer.microsoft.com/en-us/windows/iot/win10/getstarted/setupyourdevicemanually

[2016-04-18 19:17] jianchun opened #58 "node-chakracore-6.0.0-pre7 release proposal"
This is to propose node-chakracore-6.0.0-pre7 release. There have been 2 nodejs/master merges and a few chakrashim fixes since node-chakracore-6.0.0-pre6. Also the new release would resolve #55.
### Commits
- [[`589206a`](https://github.com/nodejs/node-chakracore/commit/589206a)] - chakrashim: remove a jslint comment
- [[`5dafb03`](https://github.com/nodejs/node-chakracore/commit/5dafb03)] - Merge

[2016-04-20 14:50] yuej-jin opened #60 "Does the Persistent<T>::SetWeak() do the same thing in v8 compared to chakra?"
- **Version**:
- **Platform**:
- **Subsystem**:

Or is there a "weak reference" conception in chakra? Because I notice chakra only has "JsRef" conception.

So I wonder if there is difference between the "Weak reference" management in v8 and chakrashim.
As I read in v8.h: There is no guarantee as to _when_ or even _if_ the callback is invoked. But in chakra, what will happen?

[code]

[2016-04-20 19:52] #58 closed, assigned to nobody

[2016-04-20 19:54] jianchun commented on #55
@alexlamsl Please try out `6.0.0-pre7`, just [published](https://github.com/nodejs/node-chakracore/releases)

[2016-04-20 20:03] jianchun commented on #60
My answer is basically "yes". ChakraShim's `Persistent<T>::SetWeak` does the same thing, and also `no guarantee as to when or even if the callback is invoked`. With Chakra a `strong` reference is managed through JsAddRef and JsRelease. Without holding a strong reference, you can use [`JsSetObjectBeforeCollectCallback`](https://msdn.microsoft.com/en-us/library/mt125488%28v=vs.94%29.aspx) to set a s

[2016-04-20 20:32] alexlamsl commented on #55
@jianchun works like a charm (even without the double prompts that `5.10.1` have) - thanks!

[2016-04-20 20:32] #55 closed, assigned to nobody

[2016-04-20 20:40] MylesBorins commented on #55
@alexlamsl can you expand on the double prompt?

[2016-04-20 20:41] alexlamsl commented on #55
@TheAlphaNerd See the v8 section in the first comment:
https://github.com/nodejs/node-chakracore/issues/55#issue-147203996

[2016-04-20 21:05] alexandruradovici opened #61 "console.log"
- **Version**: 5.10
- **Platform**: Windows 10 IoT Core
- **Subsystem**: console

console.log should put \r\n as line ending, now it is only \n.

[2016-04-20 21:55] jianchun commented on #55
I have also seen the double prompts _intermittently_.

[2016-04-20 22:06] jianchun commented on #61
Do you have a repro on Windows desktop? Is it from node.exe? (I'm asking because the UWP support in node.dll customized console).

[2016-04-21 05:35] alexandruradovici commented on #61
I am running node.exe version 5.10 on Windows 10 IoT Core. It is not built into an UWP software.

[2016-04-21 17:38] mikeal opened #62 "Talks about Node.js on Chakra at Interactive"
Heya,

There were some great talks last year about Node.js on Chakra, would love to see some more this year :) https://www.conferenceabstracts.com/cfp2/login.asp?EventKey=VSIHQOEU

[2016-04-21 20:49] aruneshchandra commented on #62
Thanx for the heads up @mikeal. We will be submitting Node-ChakraCore talk for the November conference.

[2016-04-21 20:49] #62 closed, assigned to nobody

[2016-04-26 22:12] aruneshchandra opened #65 "Reported by Thali project - Leveldown does not work with Node-ChakraCore."
The [thali project](http://thaliproject.org/) is trying to make its platform run on Node-ChakraCore and have run into an issue with the package "**leveldown**". Here's the test code which is showing this error

_npm ERR! Refusing to install leveldown as a dependency of itself_

[code]

cc: @yaronyg

[2016-04-26 23:39] jianchun commented on #65
Please provide more information. How did you install "leveldown"? It uses **prebuild** which doesn't work with node-chakracore.

I cloned https://github.com/level/leveldown and below works:

[code]

[2016-04-26 23:47] jianchun commented on #61
@alexandruradovici I tried official node.js (v8) 5.10.1 and it reproduces. Looks this is not a node-chakra issue.

[2016-04-26 23:48] #60 closed, assigned to nobody

[2016-04-26 23:49] #51 closed, assigned to nobody

[2016-04-26 23:57] jianchun commented on #50
@orangemocha This issue exists in node.js (v8). Should we open a new issue on nodejs/node?

In node-chakracore, we can either do nothing (likely it does not work), or modify vcbuild.bat to emit an error message. Probably doing nothing is fine... what do you prefer?

[2016-04-26 23:58] MylesBorins commented on #61
@jianchun can you try and the latest versions of v0.10 -> v4 to see if they are all affected?

[2016-04-27 15:26] orangemocha commented on #50
I confirm that I can reproduce the same on nodejs/master. I opened https://github.com/nodejs/node/issues/6422, and we can close this one.

In terms of what to do for vcbuild, I would prefer an error message that says that `enable-vtune` is not compatible with `chakracore`. But until it's proven to not work we can be optimistic :wink:

[2016-04-27 15:26] #50 closed, assigned to nobody

[2016-05-03 21:03] shravyabu opened #67 "IONIC FRAMEWORK"
- **Version**:
- **Platform**:
- **Subsystem**:

Hi Everyone,

I have installed ionic, but when i try to create a project, I am facing below error, re-evaluating native module sources is not supported if you are using the graceful-fs module , please update..

Could you please help .

Thanks in Advance,
shravs

[2016-05-04 18:40] munyirik commented on #21
The changes have been submitted - https://chromium.googlesource.com/external/gyp/+/02b145a1a4f4e1c62e8bae06045caf852d9ef17f

[2016-05-06 14:50] jianchun commented on #67
Looks like this is the same as #34?

[2016-05-10 18:33] #67 closed, assigned to nobody

[2016-05-10 18:37] kunalspathak opened #70 "Add missing stack trace properties on chakrashim"
- **Version**:
  6.0
- **Platform**:
  Windows 10
- **Subsystem**:

Few APIs like `getFunction()`, `IsConstructor()`, etc. are missing from stackTrace that shim exposes. Need to support missing APIs. Currently many modules has [callsites](https://github.com/sindresorhus/callsites) module has a dependency and `node+chakracore` fails for these APIs.

[2016-05-11 19:10] shravyabu commented on #67
Thanks Guys!

[2016-05-16 17:34] kunalspathak opened #72 "ARM builds are broken"
- **Version**: Latest
- **Platform**: Windows
- **Subsystem**:

Currently ARM builds for node+chakracore is failing to build `tools\icu\icudata.vcxproj`.

[code]

[2016-05-27 06:52] kunalspathak commented on #72
This has been fixed by passing `without-intl` to `vcbuild.bat` file. This will skip building `icu` project which any way is not needed for chakracore since chakracore currently relies on `windows.globalization.dll` for `Intl` support.

[2016-05-27 06:52] #72 closed, assigned to nobody

[2016-06-11 00:26] kunalspathak opened #75 "Fix captureStackTrace behavior when passed o.p"
- **Version**:
- **Platform**:
- **Subsystem**:

Currently `Error.captureStackTrace` don't honor 2nd parameter to be function in the form `o.p`.

[code]

Expected:

[code]

Actual:

[code]

[2016-06-12 21:39] alexlamsl opened #78 "parseStack fails for certain Error messages"
- **Version**: v6.0.0-pre7
- **Platform**: Windows Server 2012r2

Logging `Error` messages can cause unexpected errors.

Reproduce using REPL - this works:

[code]

But this doesn't:

[code]

[2016-06-13 19:12] alexlamsl commented on #78
Looks like the [magic number 3](https://github.com/nodejs/node-chakracore/blob/chakracore-master/deps/chakrashim/lib/chakra_shim.js#L176-179) didn't take possible `\n`s in `Error.message` into account...

[2016-06-13 19:35] kunalspathak commented on #78
@alexlamsl - Thanks for reporting this. There are some other bugs in chakrashim and chakracore because of which `Error` is not behaving correctly. See #75 and Microsoft/chakracore#1128.

[2016-06-14 04:30] alexlamsl commented on #78
@kunalspathak thanks for looking into this. I would just add that this bug is more severe than just giving the wrong stack trace - it is causing `console.log(err)` to terminate the whole Node.js process due to the new (unhandled) exception.

[2016-06-21 22:43] kunalspathak opened #81 "node-chakracore-7.0.0-pre8 release proposal"
- **Version**:
- **Platform**:
- **Subsystem**:

This is to propose a new node-chakracore-7.0.0-pre8 release. There have been several master syncs, update to chakracore 1.2 and implementation of idleGc.
### Commits
- [[`89dbaf8`](https://github.com/nodejs/node-chakracore/commit/89dbaf8)] - build: merged conditions for v8_inspector
- [[`f2ad532`](https://github.com/nodejs/node-chakracore/commit/f2a

[2016-06-23 19:48] #81 closed, assigned to nobody

[2016-06-24 17:36] XelaMon opened #84 "invalid option --nolazy"
- **Version**: v7.0.0-pre8
- **Platform**: Windows 10 x64
- **Subsystem**: Unknown

I am working on a new application in TypeScript. I have installed the node.js and TypeScript tools on Visual Studio 2015 and created a new 'Starter Node.js Express 3 Application'. I cannot run the template that is generated because I get the error 'invalid option --nolazy'. Apparently the --nolazy option is used to

[2016-06-28 21:09] matejv1 opened #86 "Unable to query Azure DB from Windows 10 IoT Core"
- **Version**: v5.10.1-0
- **Platform**: Windows 10 IoT Core
- **Subsystem**: node-mssql , tedious

I'm unable to query Azure MS SQL DB from Windows 10 IoT Core (Raspberry Pi). Will this ever be supported or it already should be?

I've created sample so we can reproduce issue:
https://github.com/matejv1/nodejs.universal-windows-app.connect-to-azure

It works on Windows 10 - if I just run "node ser

[2016-06-28 23:58] #70 closed, assigned to nobody

[2016-06-28 23:58] #75 closed, assigned to nobody

[2016-06-28 23:58] #78 closed, assigned to nobody

[2016-07-01 18:50] munyirik opened #90 "Update BooleanObject::New signature in v8.h"
The signature of [BooleanObject::New](https://github.com/nodejs/node-chakracore/blob/chakracore-master/deps/chakrashim/include/v8.h#L1468) in chakrashim should match [the one in v8](https://github.com/nodejs/node-chakracore/blob/chakracore-master/deps/v8/include/v8.h#L3975).

Found the issue in a check that nan does when NODE_MODULE_VERSION is >= 48:
https://github.com/nodejs/nan/blob/master/nan_i

[2016-07-05 20:35] jianchun opened #92 "node.gyp: hard coded include v8.h"
Some recent changes caused hard coded v8.h:

https://github.com/nodejs/node-chakracore/blob/chakracore-master/node.gyp#L209

[code]

[2016-07-05 20:49] jianchun commented on #92
Please compare with `master` node.gyp. Some other parts may need sync too. e.g. official v8 deps is now authored as

[code]

[2016-07-05 21:18] kunalspathak commented on #92
Seems that it was [hard coded](https://github.com/nodejs/node-chakracore/blob/nodejs-chakracore/node.gyp#L188) from day 1. I will look into it to see what can be done.

[2016-07-05 21:44] jianchun commented on #92
I seem to recall moved them under `node_engine=="v8"` at some point, maybe change lost long ago.

[2016-07-12 00:31] kunalspathak opened #95 "Ensure chakrashim extracts information from right context"
- **Version**:
- **Platform**:
- **Subsystem**:

As mentioned in recent PR #96, for repl scenario we were not extracting the global object from right context. Instead we simply extracted from current context leading to new context being collected. There are multiple places where we do one of 2 things that needs to be reviewed.
- `IsolateShim::GetCurrent()->GetCurrentContextShim();`
-  `jsrt::Conte

[2016-07-12 06:42] kunalspathak opened #97 "SetEmbedderData doesn't pin the data"
`SetEmbedderData()`  can be used to set `JsValueRef`. Currently we don't pin the objects and it could get collected prematurely. Fix it by calling `JsAddRef` the value if value is `JsValueRef`.

[2016-07-13 17:06] #90 closed, assigned to nobody

[2016-07-26 23:29] kunalspathak opened #102 "HandleScope is saving too many handles-r"
- **Version**:
- **Platform**:
- **Subsystem**:

While working on improvement for `AddLocal` submitted in #101 , I noticed that HandleScope saves too many handles (1040 that i saw last time). Allpart of `HandleScope` created in `StartNodeInstance`.

[2016-07-26 23:29] #102 closed, assigned to nobody

[2016-07-28 01:19] kika123 opened #104 "add .MSIs for ARM"
- **Version**:
- **Platform**:
- **Subsystem**:

Windows desktop and Server for ARM exist, is it possible to add the .msi package for ARM32 at least?

Thanks,

[2016-07-29 12:00] Fishrock123 opened #105 "Build Instructions for Linux / OS X?"
Now that linux is somewhat supported, could the readme be updated with Linux (Unix) build instructions? :D

[2016-07-29 12:28] targos commented on #105
They are on the [xplat branch](https://github.com/nodejs/node-chakracore/tree/xplat#linux).

[2016-07-29 12:37] targos opened #106 "Unable to build on Fedora linux"
any idea ?
### `make`

[code]
### `dnf list installed uuid*`

[code]
### `uname -a`

[code]

[2016-07-29 14:13] jianchun commented on #106
I recall ran into the same, and resolved by (https://github.com/Microsoft/ChakraCore/pull/1312)

[code]

This will be simplified in future when we merge https://github.com/Microsoft/ChakraCore/pull/1331.

[2016-07-29 14:53] targos commented on #106
Thanks, now the build can start!
However, I quickly run into the following errors:

[code]

[2016-07-29 16:21] jianchun commented on #106
Good to hear that solved your first problem! (I don't understand why...)

I think we've run into your 2nd problem as well, not sure where to put a FAQ. Somehow build/cmake caches stale info prior to your install of libunwind. To work around, delete the whole build dir and try again.

[code]

[2016-07-29 16:25] jianchun commented on #105
We could consider update main README and use xplat branch source for Linux. The code needs to stay in xplat branch for a while due to experimental APIs.

[2016-08-02 07:50] targos commented on #106
Indeed that worked. Thank you!

[2016-08-02 07:50] #106 closed, assigned to nobody

[2016-08-11 00:21] steveklabnik commented on #106
Just saying "hey thanks", I ran into this today, and this fixed my error :+1:

[2016-08-11 02:58] jianchun commented on #106
@steveklabnik Thanks for your feedback. We'll see what we can do to improve this.

[2016-08-15 05:29] acg9 opened #107 "React-native fails to run"
- **Version**: 6.0.0
- **Platform**: 64-bit Windows redstone

I'm trying to run the react-native getting started [example ](https://facebook.github.io/react-native/docs/getting-started.html#testing-your-react-native-installation)in windows for android but after running

[code]

I get the following error:

[code]

[2016-08-18 00:52] kunalspathak commented on #107
Thanks @Iscgx for reporting. We will take a look into it and update what is going on.

[2016-08-19 20:16] coolaj86 commented on #105
+1 macOS (although I'm still on OS X), would love to play with this

[2016-08-22 15:53] jianchun commented on #105
@obastemur had tried on OS X and found some additional work needed due to std lib dependencies.

[2016-08-22 17:50] obastemur commented on #105
IIRC we had some std lib usage on one of the headers (chakrashim); If we can smooth that part; I will try to handle the rest.

[2016-09-05 20:37] leebenson commented on #105
Interim for OS X:

`docker run -ti choas/chakracore node`

[2016-09-06 12:01] leebenson opened #110 "Is NPM slower in Node Chakracore for Ubuntu?"
I'm trying to figure out the source of an npm install bottleneck inside Docker.

Comparing Node proper with Node Chakracore:

**Env 1 - Node 6.5 proper:**

`time docker run node:6.5.0 npm i -g sequelize-cli`

**Env 2 - Ubuntu 16.04 LTS x64, Node ChakraCore 7.0.0-pre8**

From this Dockerfile:

[code]

Running...

`time docker run chakracore:test npm i -g sequelize-cli`

**22 seconds vs 20+ minutes*

[2016-09-06 18:40] jianchun commented on #110
Will need to investigate. Meanwhile, at the moment node-chakracore only runs chakra interpreter on Unix. We are working on JIT and other optimizations. Maybe the given install script runs into one such bottleneck?

[2016-09-06 18:47] leebenson commented on #110
I get the feeling it's not specific to the install script. I've tried installing several npm packages, and they all seem to be approx. 50-70x slower than npm v3 in a 'native' Node environment. Installing a local `package.json` took over an hour.

[2016-09-09 19:58] kunalspathak opened #112 "node-chakracore-7.0.0-pre9 release proposal"
## 2016-09-09, node-chakracore-7.0.0-pre9
### Commits
- [[`0124235`](https://github.com/nodejs/node-chakracore/commit/0124235)] - test,tools: test fixes after merge
- [[`16bae56`](https://github.com/nodejs/node-chakracore/commit/16bae56)] - Merge remote-tracking branch 'nodejs/master' into chakracore-master
- [[`76da668`](https://github.com/nodejs/node-chakracore/commit/76da668)] - test: Updated b

[2016-09-09 20:00] kunalspathak commented on #112
This is to propose a new node-chakracore-7.0.0-pre9 release. There have been 5 master syncs, some module compat fixes, and 1 chakracore update since last release.

@nodejs/node-chakracore

[2016-09-09 21:00] kunalspathak commented on #112
Fixed by #113.

[2016-09-09 21:00] #112 closed, assigned to nobody

[2016-09-10 16:16] alexlamsl opened #115 "pre9 "Skipping the stack scan""
Just installed `node-chakracore-7.0.0-pre9` (x64) on Windows Server 2012 R2 and run `npm install` on a project and got these:

[code]

[2016-09-10 17:15] kunalspathak commented on #115
Thanks for reporting @alexlamsl. I will look into it.

Get Outlook for Androidhttps://aka.ms/ghei36

---

From: Alex Lam S.L. notifications@github.com
Sent: Saturday, September 10, 2016 9:16:24 AM
To: nodejs/node-chakracore
Subject: [nodejs/node-chakracore] pre9 "Skipping the stack scan" (#115)

Just installed node-chakracore-7.0.0-pre9 (x64) on Windows Server 2012 R2 and run npm install on a proj

[2016-09-10 18:17] alexlamsl commented on #115
Thanks for looking into this.

FYI, I think there may be two separate issues. Sometimes I only get extraneous blank lines but not those "Skipping the stack scan" messages.

[2016-09-10 19:56] kunalspathak commented on #115
I see. Those are the debug message that should not show up in release build.

Get Outlook for Androidhttps://aka.ms/ghei36

---

From: Alex Lam S.L. notifications@github.com
Sent: Saturday, September 10, 2016 11:17:55 AM
To: nodejs/node-chakracore
Cc: Kunal Pathak; Comment
Subject: Re: [nodejs/node-chakracore] pre9 "Skipping the stack scan" (#115)

Thanks for looking into this.

FYI, I think there

[2016-09-14 15:27] obastemur commented on #105
#117 should take care of the osx part.

[2016-09-15 03:56] digitalinfinity commented on #115
@kunalspathak is this issue fixed now? If so, we can close.

[2016-09-15 06:15] #115 closed, assigned to nobody

[2016-09-15 07:12] kunalspathak commented on #115
@alexlamsl , I have updated the binaries under release with the fix. You can install the new version of binary that contains this fix.

[2016-09-15 07:14] alexlamsl commented on #115
@kunalspathak thank you very much. I shall give them a try as soon as I get back this evening.

[2016-09-15 15:23] alexlamsl commented on #115
@kunalspathak verified - no more extraneous stuff in the console. Thanks for the speedy fix!

[2016-09-16 06:10] alexlamsl opened #118 "eslint not working due to "object shorthand" syntax"
For now I have to manually edit [this line](https://github.com/eslint/eslint/blob/v3.5.0/lib/eslint.js#L62) for `eslint` to work on `node-chakracore`, otherwise I get the following error:

[code]

[2016-09-16 14:58] kunalspathak commented on #118
Thanks @alexlamsl for reporting. Could you clarify the exact repro steps / command you are using?

[2016-09-16 16:59] alexlamsl commented on #118
What I did (on Windows Server 2012 R2)

[code]

More specifically

[code]

[2016-09-16 17:08] kunalspathak commented on #118
Have you tried one of the below [nightly official builds](https://nodejs.org/download/nightly/) of node.js and see if it repros?

![image](https://cloud.githubusercontent.com/assets/12488060/18594529/6ddfaa40-7bf5-11e6-89e5-3354cdbd5916.png)

[2016-09-16 17:08] alexlamsl commented on #118
So it doesn't like `comment` in here:

[code]

Two things I've tried so far that worked. One is to simply use `comment:comment` which is expected. Another more surprising way is to add `console.log(comment)` immediately before `items[name]`.

[2016-09-16 17:09] alexlamsl commented on #118
@kunalspathak no I haven't tried nightly builds before. I'll give it a go now and report back...

[2016-09-16 17:13] alexlamsl commented on #118
Works fine with `v7.0.0-nightly20160915ea2a309e3b`

[2016-09-16 18:16] kunalspathak commented on #118
Thanks for confirming @alexlamsl . Seems like some bug in parser. I will take a look.

[2016-09-18 09:37] alexlamsl commented on #118
I have a slightly reduced test case with just `eslint` on (Node.js) command line:

[code]

[2016-09-19 15:07] kunalspathak commented on #118
Great! I appreciate your efforts in reducing the scenario. I will look into it.

[2016-09-19 20:16] obastemur opened #119 "Cleanup shared_ptr usage from chakrashim"
Latest OSX PR enables RTTI because of shared_ptr used. We might cleanup shared_ptr usage from the shim and turn off RTTI on macOS.

[2016-09-22 14:27] ChrisMunt opened #120 "Undefined symbol loading an addon under Ubuntu 16.04.1 LTS"
Version: v7.0.0-pre
Platform: Linux ubuntu 4.4.0-38-generic #57-Ubuntu SMP Tue Sep 6 15:42:33 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Subsystem: My C++ addon,

I have been testing the build procedure for porting C++ based addons from Node.js/V8 to Node.js/chakracore and have started with a very simple class for testing.  The C++ code is shown below.  Basically, it contains one method that accepts

[2016-09-22 16:19] kunalspathak commented on #120
@obastemur , do you want to take a look?

[2016-09-22 16:55] obastemur commented on #120
@ChrisMunt Thanks for the details.

[code]

Do you have node-chakracore is installed to path ? Because when you call `node cmtest1.js` that calls the `node` from path. Could you please try `./node` ?

[2016-09-23 09:12] ChrisMunt commented on #120
Many thanks for the response.  As a Node.js addon developer I have quite a few Node (V8) installations on my system but none in the path.  Here's a complete audit of what I have done so far.

First, creating the node-chakracore build.  I followed the instructions in ...

https://github.com/nodejs/node-chakracore/tree/xplat#linux

I made sure I had up-to-date versions of the packages required for b

[2016-09-23 21:03] Fishrock123 commented on #105
@obastemur Are there any OS X prerequisites that need to be added to the build instructions at https://github.com/nodejs/node-chakracore/tree/xplat#linux?

getting this atm:

[code]

[2016-09-23 21:23] obastemur commented on #105
@Fishrock123 assuming you are on `xplat` branch ?
- if you are testing it on a mac with XCode 8.0 installed, that would probably fail to compile. ~~@kunalspathak @jianchun We need to update to latest ChakraCore for Clang compat.~~

Edit: Looks like you already did?? I was able to compile on latest OSX using the steps below

[2016-09-23 21:24] obastemur commented on #105
My steps to compile were;

[code]

[2016-09-23 21:36] Fishrock123 opened #121 "Errors building on OS X 10.10.5"
- **Version**: `xplat`
- **Platform**: OS X 10.10.5, XCode 7.2
- **Subsystem**: build

[code]

[code]

[2016-09-23 21:36] Fishrock123 commented on #105
@obastemur oh, I forgot to checkout the branch. Getting some errors now, see https://github.com/nodejs/node-chakracore/issues/121

[2016-09-23 23:17] Fishrock123 commented on #121
Hmmm, squashing these with `-Wno-c++11-narrowing` seems to work but then I get `-Wkeyword-compat` warnings.

Squashing those leads to LOTS of errors like:

[code]

[2016-09-23 23:35] obastemur commented on #121
@Fishrock123 I have 2 macs (10.11 / 10.12) and not able to reproduce these. Could you please check if you can compile Microsoft/ChakraCore master?

[2016-09-24 00:37] Fishrock123 commented on #121
@obastemur ChakraCore master seems to build fine.

[code]

[2016-09-24 14:24] obastemur commented on #121
@Fishrock123 try `rm -rf deps/chakrashim/core/BuildLinux` and then `./configure.... etc.`

[2016-09-24 15:15] Fishrock123 commented on #121
@obastemur still getting e.g.

[code]

Maybe something is wrong with my XCode install? What XCode versions / frameworks are you using?

[2016-09-26 00:58] obastemur commented on #121
Probably MT sub make fails on mac.

[code]

In other words, remove the line with `-j`

@Fishrock123  I would really appreciate if you could make the change above and give it an another shot.

[2016-09-26 01:14] obastemur commented on #65
@yaronyg is this still an issue?

[2016-09-26 12:46] alexlamsl commented on #118
@kunalspathak it's me again 😅

This time I have a completely standalone case which is very curious:

[code]

If you run the file above:

[code]

Removing a single byte from the comment section and the error would go away.

[2016-09-26 13:03] Fishrock123 commented on #121
@obastemur hmmm, it might have progressed further but I'm still getting:

[code]

a couple times and

[code]

:/

[2016-09-26 13:18] obastemur commented on #121
@Fishrock123 could you post (gist) a full build log ? The other change in #123 might also help

[2016-09-26 13:20] Fishrock123 commented on #121
@obastemur https://gist.github.com/Fishrock123/74d53827498ad66472de8c6eba01cbf3

I will apply #123 and report back.

[2016-09-26 16:30] kunalspathak commented on #118
Thanks @alexlamsl  once again. 😄

I haven't got chance to investigate this issue, but the repros you are providing are definitely helpful in our investigation. I will get back to you once I find the problem

[2016-09-26 16:39] yaronyg commented on #65
Not having checked it since we filed it I couldn't tell you. :( Right now we have enough issues getting SM to behave itself. :)

[2016-09-26 16:59] obastemur commented on #121
Did you update your xcode recently? What is the version of XCode? if it is 8, you may also try https://github.com/nodejs/node-chakracore/pull/124

[2016-09-26 17:12] obastemur commented on #121
Looks like there are some differences with the Clang installed on your system.
Adding the compile time keys below into https://github.com/nodejs/node-chakracore/blob/chakracore-master/deps/chakrashim/core/CMakeLists.txt#L128 should fix the problems for you.
`-Wno-c++11-narrowing` and `-Wno-keyword-compat`

`-Wno-keyword-compat` issue comes from libstdc++ usage (must be mixing up with an another ke

[2016-09-26 17:34] Fishrock123 commented on #121
XCode Version 7.2 (7C68)

It's possible I am not using the default Clang. Unsure.

[2016-09-26 17:53] Fishrock123 commented on #121
Got it to work with the following patch:

[code]

---

cctest aborts:

[code]

JS tests look pretty good all things considered: `[01:50|% 100|+ 1174|-  34]: Done`

[2016-09-26 18:18] jianchun commented on #120
@ChrisMunt Thanks for reporting and posting the details. I tried it and (weirdly) it worked for me. Admittedly we haven't looked at building native addons on Linux with node-chakracore at all.

[code]

I examined the symbol and my version looks a little bit different to yours:

[code]

Note mine has extra `iPS5_` at the end...

And the symbol exists in node binary:

[code]

[2016-09-27 03:44] obastemur commented on #120
IMO we have an issue here that we may need to address.

@ChrisMunt One possible bottle-neck. Since the missing signature belongs to a `FunctionTemplate`, I was wondering whether we actually publish our header files on `make install`

Actually we don't. `output_folder/include/node` path has the `v8.h` from deps/v8

@jianchun @kunalspathak any opinions on putting our header files into install output

[2016-09-27 05:24] jianchun commented on #120
@obastemur That is a good point. @ChrisMunt was using `--nodedir=/opt/nodeck`. I was using `--nodedir=[my node-chakracore clone dir]`.

Yes there are likely problems here, as I mentioned we hadn't got chance to look at native addons. I can't check right now; but the node-gyp and top-level config.gypi should both be customized and they should be pointing to deps/chakrashim's headers. If the headers

[2016-09-27 12:37] ChrisMunt commented on #120
Many thanks for the feedback.  I was able to get the addon to build using '--nodedir=[my node-chakracore clone dir]'.  And I was able to build a far more substantial addon implementing an interface to a database.  I appreciate that it's early days with the node-chakracore initiative but it seems to be looking good so far...

[2016-09-27 13:56] obastemur commented on #120
@ChrisMunt Can we assume, this no longer an issue for you (using the tip above) ?

[2016-09-27 15:01] Fishrock123 commented on #121
@obastemur should I be PR-ing those `-Wno` statements to Chakra upstream?

[2016-09-27 15:23] ChrisMunt commented on #120
Yes, this is resolved now.  Many thanks for the help.

[2016-09-27 16:04] obastemur commented on #121
We no longer force error warnings on macos. Do you still have the problem on latest node-chakracore / xplat branch without introducing these?

[2016-09-27 17:02] Fishrock123 commented on #121
Yep. 😐

[2016-09-27 22:09] obastemur commented on #121
@Fishrock123 Thanks for checkit it out. I have forced those warning on a local build and saw the issues. We may better force enable the warnings there and solve the issues for the cases above. (especially first two) instead of silencing the possible problems on those, we may have a code that represents better intention of ours.

What I did was adding the keys below into same place.

[code]

Would

[2016-09-27 22:09] obastemur commented on #121
We may disable the last one as it is an older clang issue (AFAIK)

[2016-09-27 23:47] Fishrock123 commented on #121
I really don't I know enough about C++ to tackle that I think..

[2016-10-04 07:14] avadhutbhangui opened #127 ""Cannot Execute" error when using the prebuild node executable on WinCE with ARM processor"
- **Version**: Node v7.0.0-pre9
- **Platform**: WinCE on ARM
- **Subsystem**:

I downloaded the prebuilt node executable with chackracore.dll file and put it on my system which runs WinCe on a ARM processor. Whenever i run it i get an error "Cannot execute <path to node.exe>" error on the command prompt.

Can you please help me to understand why this error and how it can be overcome?

Thanks
/Avad

[2016-10-05 01:40] digitalinfinity commented on #127
@avadhutbhangui currently node-chakracore is supported only on Win7 SP1 and above. Can you give us some more insight into your scenario please?

[2016-10-05 08:00] avadhutbhangui commented on #127
Hello,

I have a system which runs on WinCE on ARM processor. I'm trying to see a possibility of running node.js inside this system (i.e. basically on WinCE). So i was trying to see if we have a node.js build which is compatible with ARM processor. Eventually i learnt that it's for ARM processor, but the target operating system is Windows 10.x and not WinCE. So this option is ruled out now.

Now,

[2016-10-06 00:18] aruneshchandra commented on #127
@avadhutbhangui node-ChakraCore relies on [ChakraCore](https://github.com/microsoft/chakraCore/) support for the underlying platform. And since WinCE is not a supported platform building the sources for Node-ChakraCore itself will not be sufficient. You will have to port ChakraCore to WinCE for your scenario to work.

[2016-10-06 05:39] avadhutbhangui commented on #127
Thanks!

[2016-10-06 18:23] digitalinfinity commented on #118
Thanks @alexlamsl for the short repro- it was a tremendous help. I spent some time debugging this- I've opened Microsoft/ChakraCore#1705 to track this.

[2016-10-07 17:42] #118 closed, assigned to nobody

[2016-10-09 11:51] houd1ni opened #131 "Buffer's `new`."
- **Version**: v7.0.0-pre9
- **Platform**: Win10

Hello! I have this console output when use browserify stack:

However, [Documentation](https://nodejs.org/api/buffer.html#buffer_new_buffer_array) tells that we should drop `new`. How to deal with it? Is it a bug?

[2016-10-09 13:20] alexlamsl commented on #131
I believe this deprecation is added in `nodejs` codebase, not specific to `node-chakracore`.

And I think this is reported and tracked in https://github.com/substack/node-browserify/issues/1616

[2016-10-09 13:40] houd1ni commented on #131
@alexlamsl  Oh, thank you very much! The problem has spawned just after upgrade, which was also from 6.x version.  I was afraid of `new` proposal, which is deprecated itself. :roll_eyes:

[2016-10-09 13:40] #131 closed, assigned to nobody

[2016-10-12 07:53] abodalevsky opened #132 "React tests failed with: FATAL ERROR: v8::FromJust: Maybe value is Nothing."
- **Version**:v7.0.0-pre
- **Platform**: Win x64 v 10.0.10240
- **Subsystem**:

I tried to run React test set and it failed with error **FATAL ERROR: v8::FromJust: Maybe value is Nothing.** The full stack trace is in the attachment. [chakra_error.txt](https://github.com/nodejs/node-chakracore/files/523757/chakra_error.txt)
This test on node/v8 passed without issue.

Next I've tried to run the only

[2016-10-12 16:58] kunalspathak commented on #132
Thanks @abodalevsky  for reporting. We will investigate.

[2016-10-17 09:55] alexlamsl opened #133 "Error: Internal Error on https.request().setTimeout()"
Version: v7.0.0-pre9
Platform: Windows 10
Subsystem: events?

This isn't always reproducible, but with a script running a bunch of `https` client requests occasionally one would fail with this splat:

[code]

The code that triggers this is roughly (throws on final line):

[code]

[2016-10-17 12:54] abodalevsky opened #134 "SyntaxError occures during benchmark run"
- **Version**:v7.0.0-pre
- **Platform**:Windows x64 v: 10.0.10240
- **Subsystem**:

When I tried to execute benchmark test _benchmark\buffers\buffer-compare-instance-method.js_ I got the following error:

[code]

to reproduce, go to _benchmark\buffers_ and run:

[code]

The same test runs on node/v8 without issues

[2016-10-17 17:00] kunalspathak commented on #133
Thanks @alexlamsl . We will look into it.

[2016-10-17 17:46] digitalinfinity commented on #134
Thanks @abodalevsky - I can repro this. I think the problem is that node-cc doesn't support some internal v8 methods today- the problem is this line in the benchmark:
  eval('%OptimizeFunctionOnNextCall(b0.compare)');

%OptimizeFunctionOnNextCall appears to be an internal v8 method. node-chakracore doesn't support shimming v8 internal methods today (since they're supposed to be internal to v8).

@

[2016-10-17 17:51] kunalspathak commented on #134
That's correct. Most of these functions that are exposed using `--allow_natives_syntax` are not supported in chakrashim.

[2016-10-17 18:57] matthargett commented on #134
Can those benchmarks be disabled in node-chakracore somehow?

[2016-10-17 19:09] digitalinfinity commented on #134
@joaocgreis can you help? Is it possible to disable these benchmarks in node-chakracore? Would the changes you made to CI recently help on this front?

[2016-10-18 16:23] joaocgreis commented on #134
@digitalinfinity The tests and the benchmarks use different runners, the benchmarks' runner is less complex and it's not possible to disable benchmarks. What we could do is add a `if (process.jsEngine === 'chakracore')` to the unsupported benchmarks to skip them.

For a rough comparison, those lines can probably be skipped, but it wouldn't be a truthful comparison then.

cc @bzoz

[2016-10-23 02:51] matthargett opened #136 "npm install node-sass fails, so most react-based projects won't work"
Version: output of `node -v`

Platform: output of `uname -a` (UNIX), or version and 32 or 64-bit (Windows)

Subsystem: if known, please specify affected core module name

If possible, please provide code that demonstrates the problem, keeping it as
simple and free of external dependencies as you are able.
- **Version**:
  7.0.0-pre9
- **Platform**:
  Windows 10.0.14936 64-bit on SurfaceBook and Wi

[2016-10-27 01:44] kunalspathak commented on #136
Thanks @matthargett  for reporting this.
I did some investigation and found that `npm install` copies the `binding.node` from node-sass repository and it fails to see the entry points because `binding.node` was built using `nodev8`. So I tried building `binding.node` using node-chakracore

`node build/script.js -f --nodedir=<path_to_node_chakracore_repo>`

With above command, I got following linke

[2016-10-29 02:09] matthargett commented on #134
As a user, I'd rather have something that just runs out of the box and I can compare the benchmarks that do actually run between v8 and chakracore, or between chakracore releases.

[2016-10-29 07:14] kunalspathak commented on #136
@matthargett , I have opened an issue https://github.com/sass/node-sass/issues/1776 and a PR https://github.com/sass/node-sass/issues/1777 to address this. Issue is a long term solution, but if the PR is merged, you will be able to run `npm install` from `Node.js chakracore command prompt` which will install the module. I tried it on windows and ran unit test and they all pass.

[2016-11-01 01:25] matthargett commented on #136
Once you manually install node-sass with the fix, does the react-starter project referenced above 'npm install' complete? Or is there another issue underneath the node-sass one?

[2016-11-01 21:41] kunalspathak commented on #136
Yes, tried out `react-starter` and the unit test for it passes. In integration test, i can see browser opening and adding a TODO item and browser closes. But it exits with `SIGUSR2`. I verified and it fails for nodev8 as well, so something to do with Windows.

[code]

[2016-11-11 23:58] digitalinfinity commented on #8
@kunalspathak we should revisit this issue now that ChakraCore has ETW support.

[2016-11-12 00:10] kunalspathak commented on #8
I will play around with this when i get chance and update this issue with the instructions on how to use it. Note that this will not be usable until we bring ETW change into nodejs/chakracore-master.

[2016-12-01 08:33] hemanth opened #150 "TypeError: Object doesn't support property or method 'ToString'"
[code]

[code]

<img width="589" alt="screen shot 2016-12-01 at 1 59 20 pm" src="https://cloud.githubusercontent.com/assets/18315/20786899/ea6c64b2-b7ce-11e6-9ba4-47ce84e812ac.png">

[2016-12-01 18:37] kunalspathak commented on #150
Thanks @hemanth for reporting. Confirmed that it is reproing on windows as well. We will take a look.

[2016-12-02 04:33] alexlamsl commented on #150
Also reproduced on `node-chakracore 7.0.0-pre9` (Windows)

[2016-12-05 19:18] aruneshchandra opened #152 "Change the default branch x-plat"
@thefourtheye - can you please change the default branch on nodejs/node-ChakraCore repo to x-plat ?
And also can you please add @digitalinfinity, @kunalspathak and @aruneshchandra as the owners of the repo?

[2016-12-06 00:58] munyirik opened #153 "Debugger problem with VS Code (request 'evaluate' was cancelled error)"
* **Version**: 7.0.0-pre10
* **Platform**: Windows 10
* **Subsystem**: Debugger

Repro steps:
1. Start node with --debug flag
2. In VS Code attempt to attach to the node process.

Result:
![capture png](https://cloud.githubusercontent.com/assets/8389594/20908744/cfb38656-bb0b-11e6-9e44-ad5c1df10162.jpg)

[2016-12-06 11:44] aruneshchandra commented on #153
@munyirik are you using [VSCode Insiders](https://code.visualstudio.com/insiders) ?

[2016-12-06 18:45] munyirik commented on #153
Using version 1.7.2. @agarwal-sandeep mentioned that the issue is that the latest release isn't synced to node-ChakraCore/master.

cc @kunalspathak

[2016-12-06 19:03] kunalspathak commented on #153
AFAIK, debugger should just work with build from xplat branch because that is the one we demoed in node interactive. The debugging support for VS code is in nightly builds as @aruneshchandra  pointed.

[2016-12-06 19:19] munyirik commented on #153
Ah so I need to use a VSCode Insiders build?

[2016-12-06 19:29] aruneshchandra commented on #153
yes!

[2016-12-06 21:18] munyirik commented on #153
I just tried the Insider build (1.8.0-insider) and I'm seeing the same problem.

[2016-12-06 22:02] munyirik commented on #153
I just tried this with the --debug-brk flag and it works. So the problem looks like it's with the --debug flag.

[2016-12-06 23:03] munyirik opened #154 "nan error when building native libraries"
* **Version**: 7.0.0-pre10
* **Platform**: Windows 10
* **Subsystem**: Debugger

Repro steps:
1. Install node-chakracore 7.0.0-pre10.
2. Go to any folder and run "npm install serialport --build-from-source" (this should repro with any native library using nan).

Result:
e:\projects\nodejswebserver6\node_modules\nan\nan_implementation_12_inl.h(54): error C2664: 'v8::Local<v8::Context> v8:
:Context:

[2016-12-08 01:00] munyirik opened #155 "sdk should include libs for arm/x86/x64"
* **Version**: 7.0.0-pre10
* **Platform**: Windows 10
* **Subsystem**: gyp

If I install node-chakracore on my PC and try to build a native addon targeting a different architecture I will get an error.

For example, I have node-chakracore x64 installed. If I run the command below -

I'll get the following error:

The sdk folder should look something like this:

[code]

[2016-12-13 18:00] digitalinfinity commented on #154
Should be fixed by #151

[2016-12-15 20:00] kunalspathak commented on #154
#151 doesn't seem to fix the issue. Tested with https://nodejs.org/download/test/v7.0.0-test20161202bd15adad5c/ binary that was present in that PR.

[code]

[2016-12-15 21:47] kunalspathak commented on #154
Verified with correct parameters and it does fix the issue. Sorry about the confusion.

[2016-12-15 21:47] #154 closed, assigned to nobody

[2016-12-16 04:25] williamkapke opened #156 "Cannot run on Ubuntu 16.04 LTS"
I need to install using `n`... which is possible using:
[code]

... which almost works. It downloads it but ends with:

[code]

The same error happens if you then try to run `node`. So, it seems it installs it- but can't run it.

Although i can't use `nvs`, I tried the directions in the README anyhow... but got:
[code]

Building from sources is not an option.

[2016-12-16 17:28] kunalspathak commented on #154
@munyirik , I have updated the binaries of pre10 with the fix. Please try and let us know how it goes.

[2016-12-16 17:30] kunalspathak commented on #156
//cc : @jasongin

[2016-12-16 17:35] jianchun commented on #156
Latest chakracore master has removed libunwind dependency. Sync to chakracore master would resolve this problem.

[2016-12-16 19:10] jasongin commented on #156
To resolve the `libunwind.so` dependency with the current node-chakracore releases you can run this command:
[code]

@williamkapke I'm unable to reproduce that nvs error on Ubuntu 16.04. It looks like you have set `$NVS_HOME` to `/app/.nvs`, is that right? Does the `/app/.nvs/cache` directory exist? Was that `.xz` file fully downloaded? The size should be 9351072 bytes.

Regardless, even if nvs wo

[2016-12-16 19:45] williamkapke commented on #156
@jasongin:
![image](https://cloud.githubusercontent.com/assets/739813/21276069/9bac61b2-c384-11e6-88cf-398c41947980.png)

...and:
![image](https://cloud.githubusercontent.com/assets/739813/21276122/e0c05cae-c384-11e6-86f7-14e43f838b22.png)
(sudo doesn't exist on Heroku)

[2016-12-16 20:36] jasongin commented on #156
@williamkapke Try running `apt-get update` to refresh your package index first, afterward it should find the `libunwind-dev` package.

The NVS install script is trying to run the these commands:
[code]
From the error output, it looks like the `tar` command did not extract the `node` binary as expected. Can you share the output from `tar --version`? I have: `tar (GNU tar) 1.28`

[2016-12-16 22:13] williamkapke commented on #156
Oh yes- now I remember why I was only able to get `n` working on Heroku: because it is a locked down file system except for the `/app` folder (which is also $HOME).

![image](https://cloud.githubusercontent.com/assets/739813/21280257/abfb12e2-c399-11e6-8cfd-b8d96e2bc3c0.png)

Anyhow- so, I can't use `nvs`... that's a different issue I think.

[2016-12-17 19:44] mattzeunert opened #157 "What does a replay look like?"
I'm recording the execution of a script like this:

    ./node -TTRecord:log test.js

Then I replay it:

    ./node -TTReplay:log

    Reached end of Execution -- Exiting.

What is supposed to happen when running a replay?

If I try to use VS Code instead this is the output:

    node --debug-brk=9920 --nolazy -TTDebug:log -TTBreakFirst test.js
    Debugger listening on 127.0.0.1:9920
    Reached

[2016-12-19 16:07] Fishrock123 commented on #152
@thefourtheye Did you complete this? Seems like default branch was changed.

@aruneshchandra Don't be afraid to @nodejs/tsc if you need any repo-management help. :)

[2016-12-19 22:03] digitalinfinity commented on #152
Yup, @thefourtheye helped with this- closing this issue.

[2016-12-19 22:03] #152 closed, assigned to nobody

[2016-12-19 23:14] mrkmarron commented on #157
Hi, from you description my hypothesis is that what you are seeing is a design choice we made with (1) when the trace recording starts and/or (2) our choice to suppress console log output in replay.

Since startup code is easy to re-run and generally involves a lot of (uninteresting) initialization work we do *not* start recording until this code completes and the runtime moves into the event loop

[2016-12-20 00:01] mattzeunert commented on #157
Thanks for your answer, Mark! It's awesome to see time-travel debugging becoming viable.

I'm able to pause somewhere now when using VS Code, but I'm still not sure how to use it.

I've got this code in simple.js:

[code]
Then I run:

    ./node -TTRecord:log simple.js // prints out 11
    ./node -TTReplay:log simple.js  // also prints out 11
    ./node -TTReplay:log -TTBreakFirst simple.js

Which

[2016-12-20 01:19] mrkmarron commented on #157
The push/pop assert is definitely a bug with how we interact with the debugger in a specific case (we are missing some logic in an exception flow path). I will get a fix checked in shortly and also see if I can point out the exact feature in your example that is triggering it so you can workaround until the fix lands.

The replay with --TTBreakFirst is due to us not allowing debugger attach in rep

[2016-12-21 00:56] mrkmarron opened #159 "TTD -- flag compatibility check -TTBreakFirst flag only used with -TTDebug"
* **v7.0.0-pre w/ ChakraCore**:
* **All platforms**:
* **Time-Travel Debugging**:

Using -TTBreakFirst without also specifying -TTDebug will results in crash when accessing debug object (which may not be set). Need to check flag use and provide friendly message.

[2016-12-21 01:06] mrkmarron commented on #157
A fix for the "TTD assert failed: Push/Pop is not matched so something went wrong." was merged in PR #158 and I have verified that everything works in the timeout example (including use of debugger statement). I also opened an issue around the usage of the -TTBreakFirst flag as issue #159 for easier tracking.

[2016-12-22 20:49] mattzeunert commented on #157
That's awesome! Working really well in VS Code now.

[2016-12-22 20:49] #157 closed, assigned to nobody

[2016-12-29 19:27] sidkshatriya opened #161 "Reverse debugging problems on RSDemo/simple Program on Linux w/ VSCode"
I'm trying to get reverse debugging working on Ubuntu 16.04.1 x64.

I'm using VSCode nightlies and node chakracore nightlies. I've tried many recent versions of Node Chakra core (using nvs) but cannot get reverse debugging to work. I'm able to get step forward debugging working but doing a step backwards or even a play (forwards) results in an error condition (see below).

I find `ttlog` is consis

[2016-12-29 19:53] mrkmarron commented on #161
Hi, on the first issue when running with "-TTRecord:ttlog -TTBreakFirst app.js". The -TTBreakFirst flag is intended to only be used when in debug mode "-TTDebug" and will error out if used in other modes (e.g. issue [#159](https://github.com/nodejs/node-chakracore/issues/159)). FYI, we don't support mixing record mode with the interactive debugger yet so the approach you take with separate record

[2016-12-29 21:04] sidkshatriya commented on #161
Thanks for your helpful comments.

When I remove the `-TTBreakFirst` command now and do a plain `-TTRecord`, I _still_ stop on breakpoints. I'm guessing this a VSCode issue as it tries to establish breakpoints when it connects to the debugger. So VSCode is defeating the ability to do a record here inadvertently perhaps?

However even after removing all breakpoints from VSCode it does not seem to h

[2016-12-29 21:18] obastemur commented on #121
@Fishrock123 is this still an issue?

[2016-12-29 22:21] mrkmarron commented on #159
Generalizing this a bit. Currently there are a number of assumptions about which flags are compatible/incompatible and incorrect combinations lead to failures with unhelpful outputs.

- TTRecord with any debug flag (including --debug, --debug-brk, -TTBreakFirst, etc.) all cause unusual failures.
- TTReplay with any debug flag (including --debug, --debug-brk, -TTBreakFirst, etc.) also fail.

All of

[2016-12-29 22:25] mrkmarron opened #162 "TTD -- ctrl-c does not cause log to be written"
* **Version** v7.0.0-pre:
* **Platform** all:
* **Subsystem** TTD:

Exiting node with ctrl-c signal does not result in the time-travel log being written.

Original assumption was we only wanted to write a log on an error exit (unhandled exception or non-zero exit code) but feedback indicates writing on ctrl-c is also desirable.

[2016-12-29 22:46] mrkmarron commented on #161
Hi, I have updated Issue #159 to include some of the unsupported debugger/recording interactions you are seeing. I have also opened Issue #162 on writing a log with ctrl-c which seems to be a common request.

On the issues you are seeing I just finished syncing my Linux instance to the same setup you have. Dropping my download of the nightly node-chakracore files and the HelloWorld sample program

[2016-12-30 04:50] sidkshatriya commented on #159
What is the difference between "TTReplay" (mentioned in the above comment) and "TTDebug". Are they the same?

[2016-12-30 05:15] sidkshatriya commented on #161
This time I had more success:
- I recorded the `HelloWorld` trace on the command line. The program terminates normally and so the trace gets written out nicely
- I am able to debug the HelloWorld trace on VSCode. What was lacking was a `--debug` in my runtimeArgs originally. Once that was instituted, things work.
- If you install a SIGINT [signal handler](https://nodejs.org/api/process.html#proces

[2016-12-30 05:36] sidkshatriya commented on #161
I have some questions, thanks for all your help so far in getting this to work finally:

No promises and commitments, of course, but:
- Is this feature under development? If so, when is it likely to land? Is it already present in ChakraCore?
- In general what are the limitations of doing record/replay in NodeChakraCore vs simply ChakraCore. Is debugging via VSCode/any other tool possible in just p

[2016-12-30 08:15] mrkmarron commented on #161
Great I am glad that things are working.

Thanks for the feedback on the SIGINT handler and TypeScript vs javaScript for the sample. Going forward I would like to build up a set of samples including both TypeScript and JavaScript based programs. It is also good to have your input on when we start the recording. This is something we will definitely re-consider as we get more experience.

On the lon

[2016-12-30 08:22] mrkmarron commented on #159
Replay mode (-TTReplay) re-executes the recorded events/code (without enabling the debugger) and then exits so most users will want to use the -TTDebug for debugging but there are cases where just being able to replay the execution and gather additional information is useful. For example you could replay the code on an instrumented version of node-chakracore that records how many times each loop i

[2016-12-30 11:55] sidkshatriya commented on #161
I think `rcbo` would be killer feature as far as node chakra core is concerned (just like reverse debugging is already). In fact the whole point of node is async and reverse debugging without being able to trace back through the callback potentially hamstrings reverse debugging a bit I think. But yes, I agree that its important to iron out what you've built rather than introduce new features befor

[2016-12-30 12:41] sidkshatriya commented on #159
I am interested in the ability to do "information collection" (or instrumentation) without doing modifications to Node Chakra Core engine itself. For example write a "driver" program in JavaScript (or some other HLL) that can run the recorded trace on ChakraCore and introspect the trace as it runs and when it enters, say, functions it can collect the value of the arguments and so forth. In some wa

[2017-01-01 01:28] mrkmarron commented on #159
Currently there is no supported set of api hooks for doing dynamic tracing in JavaScript (or in the engine) during replay. I wanted to get a better understanding of use cases around replay tracing before trying to do this. However, it should be possible to build some fairly complex information collection tools with the current system and a little creativity.

Since the replay system re-loads and r

[2017-01-02 00:10] williamkapke commented on #156
Any update on this?

[2017-01-03 01:20] digitalinfinity commented on #156
@williamkapke thanks for following up. This was fixed in Microsoft/ChakraCore#2086, and will be fixed in Node-ChakraCore when we take a new drop of ChakraCore (likely in the next couple weeks once ChakraCore stabilization progresses).

[2017-01-03 23:58] munyirik commented on #154
It worked. Thanks @kunalspathak !

[2017-01-04 07:20] Josema opened #163 "FATAL ERROR when trying time traveling debugging on vscode"
* **Version**: v7.0.0-nightly201612169538b4aa4f
* **Platform**: Darwin Kernel Version 15.2.0: Fri Nov 13 19:56:56 PST 2015; root:xnu-3248.20.55~2/RELEASE_X86_64
* **Subsystem**: OSX El capitan v10.11.2
* **VScode version**: 1.8.1 (1.8.1)

Installed node-chakra via nvs. And followed this tutorial to install it with vscode http://www.mattzeunert.com/2016/12/22/vs-code-time-travel-debugging.html

The

[2017-01-04 17:29] agarwal-sandeep commented on #163
@josema Thanks for trying TTD.
Based on above command line it seems you are not replaying a TTD recorded session so there is no Stepping back. For TTD first a session needs to be recorded using steps in "Record replay data" and then can be replayed using -TTRecord.

[2017-01-05 02:08] Josema commented on #163
Could you explain what is a recorded session? And how I can initiate it? Is an argument?
Btw this is my setup:
[code]

[2017-01-05 22:46] digitalinfinity commented on #163
Hi @Josema- the instructions for Time Travel Debugging are [Here](https://github.com/nodejs/node-chakracore/blob/xplat/TTD-README.md). Specifically, in your case you need to set your runtime args to something like the following:
`"runtimeArgs": ["-TTDebug:log", "-TTBreakFirst"]`

Replace log with whatever argument you supplied to -TTRecord when you captured the trace.

[2017-01-05 23:34] kunalspathak commented on #163
I think we should keep this issue open to not crash with `FATAL ERROR` that @Josema is seeing.

[2017-01-06 05:04] Josema commented on #163
@digitalinfinity Doing that i have this error:
[code]

And if I create the file this is the output:
[code]

I gave `chmod 777 ttdlog.log` but same error.

[2017-01-06 06:45] mrkmarron commented on #163
Hi @Josema, just to make sure we are on the same page here can you run a few things for me (my example is on Windows but the commands/steps are the same). I have a simple node application `app.js` in the folder `HelloWorld` with the contents:
[code]
From the nightly build directory I can run the following command to get a "recorded session" in the directory "log":
[code]
You should be able to see

[2017-01-06 07:27] Josema commented on #163
Hi @mrkmarron
Running:
[code]
Running:
[code]

---
Couldn't found the `newly created directory`. Is not in the same directory of `app.js`

[2017-01-06 12:51] ghost commented on #105
Hi all, I opened a PR with some instructions for building on Mac Os : https://github.com/nodejs/node-chakracore/pull/164

[2017-01-06 21:59] mrkmarron commented on #163
The second command is **-TTReplay** not -TTRecord  so the command line would be:
`node --nolazy -TTReplay:log`

[2017-01-06 22:00] mrkmarron commented on #163
The "log" directory is created relative to the folder where the node executable binary is located.

[2017-01-07 03:02] ianwjhalliday opened #165 "JSStream crash at shutdown AsyncWrap::~AsyncWrap accesses invalid Environment"
Merging a recent nodejs/node/master commit into node-chakracore brought in the refactoring of `node::StartNodeInstance` into multiple `Start()` functions to make more clearly explicit the separation between program, `Isolate`, and `Environment` initialization (https://github.com/nodejs/node/commit/ceb602326066674b894c9fc4d53166d06a918c02).

Turns out node-chakracore is cleaning up live `AsyncWrap`

[2017-01-07 03:05] ianwjhalliday commented on #165
Repro is to have a script that creates a `JSStream` (e.g. `test/parallel/test-async-wrap-check-providers.js`)

@trevnorris would you know if there is an expectation here?

cc @bnoordhuis who did the `node::Start` function refactoring

[2017-01-07 03:28] Josema commented on #163
Yes, now the output is correct.
[code]
And for the log directory:
[code]

And this is my setup for vscode:
[code]
This is the output when trying to run the same app.js that we used before:
[code]

[2017-01-07 10:22] bnoordhuis commented on #165
Yes.  V8 doesn't guarantee that destructors of weakly persistent objects (what AsyncWraps are) run before isolate termination.  As there is only one isolate and it's disposed of at program exit, node takes the easy path.

[2017-01-08 04:36] mrkmarron commented on #163
Thanks, that is very helpful. @digitalinfinity and @obastemur it looks like there is an error when we try to read one of the log files -- errno is 87 and we translate this to the error message "87 Shared library version mismatch" using strerror. Is it possible that there is an incompatibility with our build and OSX El capitan v10.11.2?

I don't have access to my mac for the next few days but would

[2017-01-08 05:50] Josema commented on #163
@mrkmarron Is the same script that you send me before.
[code]

But it fails with any other script.

[2017-01-08 05:59] mrkmarron commented on #163
Interesting, can you share a script that fails when you run it?

[2017-01-08 06:28] Josema commented on #163
I forgot to mention that the `log` directory is created on the same directory of the file where I run the script. Let's make some tests from the beginning.
I'm in this directory. `/Users/enzo/test`

This is your script called yourscript.js
[code]
If I run it this is the output:
[code]

Let's try with your two commands:
[code]
The folder `log` it's been created on the same directory:
[code]
Running

[2017-01-09 20:23] ianwjhalliday commented on #165
Does V8 not specify the behavior, or does it guarantee that destructors are definitely not run?  If it changed behavior in the future to run them this issue would be exposed in node-v8.

[2017-01-09 20:24] ianwjhalliday commented on #165
Sounds like the right thing for now is for node-chakracore to not run these destructors on shutdown

[2017-01-10 11:37] bnoordhuis commented on #165
I wouldn't use the word "guarantee" but more than one V8 developer has said the current behavior is unlikely to change.  V8 has behaved this way since its first public release 8 or 9 nine years ago.

[2017-01-11 19:05] kunalspathak opened #167 "Make chakracore as default engine"
* **Version**:
* **Platform**:
* **Subsystem**:

We should make chakracore as default engine in this repo and update the instructions on `README.md`.

[2017-01-12 07:39] obastemur commented on #167
@kunalspathak which branch this issue should target?

[2017-01-13 01:13] ianwjhalliday commented on #165
Ok great.

I have updated node-chakracore to do the same in PR #166

[2017-01-13 01:22] ianwjhalliday opened #168 "v8::PropertyCallbackInfo::ShouldThrowOnError unsupported in chakrashim"
After the merge in PR #166 the method `v8::PropertyCallbackInfo::ShouldThrowOnError` was added in the v8 API.

It is no implemented in the chakrashim, left as a TODO.

[2017-01-13 21:55] #165 closed, assigned to ianwjhalliday

[2017-01-23 12:44] alexlamsl opened #170 "this === global yields false in node-chakracore"
`this === global` gives `true` on Node.js (tested 7.4.0) where as node-chakracore gives `false` (tested 7.0.0-pre9 and v8.0.0-nightly201701238e66382a18)

This breaks [vows](https://www.npmjs.com/package/vows) as it [decides what to pass on as context object](https://github.com/vowsjs/vows/blob/v0.8.1/lib/vows.js#L136).

[2017-02-02 18:55] #167 closed, assigned to nobody

[2017-02-20 21:41] obastemur commented on #163
[code]

Latest ChakraCore, this issue should be fixed

[2017-02-24 00:48] williamkapke commented on #156
[code]

... ooohh DANG! I'm in business :tada:

THANKS!!!!!!

[2017-02-24 00:48] #156 closed, assigned to nobody

[2017-02-24 01:10] williamkapke opened #174 "darwin missing from nightlies"
It's there on the 13th, but not after...

[v8.0.0-nightly2017021305e0f044bc/](https://nodejs.org/download/chakracore-nightly/v8.0.0-nightly2017021305e0f044bc/)                  13-Feb-2017 10:30                   -
[v8.0.0-nightly2017021405e0f044bc/](https://nodejs.org/download/chakracore-nightly/v8.0.0-nightly2017021405e0f044bc/)                  14-Feb-2017 10:30                   -

[2017-02-25 00:44] kfarnung opened #175 "JSLint errors"
When I run tests on the xplat branch I see jslint errors.  I've only tried on Windows so far.
[code]

[2017-02-25 00:44] kfarnung commented on #175
@digitalinfinity FYI

[2017-02-25 00:46] kfarnung commented on #175
The last set seem to be the by-product of a test run:

[code]

[2017-02-25 00:46] digitalinfinity commented on #175
@kunalspathak can you see if these still show up after your merge? It would be good to understand the root cause of these errors

[2017-02-25 00:47] digitalinfinity commented on #174
Thanks @williamkapke - @joaocgreis mentioned this too a couple days ago. We're looking at the right way to fix this.

[2017-02-26 03:10] kunalspathak opened #176 "node-bunyan unit test failure"
* **Version**: v8.0.0-pre
* **Platform**: 14.04.1-Ubuntu SMP Wed Jun 29 20:22:11 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**: chakrashim

[code]

[2017-02-26 05:50] kunalspathak commented on #175
Nope. i don't see any of those.

By the way, if any of you noticed below text in the output that @kfarnung pasted , I have opened https://github.com/Microsoft/ChakraCore/issues/2604 to track it

[code]

[2017-02-27 18:21] kunalspathak opened #178 "Consider using --embed-icu for nightlies"
* **Version**: 8.0.0-pre
* **Platform**: Ubuntu 14.04
* **Subsystem**: build

When tried [nvs](https://github.com/jasongin/nvs) on Ubuntu 14.04, I kept getting below error.
[code]

We should consider using `--embed-icu` switch in the nightlies build.

[2017-02-28 09:16] ghost opened #179 "[Windows 10 IoT core] NodeJS cluster API"
* **Version**: `v7.0.0-pre`
* **Platform**: `Windows 10 IoT core`
* **Subsystem**: `Raspberry Pi 3`

Hi,

I am currently playing with Windows 10 IoT Core.

I am coding a Bluetooth - Bluetooth LE scanner. The idea is to detect any BT, BTLE device close to my Raspberry Pi.

In order to do so I have created the following project: https://github.com/jackTheRipper/uwp-bluetooth-scanner

At first I deve

[2017-02-28 17:45] kunalspathak commented on #179
Thanks @jackTheRipper for reporting. Could you provide a repro code ?

[2017-02-28 18:53] kunalspathak commented on #110
@leebenson , could you try again with latest [nightly](https://nodejs.org/download/chakracore-nightly/) binaries?

[2017-02-28 19:52] ghost commented on #179
@kunalspathak I pushed the code using the cluster here: https://github.com/jackTheRipper/uwp-bluetooth-scanner/tree/cluster-version

The program dies with the following output:

[code]

When debugging it breaks on the first `fork`:

[code]

I don't know if it could be related, version of the OS for the Raspberry: 10.0.14393.693

[2017-02-28 20:00] kunalspathak commented on #179
@munyirik - in case he is aware of this.

[2017-03-01 06:06] ghost commented on #179
@kunalspathak I updated my code. The version on master using EventEmitter works like a charm.

The version with the cluster doesn't. At least on the Raspberry Pi.

Anyway super experience. Doing IoT with JavaScript !

[2017-03-01 19:07] kunalspathak commented on #150
Fixed in latest nightly version. Tried on ` node: '8.0.0-nightly20170301fd355edcd9'`.

[2017-03-02 02:22] kunalspathak opened #181 "Explore options to use Node's ICU"
* **Version**:
* **Platform**:
* **Subsystem**:

Currently `node-chakracore` is built with `--without-intl` option. Once https://github.com/Microsoft/ChakraCore/pull/2609 is merged, see if we can leverage node's `deps\icu`.

[2017-03-02 13:56] obastemur opened #182 "Build fails to recognize changes in deps/chakrashim/core and re-build"
node-chakracore/xplat branch.

Two problems;

1 - Updating code (c/c++..) under `deps/chakrashim/core` doesn't trigger chakrashim build. This is expected since we use CMake build from sub bash process. However, we better fix this because it's confusing / miss-leading and buggy.

2 - In order to trigger chakrashim build (so the `core` build), update one of the chakrashim source files. My expectatio

[2017-03-05 03:26] hemanth commented on #150
Curious about the fix.

[2017-03-05 06:59] kunalspathak commented on #150
Last time I investigated, the `TypeError` was coming because `formatValue` was trying to perform `toString` on a `Symbol` that was broken in chakrashim. With latest changes in Chakracore and I am assuming some refactoring in `lib\util.js`, this seems to be fixed.

[2017-03-06 15:41] bzoz commented on #134
Fixed by https://github.com/nodejs/node/pull/9615

[2017-03-06 15:41] #134 closed, assigned to nobody

[2017-03-06 17:56] #150 closed, assigned to kunalspathak

[2017-03-06 23:44] hemanth commented on #150
:+1:

[2017-03-07 23:25] munyirik commented on #179
Hi @jackTheRipper if you need to use cluster I would recommend using node-chakracore.

It looks like you're using node-chakra (uwp) which doesn't support it. There's also more things it doesn't support (listed [here](https://github.com/ms-iot/ntvsiot#unsupported-nodejs-api))

With node-chakracore you can still be able to access the UWP API for Bluetooth with [NodeRT](https://github.com/NodeRT/Node

[2017-03-07 23:29] ghost commented on #179
Ok. Thank you. I will take a look at it. Let's close the issue then.

[2017-03-07 23:29] #179 closed, assigned to nobody

[2017-03-10 22:42] #181 closed, assigned to kunalspathak

[2017-03-13 20:41] kunalspathak commented on #178
Fixed by #185

[2017-03-13 20:41] #178 closed, assigned to nobody

[2017-03-13 20:41] kunalspathak commented on #174
Fixed by #185

Latest nightly has it.
https://nodejs.org/download/chakracore-nightly/v8.0.0-nightly2017031320fa6b1909/

[2017-03-14 11:38] joaocgreis commented on #174
I can confirm the release job is running as expected now.

[2017-03-14 11:38] #174 closed, assigned to nobody

[2017-03-15 01:50] kunalspathak opened #187 "Enable test-util-format"
* **Version**:
* **Platform**:
* **Subsystem**:

Once https://github.com/nodejs/node/pull/11854, enable executing `test\parallel\test-util-format.js`.

[2017-03-15 20:55] kunalspathak commented on #121
We have OSx builds produced in nightlies.

[2017-03-15 20:55] #121 closed, assigned to nobody

[2017-03-15 20:56] #21 closed, assigned to nobody

[2017-03-16 00:32] kunalspathak opened #189 "Citgm compatibility of node-chakracore"
* **Version**:
* **Platform**:
* **Subsystem**:

This issue is to track `node-chakracore`'s modules compatibility. `citgm` is used to verify the compatibility and below is the list of modules that fails on windows.

Name | Fail count | Reason
---  | --- | ---
express | 3 | Error message difference
body-parser | 3 | Error message difference
ftp | 1 | Date doesn't match. Expected : "2012-12-21T08:00

[2017-03-16 18:21] kunalspathak opened #190 "Add support for node-pre-gyp"
* **Version**:
* **Platform**:
* **Subsystem**:

Many native modules use `node-pre-gyp` to download pre-built binary from release servers. However, today pre-built binaries for all native modules are compiled using `node-v8`. If we try to install these modules using `node-chakracore`, it will still download the pre-built binary and when ran unit test for those modules they will fail because pre-bu

[2017-03-16 18:22] kunalspathak opened #191 "Compatibility with node-weak"
* **Version**:
* **Platform**:
* **Subsystem**:

Today, `node-chakracore` is not compatible with `node-weak` module. Investigate what it takes to make it compatible.

[2017-03-16 21:42] kunalspathak commented on #190
@bzoz mentioned offline that setting environment variable `npm_config_build_from_source` or using `npm set build_from_source` should force building for source. Might be worth adding this to `node-pre-gyp` if `jsEngine == 'chakracore'`.

[2017-03-20 19:30] kunalspathak opened #193 "Move all JsrtTTD APIs called under an if-check"
* **Version**:
* **Platform**:
* **Subsystem**:

There are several places in node and chakrashim source code like below where we call `JsrtTTD*()` APIs directly without checking if node instance is running under record/replay mode.

[code]
Although this becomes no-op when it reaches from Jsrt layer into chakracore, but by then we have paid the price of creating and destroying heavy operations like

[2017-03-21 15:41] kunalspathak commented on #182
Currently for non-win32, chakracore is always built using [Release](https://github.com/nodejs/node-chakracore/blob/xplat/deps/chakrashim/chakracore.gyp#L15). Address to build the flavor based on what was passed to `./configure`.

[2017-03-23 16:33] joaocgreis opened #195 "xplat build failing on Ubuntu 16.04"
* **Version**: `xplat` at https://github.com/nodejs/node-chakracore/commit/87ce098018d5200f41037760a33d30c2f77385df
* **Platform**: Ubuntu 16.04

`xplat` fails to build on Ubuntu 16.04 since https://github.com/nodejs/node-chakracore/commit/87ce098018d5200f41037760a33d30c2f77385df (PR-URL: https://github.com/nodejs/node-chakracore/pull/194).

Because of this, there have been no Linux nightlies afte

[2017-03-23 16:39] kunalspathak opened #196 "Resolve lint errors"
Below are some of the lint errors that we are getting following @mrkmarron  changes in TTD.

[code]

* **Version**:
* **Platform**:
* **Subsystem**:

[2017-03-24 05:15] #187 closed, assigned to nobody

[2017-03-24 11:51] joaocgreis commented on #195
Fixed by https://github.com/nodejs/node-chakracore/pull/199

[2017-03-24 11:51] #195 closed, assigned to mrkmarron

[2017-03-24 12:11] joaocgreis opened #200 "Build failure with Microsoft Visual C++ Build Tools 2015"
| This issue replaces "building with Microsoft Visual C++ Build Tools 2015 Technical Preview" (https://github.com/nodejs/node-chakracore/issues/24). That issue no longer exists, most likely because the account that was used to create it was deleted (user `dn7q3b`). |
|-|

* **Version**: `xplat` at https://github.com/nodejs/node-chakracore/commit/a35216f4b237c0b0e9604fe8b3b660b47c4211f3
* **Platfor

[2017-03-25 02:31] digitalinfinity commented on #200
@joaocgreis the CI build does pass- https://ci.nodejs.org/view/All/job/chakracore-test-windows/46/

However, I see test failures in this log: https://ci.nodejs.org/job/node-test-binary-windows/RUN_SUBSET=3,VS_VERSION=vs2015,label=win2012r2/7288/console

Is this the same issue as nodejs/node#10286?

[2017-03-27 16:48] alexlamsl opened #201 "anonymous function name behave differently from V8"
From https://github.com/mishoo/UglifyJS2/issues/1703
Tested `chakracore-nightly 8.0.0-nightly20170325a35216f4b2`

Test code:
[code]

Console output:
[code]

[2017-03-27 17:30] alexlamsl commented on #201
With this minimal addition to the example above, `node-chakracore` will match the behaviour of `node-v8`:
[code]

Console output:
[code]

[2017-03-27 21:18] leebenson commented on #110
user	0m18.800s
sys	0m5.000s

MUCH faster. On par with Node proper.

[2017-03-28 07:04] #110 closed, assigned to nobody

[2017-03-28 16:36] joaocgreis commented on #200
That failure was with binaries compiled by VS2015, not VCBT, so it's unrelated. The failure is in `parallel/test-http-client-get-url` so it's not the same as https://github.com/nodejs/node/issues/10286, but might have the same root cause. This looks like a one off to me.

I am positive that your changes fix this issue.

[2017-03-29 06:55] Cellule commented on #153
I get the same problem when putting `"runtimeArgs: [""]` in my launch configuration.
From the console the difference seems to be `--nolazy` is missing when using the above config.

My full config
[code]
Where `nodech` is node for chakracore on my path.
Also, I am using latest chakracore.dll

[2017-03-29 06:57] Cellule opened #202 "VSCode step in eval code"
In the following script

[code]

If I put a breakpoint at `foo()` and then try to step in, it hits an assert in debug build.

Stack:
[code]

[2017-03-30 15:55] Fishrock123 opened #204 "Compile failure on OS X 10.10.5"
* **Version**: `xplat` @ a35216f4b237c0b0e9604fe8b3b660b47c4211f3
* **Platform**: OS X 10.10.5

[code]

`clang -v`:
[code]

[code]

----

I _think_ this means I need to change `-Wc++11-narrowing`, but I do not remember where to do so. Some `CMakeLists` file I think? 😅

[2017-03-30 16:13] obastemur commented on #204
@Fishrock123 could you please re-clone the repo. (we need a clean run) Build as is and... in the end, share the contents of `deps/chakrashim/core/out/Release/build.log` ?

[2017-03-31 01:51] mrkmarron commented on #162
Fixed in PR #180.

[2017-03-31 01:51] #162 closed, assigned to nobody

[2017-03-31 01:52] mrkmarron commented on #159
Added info to --help and checks for appropriate usage in PR #180.

[2017-03-31 01:52] #159 closed, assigned to nobody

[2017-03-31 01:53] mrkmarron commented on #161
Added info to --help and checks for appropriate usage in PR #180.

[2017-03-31 01:53] #161 closed, assigned to nobody

[2017-03-31 01:56] mrkmarron commented on #163
We have updated the TTD usage flags to be easier to use and simpler to write traces (PR #180). Our TTD documentation has also been revised (https://aka.ms/nodettd) and macOS support is improved. This should resolve the issues here but please re-open if you continue to have problems.

[2017-03-31 01:56] #163 closed, assigned to nobody

[2017-04-03 18:59] Fishrock123 commented on #204
A full re-clone and build gets me:

[code]

[2017-04-03 19:00] Fishrock123 commented on #204
Full `deps/chakrashim/core/out/Release/build.log` below:

[code]

[2017-04-04 19:22] ghost opened #208 "TTD Mac OS Sierra using Visual Studio Code"
* **Version**: v8.0.0-nightly2017040425ca0d9eb8
* **Platform**: Mac OS
* **Subsystem**: Sierra 10.12.3

Hi,

I have noticed an issue on Mac OS Sierra when using the time travel debugging.

I am using the test framework `mocha`.

When running my test I use the following command line:

[code]

The output:

[code]

In VSC, I have the following configuration in my `launch.json` file:

[code]

When I r

[2017-04-04 20:58] kfarnung commented on #208
@mrkmarron Can you take a look at this issue?

[2017-04-05 13:49] obastemur commented on #204
[  0%] Building CXX object lib/Common/Codex/CMakeFiles/Chakra.Common.Codex.dir/Utf8Codex.cpp.o

Interesting. It should start building Pal first. I'm wondering if somehow there is a folder mixup there?

[2017-04-06 04:56] mrkmarron commented on #208
Hi and thanks for the detailed report.

From my investigation it looks like there are 2 issues.
1. The first issue you report looks like a bug in the TTD code (with a tentative fix [here](https://github.com/mrkmarron/node-chakracore/tree/xplat-iterBug)). I did not have a chance to fully verify the fix on your code but I have built a macOS binary as a release [here](https://github.com/mrkmarron/nod

[2017-04-13 09:57] Alphapage opened #212 "Enable es2015 modules feature"
Hello,

I can't find a way to enable es2015 modules in node-chakracore.
Is it possible to play with such a feature since chakracore support it (special command line arg) ?

Thank you in advance for your answers.

[2017-04-14 12:37] ankon opened #213 "libicuuc.so.55: cannot open shared object file: No such file or directory"
* **Version**: N/A (should be chakracore-nightly/8.0.0-nightly20170414265fc0bedc/x64)
* **Platform**: Linux 4.10.8-200.fc25.x86_64 (Fedora 25)
* **Subsystem**:

Trying out node-chakracore on Fedora 25:
[code]

libicu is installed, but provides libicu*.so.57.1:
[code]

This looks like https://github.com/nodejs/node-chakracore/issues/178, which is supposedly fixed by #185 -- but that PR seems to onl

[2017-04-15 10:38] obastemur commented on #213
No, you are not doing anything wrong. The reason is that, the particular nightly build (as you've mentioned) doesn't have the necessary change in place.

https://github.com/nodejs/node-chakracore/blob/xplat/deps/chakrashim/chakracore.gyp#L85 looks like the breaking part.

We better use the same approach we use on macos. I don't see any reason to not to that. @ankon would you like to contribute the

[2017-04-17 16:57] aruneshchandra opened #214 "New contributors for Node-ChakraCore"
Please add the following contributors to [node-ChakraCore](https://github.com/orgs/nodejs/teams/node-chakracore) team:

* [jasongin](https://github.com/jasongin) - Jason Ginchereau
* [MSLaguana](https://github.com/MSLaguana) - Jimmy Thomson
* [mrkmarron](https://github.com/mrkmarron) - Mark Marron

//cc: @mhdawson, @jasnell

[2017-04-17 17:30] jasnell commented on #214
done!

[2017-04-17 17:30] #214 closed, assigned to nobody

[2017-04-17 20:49] MSLaguana opened #217 "Node-v8 and node-chakracore behave differently to syntax errors in the REPL"
* **Version**: v8.0.0-nightly20170417265fc0bedc
* **Platform**: Windows 64-bit
* **Subsystem**: REPL

When using the node REPL interactively, typing some invalid (to my knowledge) symbols will cause node-v8 to prompt for further input, while node-chakracore gives an error:

[code]

[code]

Note that the `@` gives an error in both cases, while `^` generates a (different) error in node-chakracore wh

[2017-04-20 18:38] mrkmarron opened #218 "TTD replay-debug broken"
Copying from [here](https://github.com/mrkmarron/RFSDemoJS/issues/3). From initial investigation it looks like the merge in commit ac1e9e0 altered some code that indicates if the debugger is attached and now the flag use code in node.cc (looks like lines 4856 and 4882) is out of date.

## Setup:
MacOS Sierra 10.12.4
Node version: v8.0.0-nightly201704205bd7d4d626
VSCode version: Version 1.12.0-insi

[2017-04-21 01:53] jcrben opened #219 "Integrating with nvm or nodenv?"
Is there a reason this node-chakracore couldn't be integrated as an option in nvm or [nodenv](https://github.com/nodenv/nodenv) rather than recommending nvs?

I personally use nodenv and I really like being able to use the same language version switcher architecture across languages (pyenv, rbenv, etc). Wary of dealing with another version manager. I could probably build chakra into nodenv altho I

[2017-04-21 02:12] jcrben commented on #219
Also, I couldn't get time traveling debugging to work. I tried one of the v7 and one of the v8 releases.

The instructions feel a bit scattered. Could we get a very specific set of instructions? Ideally the instructions have fewer words and more code. For example a shell script which downloads a specific version of chakra and a demo folder, which contains a script to execute the proper commands, w

[2017-04-21 08:41] phraemer opened #220 "WebAssembly not supported"
Currently it seems to build without support for WebAssembly.
Any way to turn this on?

[2017-04-21 13:01] iX315 commented on #218
Same issue here...
Following [THIS](https://github.com/nodejs/node-chakracore/blob/xplat/TTD-README.md)

vscode launch.json contains:
`{
            "name": "TTD - Trace Debug",
            "type": "node",
            "request": "launch",
            "protocol": "legacy",
            "stopOnEntry": true,
            "program": "${file}",
            "windows": {
                "runtimeExecutable"

[2017-04-21 20:09] digitalinfinity opened #221 "Node-ChakraCore debugging is broken"
* **Version**: nightly (v8.0.0-pre)
* **Platform**: all
* **Subsystem**: debugger

Looks like the recent merge from nodejs/node master broke Node-ChakraCore since --debug is no longer supported. This should get resolved when https://github.com/nodejs/node-chakracore/pull/210 lands.

[2017-04-23 06:17] alexlamsl opened #223 "`!1 * (a &= -1)` behaves differently from `a &= -1`"
* **Version**: v8.0.0-nightly20170415265fc0bedc
* **Platform**: Microsoft Windows [Version 10.0.14393]

[good.js](https://github.com/nodejs/node-chakracore/files/949483/good.txt)
[bad.js](https://github.com/nodejs/node-chakracore/files/949484/bad.txt)

On Node.js 7.9.0 they give identical results:
[code]

On Chakracore however (also tried `7.0.0-pre10`):
[code]

The only line of difference between

[2017-04-23 12:37] alexlamsl commented on #223
Another similar case:
[good.js](https://github.com/nodejs/node-chakracore/files/949688/good.txt)
[bad.js](https://github.com/nodejs/node-chakracore/files/949689/bad.txt)
[code]
Difference is between `(Math_1 <<= !1) * !1` and `Math_1 <<= !1`
[code]

[2017-04-29 00:23] kfarnung commented on #221
#210 landed, we'll file individual issues for anything that comes up with inspector.

[2017-04-29 00:23] #221 closed, assigned to nobody

[2017-04-29 00:24] kfarnung opened #225 "Remove deprecated debugger code"
Now that inspector has landed, we need to remove the deprecated (and no longer functional) debugger code.

[2017-04-29 00:25] kfarnung opened #226 "Handle UTF-8/UTF-16 conversion for inspector"
Currently the inspector code only supports ASCII and will assert if any Unicode characters are encountered.

#### Todo
- [x] Enable ICU in node-chakracore (will be handled by #247)
- [x] Remove workaround code from inspector_io.cc

[2017-04-29 00:26] kfarnung opened #227 "Enable and fix the inspector tests"
The inspector tests are currently disabled.  Re-enable them and get them passing.

### New test cases
- [ ] Add a lambda paused event test case for #230
- [ ] Add TTD stepback/reverse test cases for #244
- [ ] Add undefined variable test #280

[2017-04-29 00:27] kfarnung opened #228 "Add TTD support to inspector"
With the switch to inspector, TTD is no longer wired up.

[2017-04-29 00:28] kfarnung commented on #175
Other than the occasional test file failure, I'm not seeing any jslint issues.

[2017-04-29 00:28] #175 closed, assigned to nobody

[2017-04-30 00:50] mariogrip opened #229 "Crashes when trying to run node-chakracore Ubuntu Xenial"
* **Version**: 8.0.0-nightly20170429a043cb86fe
* **Platform**: Linux Ubuntu Xenial running in chroot 4.10.0-20-generic x86_64
* **Subsystem**:

Crashes when trying  to run node-chakracore. node v8 works fine.

[code]

[code]

To recreate this:

[code]

[2017-04-30 21:18] digitalinfinity commented on #229
Thanks @mariogrip- this looks like a crash in ChakraCore while getting the current threads stack limits- @obastemur is this issue a known one? If so, is there something I need to cherry-pick into release/2.0?

[2017-05-01 23:08] alexlamsl commented on #223
[good.js](https://github.com/nodejs/node-chakracore/files/968991/good.txt)
[bad.js](https://github.com/nodejs/node-chakracore/files/968990/bad.txt)
[code]

[2017-05-02 00:59] digitalinfinity commented on #223
Thanks @alexlamsl - do you mind opening this issue in Microsoft/ChakraCore since this is not really a node issue, it's a ChakraCore issue. Also, curious- what tool are you using to generate this test case?

[2017-05-02 04:01] alexlamsl commented on #223
@digitalinfinity thanks for the confirmation - I suspected so but I can't use ChakraCore alone so there is no way for me to verify this.

These cases are discovered using https://github.com/mishoo/UglifyJS2/blob/master/test/ufuzz.js

[2017-05-02 04:08] alexlamsl commented on #223
Issue moved to https://github.com/Microsoft/ChakraCore/issues/2899

[2017-05-02 04:08] #223 closed, assigned to nobody

[2017-05-04 01:03] JoeUX opened #234 "asm.js and WebAssembly support"
Version: Node 7.10.0
Platform: Windows 10 Home and Pro, 64-bit, Version 1703
IDE: Visual Studio 2017

Hi all – Does node-ChakraCore include the asm.js and WebAssembly support that Chakra has in Edge?

If yes, I'd be grateful if you could point me to some tips or docs on how to leverage those features on a server.

Thanks.

[2017-05-04 08:43] Cellule commented on #234
Node-ChakraCore has all the asm.js capabilities that Edge has.
As for WebAssembly, the feature is currently turned off by default.
You can follow up with https://github.com/Microsoft/ChakraCore/pull/2447.

It might be possible to try out WebAssembly in Node-ChakraCore, but you would need to build it yourself since the configuration flags are unavailable in Release builds.
I can't see if there is a

[2017-05-08 18:00] kfarnung opened #237 "Buffer.unsafeAlloc() still zero-fills"
* **Version**: v8.0.0-pre
* **Platform**: Windows
* **Subsystem**: buffer

A recently fixed test (in node-v8) has started failing in node-chakracore.  The test ensures that the buffers returned from Buffer.unsafeAlloc() are not zero-filled (which is the ES6 standard).

[code]

The test simply executes in a loop allocating new buffers and looking for any uint8 value which is non-zero.  Digging into

[2017-05-08 18:02] addaleax commented on #237
Fwiw, the non-filling is an optimization – I think you can just skip the test in chakracore, if you want.

[2017-05-10 17:15] kunalspathak opened #240 "No windows ARM nightly builds"
* **Version**:
* **Platform**:
* **Subsystem**:

chakracore-nightly builds doesn't have ARM builds. The last ARM build that came out was https://nodejs.org/download/chakracore-nightly/v8.0.0-nightly201705047f33b4cbf3/

As per @joaocgreis :

Last good revision was https://github.com/nodejs/node-chakracore/commit/7f33b4cbf385d2a53836b9da0111ca7086ac8111 .
The next nightly (first failing one) was htt

[2017-05-11 02:26] WendyFeng01 opened #242 "When install package "sync", there is an error that the associated package "fibers" can't be installed"
**Repro steps:**

1.	Install the NVS( https://github.com/jasongin/nvs/releases ) to the machine(Win10).
2.	Install the python(https://www.python.org/downloads/) .
3.	Using the following instructions to install the nightly builds.
nvs remote chakracore-nightly https://nodejs.org/download/chakracore-nightly/
nvs add chakracore-nightly/latest
nvs use chakracore-nightly

4.	Create a folder in C disk a

[2017-05-17 20:48] kunalspathak opened #246 "Latest test-addon-napi test failing with node-chakracore"
Below 3 addon-napi test cases are failing. This issue is to track the fix and re-enable them.

[code]

* **Version**:
* **Platform**:
* **Subsystem**:

[2017-05-18 23:09] kunalspathak commented on #246
@jasongin  - I think your PR still doesn't address `test/addons-napi/test_reference/test.js`, right?

[2017-05-18 23:11] jasongin commented on #246
Right, reopening to track the remaining test_reference failure. For that I'll make a PR to node/master and we should re-enable the test when we merge the fix.

[2017-05-18 23:12] kunalspathak commented on #246
Great, Thanks!

[2017-05-18 23:35] #228 closed, assigned to kfarnung

[2017-05-19 00:03] kfarnung commented on #242
@WendyFeng01 It looks like there are a few issues here.

#### Issue 1
It looks like the version of npm being used belongs to an MSI-installed copy of nodejs:
[code]
Compared to my build:
[code]

#### Issue 2
It also looks like you may be missing some of the Windows SDK files required for build as well:
[code]

#### Issue 3
Unfortunately it looks like the [fibers](https://github.com/laverdet/node-f

[2017-05-19 01:26] #226 closed, assigned to kfarnung

[2017-05-19 22:51] #225 closed, assigned to kfarnung

[2017-05-20 00:03] kfarnung commented on #202
@Cellule I'm not able to reproduce that issue with the new inspector support.  In that case it just steps over the call to foo.

Can you give it a try?

[2017-05-20 00:06] kfarnung commented on #218
@mrkmarron @iX315 I just landed TTD support using the inspector protocol this week, but there's a [node PR](https://github.com/nodejs/node/pull/12949) required to get launching with inspector working correctly.  Once that PR lands, please try again using inspector.

[2017-05-21 06:57] alexlamsl opened #251 "npm does not work in latest nightly"
* **Version**: v8.0.0-nightly20170520b60c0243d4
* **Platform**: Windows 8 x64
* **Subsystem**: npm

[code]

[2017-05-21 07:00] alexlamsl commented on #251
Not sure if related: https://github.com/nodejs/node/issues/13045

[2017-05-21 07:07] alexlamsl commented on #251
Going back day-by-day, the last working version is `v8.0.0-nightly2017051728cdc33c8d`

[2017-05-21 10:31] addaleax commented on #251
Sounds a lot like it – Can you check that applying https://github.com/nodejs/node/commit/6bfdeedce5529810dbe7c61bd712fc50174a19f1 helps?

[2017-05-21 11:07] alexlamsl commented on #251
@addaleax thanks for the information.

I don't have the environment to compile Node.js though, so I guess I'll wait :sweat_smile:

[2017-05-21 12:45] sebdeckers commented on #251
@addaleax That fixed it for me, thanks!

[2017-05-22 18:53] digitalinfinity commented on #251
Thanks @addaleax - we ran into this too, and the PR from @refack seemed to address this (thanks @refack!). @kunalspathak FYI, nodejs/node#13092 has landed.

[2017-05-22 22:00] joaocgreis commented on #200
Fixed by https://github.com/nodejs/node-chakracore/pull/203

[2017-05-22 22:00] #200 closed, assigned to digitalinfinity

[2017-05-22 22:11] kfarnung opened #255 "inspector: Eval code is missing source"
In the following script

[code]

When the debugger tries to pause, it will be unable to get the source code.

This is based on #202, thanks @Cellule!

[2017-05-22 22:12] kfarnung commented on #202
Looks like this issue is no longer reproducing, opened an issue to deal with the lack of eval source code.

[2017-05-22 22:12] #202 closed, assigned to kfarnung

[2017-05-22 22:17] kfarnung commented on #218
I just realized that you can add `--inspect-brk` to the `runtimeArgs` to work around the VS Code issue.

[code]

[2017-05-22 22:43] Cellule opened #256 "Nightly Arm Binaries"
There used to be Arm binaries of Node-ChakraCore
The last one produced was on May 4th:
https://nodejs.org/download/chakracore-nightly/v8.0.0-nightly201705047f33b4cbf3/

In the latest build after that, there were no arm binaries available.

Also, in the [index.json](https://nodejs.org/download/chakracore-nightly/index.json) file, there were no entries for arm in the `files` field which prevent `nvs

[2017-05-22 22:45] kfarnung commented on #256
@kunalspathak @digitalinfinity were looking into this, I'm not sure of the status.

[2017-05-22 22:46] kunalspathak commented on #256
Duplicate of https://github.com/nodejs/node-chakracore/issues/240

[2017-05-22 22:46] #256 closed, assigned to nobody

[2017-05-22 22:50] Cellule commented on #256
Oh Thanks,
I had a todo to open an issue, I didn't know you opened one since.

[2017-05-22 23:55] kfarnung opened #257 "test: UT failure - parallel/test-vm-sigint"
This only repros on Linux since the test is skipped on Windows.

[Example CI run](https://ci.nodejs.org/job/chakracore-test-linux/81/nodes=ubuntu1604-64/tapResults/)

[code]

[2017-05-22 23:55] kfarnung commented on #257
/cc @kunalspathak

[2017-05-25 22:19] kunalspathak commented on #257
Below test cases are failing as well and root case seems to be same. The script engine is in exception state and host tries to allocate string which returns error.

* parallel/test-vm-sigint
* parallel/test-vm-sigint-existing-handler
* parallel/test-repl-init

[code]

[2017-05-26 22:04] kfarnung opened #266 "inspector: TTD Reverse not hitting breakpoints"
Using the latest xplat commit I record a script:
[code]

Then record it:
`node.exe --record app.js`

Then play it back:
`node.exe --inspect-brk --replay-debug=_diagnosticTraces\emitOnException dummy.js`

When it breaks on the exception I place a breakpoint on the first console.log and try to reverse.  It never stops on the breakpoint and eventually starts on the first line of the timeout handler.

[2017-05-26 22:08] kfarnung opened #267 "inspector: TTD hangs node, can't exit"
Tested using latest xplat commit.

Debug a script that ends in an exception (like #266).  Once you hit the exception there's no way to exit.  Trying to continue doesn't continue to the exit and Ctrl-C doesn't work either.

[2017-05-26 22:10] kfarnung opened #268 "build: ARM build needs to use x86 tools"
Building ARM on Windows with ICU enabled causes it to build an ARM tool and try to run it on the x86/x64 machine.  Ideally for build tools they would use the architecture of the build machine, not the architecture of the target.

/cc @digitalinfinity

[2017-05-29 18:28] mrkmarron commented on #267
When the debugger detaches the TTD loop keeps running (node.cc line 4790). In this loop if there is an unhandled exception the TTD system sets a breakpoint at the line with the exception and tries to re-execute but since the debugger isn't attached it does not stop a at this line and hits the exception again.

We probably want  to update the check on line 4797 to check if the debugger is still att

[2017-05-29 18:45] mrkmarron commented on #266
There is a conflict with the debugger trapping unhandled exceptions as well as TTD trying to handle them. If the "uncaught exceptions" box is **unchecked** in the _breakpoints_ pane then things should work as expected.

I am not sure if we want to try and update ChakraCore to handle this or if it is easier to disable automatically at the inspector level.

[2017-05-30 23:18] kfarnung opened #272 "node-chakracore-8.0.0-pre3 release proposal"
We need to prepare a release for https://github.com/nodejs/node-chakracore/releases/tag/node-chakracore-8.0.0-pre3

### Checklist
- [x] Update changelog - #271
- [x] Upload binaries
- [x] Create release text

Created a [release on my fork](https://github.com/kfarnung/node-chakracore/releases/tag/node-chakracore-8.0.0-pre3) to test with.

## 2017-05-31, node-chakracore-8.0.0-pre3

### Commits

* [[

[2017-05-30 23:46] kfarnung commented on #272
Draft release: https://github.com/nodejs/node-chakracore/releases

[2017-05-31 00:00] kfarnung commented on #272
Release published: https://github.com/nodejs/node-chakracore/releases/tag/node-chakracore-8.0.0-pre3

[2017-05-31 00:00] #272 closed, assigned to kfarnung

[2017-05-31 04:39] mrkmarron opened #273 "TTD: allow record to be started via environment variable"
Currently we enable TTD trace recording via the flag "--record" however for some applications (like cluster.fork or child_process.spawn) it is difficult or inconvenient to explicitly pass additional flags. So, having the option to start recording by setting an environment variable (not sure what name we would want to use) instead would be useful.

[2017-05-31 18:48] kunalspathak opened #275 "Nomenclature of branches in node-chakracore"
In order to match the work being done in various branches of `node-chakracore` repo, we are proposing to rename our current branches. This will be done by end of day 06/01/2017 PST.

* [xplat](https://github.com/nodejs/node-chakracore/commits/xplat) will be renamed to `master`. This will be made **default** branch of `node-chakracore` repo. This branch will be tracking `master` branch of `nodejs/n

[2017-05-31 18:49] kunalspathak commented on #275
@joaocgreis  - Once this is done, we will have to update the nightly CI job to target the `master` branch instead of `xplat`.

[2017-05-31 22:50] kfarnung opened #278 "sequential/test-benchmark-net failing on Ubuntu 14.04"
Recently I've been seeing this test fail consistently on Ubuntu 14.04 and not on macOS or Ubuntu 16.04.
[code]

[2017-06-01 00:20] joaocgreis commented on #275
@kunalspathak ok, let me know when to change it.

[2017-06-01 03:26] mrkmarron opened #279 "TTD: Emit on SIGINT not working"
* **Version**: node-chakracore 8.0.0-pre3
* **Platform**: Windows
* **Subsystem**: TTD

It looks like some merge disconnected the logic in lib/internal/process.js (line 238). This was a bit of an odd implementation so we should (1) also see if there is a preferable way to do it and (2) we might also want to make it catch SIGTERM too.

[2017-06-01 03:28] mrkmarron opened #280 "inspector: In VSCode undefined values are shown as "null" in watch."
* **Version**: node-chakracore 8.0.0-pre-3
* **Platform**: Windows
* **Subsystem**: inspector

In VSCode watch window undefined values are shown as "null".

[2017-06-01 03:32] mrkmarron commented on #218
TTD and inspector are now working. Further, the readme.md and example code (for the RFS demo) has been updated to work with node-chakracore/8.0.0-pre3 and resolve this issue.

[2017-06-01 03:32] #218 closed, assigned to kfarnung, boingoing, mrkmarron

[2017-06-01 03:35] mrkmarron commented on #218
Also, setting `"protocol": "inspector"` overrides the VSCode protocol heuristic selection.

[2017-06-01 03:36] #196 closed, assigned to mrkmarron

[2017-06-01 03:36] #193 closed, assigned to nobody

[2017-06-01 14:34] BobFrankston opened #281 "new Date().toLocaleDateString() invalid result"
Microsoft Windows [Version 10.0.14393

{ http_parser: '2.7.0',
  node: '7.0.0-pre8',
  chakra: '11.0.14393.1198',
  uv: '1.9.1',
  zlib: '1.2.8',
  ares: '1.10.1-DEV',
  modules: '48',
  openssl: '1.0.2h' }

As per below toLocalDateString() is returning the 0x200e character instead of the space character

[code]

[2017-06-01 17:21] digitalinfinity commented on #281
Thanks @BobFrGit - I can repro this in ch (ChakraCore's standalone host too). If you don't mind- can you open this issue on Microsoft/ChakraCore instead? If not, I'm happy to open one on your behalf.

Also, curious- is this node-chakra that you're using or node-chakracore?

[2017-06-01 18:04] kfarnung commented on #273
I'm taking a look at this.

[2017-06-01 21:42] BobFrankston commented on #281
I wasn’t sure where to report the bug so I’m open up to better suggestions and a URL. Glad to have you do it.

The bug appeared when I upgraded nodejs from the nodejs.org site to 8.0. It seems that a byproduct was to remove the old NodeJS including its position in the path and then reinstall which left it at the end of the path list. It took me a while to figure out the source of the bug – switchi

[2017-06-01 22:43] digitalinfinity commented on #281
Thanks @BobFrGit - I've opened https://github.com/Microsoft/ChakraCore/issues/3091 to track this. Re the NodeJsUwp questions, @aruneshchandra or @munyirik might be able to help you.

[2017-06-02 00:24] digitalinfinity commented on #281
@BobFrGit just a heads up, there is a discussion going on at https://github.com/Microsoft/ChakraCore/issues/3091 and they'd like to learn more about what you're trying to do. Feel free to chime in on that thread.

[2017-06-02 01:29] #280 closed, assigned to kfarnung

[2017-06-02 12:29] Tonacatecuhtli commented on #10
Hi i just updated to node v8.0.0 and now im getting this issue again:
[code]

with v7.10.0 this isn't a problem.

OS: Windows10

[2017-06-02 18:04] kunalspathak commented on #10
@Tonacatecuhtli - thanks for trying `node-chakracore`. Currently `node-chakracore` only support parameters that you see below.
[code]

[2017-06-02 18:07] kfarnung commented on #10
@Tonacatecuhtli It looks like you may not be using node-chakracore in this case.  I took a look and node-chakracore's behavior matches the upstream behavior for node.  You would need to report your issue upstream at https://github.com/nodejs/node/issues.

[2017-06-02 18:08] Tonacatecuhtli commented on #10
@kfarnung Thanks ok i will do that :)

[2017-06-02 18:21] kfarnung commented on #10
@Tonacatecuhtli It looks like V8 removed support for that argument at some point in 5.8.  You can see the removal here:

https://github.com/nodejs/node/commit/60d1aac8d225e844e68ae48e8f3d58802e635fbe#diff-5fb85405f1ec035ec82ebead4371e7e8L4199

[2017-06-02 20:58] kunalspathak commented on #275
@joaocgreis  - I have pushed new branches but left the `xplat` branch as it is. Once you change the CI job, i will delete this branch.

[2017-06-02 23:49] kfarnung commented on #267
@mrkmarron I took a look in a debugger and we don't appear to be getting stuck in that loop, so I'll have to investigate further.

[2017-06-03 03:57] alexlamsl commented on #251
No longer an issue with `chakracore 8.0.0-pre3` - thanks!

[2017-06-03 03:57] #251 closed, assigned to nobody

[2017-06-03 12:56] joaocgreis commented on #275
@kunalspathak done, the next nightly will come from the master branch.

[2017-06-05 20:42] kunalspathak commented on #275
Thanks @joaocgreis . I have deleted `xplat` and `xplat-v8.x` branches.

[2017-06-05 20:42] #275 closed, assigned to nobody

[2017-06-05 22:31] kfarnung commented on #279
@mrkmarron I tested on Windows and I think it's working for me:

[code]

I hit Ctrl-C and it output the trace successfully.  This sample uses an HTTP server, so it was just idling at the point I hit Ctrl-C.  For your repro did you use a long-running JS loop?

[2017-06-05 22:36] mrkmarron commented on #279
I just tried to repro and it works fine for me as well. It is possible that I was doing something strange. I'll close this for now and keep an eye on it.

[2017-06-05 22:36] #279 closed, assigned to kfarnung, mrkmarron

[2017-06-05 23:36] #273 closed, assigned to kfarnung, mrkmarron

[2017-06-07 22:58] kfarnung commented on #257
As @MSLaguana pointed out, these tests can leave zombie node processes around that ultimately fail the CI run. We may want to consider just skipping them completely.

[2017-06-09 12:27] obastemur commented on #213
This is fixed on master. However, I see that node-chakracore/chakracore defaults to `--no-icu` and that affects many subsystem negatively. Will send a PR. (there will be a separate PR to upstream)

[2017-06-12 20:31] kfarnung opened #292 "Investigate new inspector test failure"
After the latest merge there's a new failure in `test-inspector-break-when-eval`:
[code]

When merging v8.1.0 there was also a new failure in `test-off-with-session-then-on`:
[code]

[2017-06-12 20:32] kunalspathak opened #294 "Investigate test-inspector-break-when-eval failure"
https://github.com/nodejs/node-chakracore/pull/293 marked test-inspector-break-when-eval as flaky. Investigate and re-enable it.

* **Version**:
* **Platform**:
* **Subsystem**:

[2017-06-12 20:34] kfarnung commented on #294
Duplicate of #292.

[2017-06-12 20:34] #294 closed, assigned to kfarnung

[2017-06-13 15:36] tommyZZM opened #297 "./configure --xcode not working"
[code]

[2017-06-13 16:26] obastemur commented on #297
This is because of ChakraCore's CMake build system. I had started for ChakraCore gyp build for node-chakracore only. However, currently this is not a high priority item. If anyone could contribute ChakraCore gyp build, that would be epic!

[2017-06-13 18:24] bnoordhuis commented on #297
Before someone spends much time on that: I'm porting node's build system to cmake ([tree](https://github.com/bnoordhuis/io.js/tree/cmake)).

[2017-06-14 14:00] obastemur commented on #297
@bnoordhuis sounds great. Any estimate? remaining items I can contribute?

@digitalinfinity time to consider fixing ChakraCore cmake build for Windows ?

[2017-06-14 17:10] digitalinfinity commented on #297
@obastemur perhaps 😄 - @bnoordhuis presumably the intention is to use cmake on both Windows and Linux?

[2017-06-14 21:11] kfarnung commented on #4
v0.12 is no longer supported.  If you're seeing any issues on a recent version, please open a new issue.

[2017-06-14 21:11] #4 closed, assigned to nobody

[2017-06-14 21:12] kfarnung commented on #6
@kunalspathak Can we test the delta between node-v8 and node-chakracore?

[2017-06-14 21:14] kfarnung commented on #8
Windows has support for this and @MSLaguana is looking into adding support for Linux.

[2017-06-14 21:20] kfarnung commented on #22
Windows CE support is not on our roadmap.

[2017-06-14 21:20] #22 closed, assigned to jianchun

[2017-06-14 21:21] kfarnung commented on #23
This has been fixed.

[2017-06-14 21:21] #23 closed, assigned to nobody

[2017-06-14 21:23] kfarnung commented on #28
Our current contribution guidelines require the Node.js guidelines to be followed in chakrashim.

[2017-06-14 21:23] #28 closed, assigned to nobody

[2017-06-14 21:24] #31 closed, assigned to nobody

[2017-06-14 21:25] kfarnung commented on #61
I'll verify that this is no longer the case.

[2017-06-14 21:26] kfarnung commented on #65
@boingoing Can you verify that this is passing in our CITGM runs?

[2017-06-14 21:31] kfarnung commented on #86
@munyirik Can you take a look at this?

[2017-06-14 21:33] boingoing commented on #65
I can verify latest leveldown fails to build against node-chakracore in our CITGM runs. Looks like we're missing some v8 API in chakrashim.

[2017-06-14 21:36] munyirik commented on #86
I've moved this issue to https://github.com/ms-iot/ntvsiot/issues/128 (since this is a node UWP issue). Please close this.

[2017-06-14 21:37] kfarnung commented on #92
@kunalspathak Can you take a look?

[2017-06-14 21:41] kfarnung commented on #104
MSIs are no longer supported, [NVS](https://github.com/jasongin/nvs) is the way to go.

[2017-06-14 21:41] #104 closed, assigned to nobody

[2017-06-14 21:42] kfarnung commented on #105
This should be resolved, @Fishrock123 please let us know if anything is unclear.

[2017-06-14 21:42] #105 closed, assigned to nobody

[2017-06-14 21:44] kfarnung commented on #119
@obastemur Can this issue be closed?

[2017-06-14 21:47] #120 closed, assigned to nobody

[2017-06-14 21:48] #127 closed, assigned to nobody

[2017-06-14 21:53] #168 closed, assigned to nobody

[2017-06-14 21:54] kfarnung commented on #176
@boingoing Can you take a look at this as part of the CITGM work?

[2017-06-14 21:58] kfarnung commented on #204
@obastemur Is there any update here?

[2017-06-14 22:00] kfarnung commented on #208
@jackTheRipper Were you able to work around this issue?

[2017-06-14 22:05] kfarnung commented on #213
This should have been fixed by https://github.com/nodejs/node-chakracore/commit/d41d2eed5afd4efa0e2cdd37517a9dc7c7c23eef, @ankon can you try to repro on the latest nightly build?

[2017-06-14 22:14] kfarnung commented on #220
See #234

[2017-06-14 22:14] #220 closed, assigned to nobody

[2017-06-14 22:15] kfarnung commented on #229
@obastemur Can you take a look at this?

[2017-06-14 22:16] obastemur commented on #204
I have no way of reproducing it.

[2017-06-14 22:16] #240 closed, assigned to nobody

[2017-06-14 22:18] obastemur commented on #229
This should be fixed. IIRC it was due to a wrong condition on PAL. @mariogrip could you please try latest nightly?

[2017-06-14 22:19] kfarnung commented on #246
I'll take a look.

[2017-06-14 22:19] obastemur commented on #119
Yup

[2017-06-14 22:19] #119 closed, assigned to obastemur

[2017-06-14 22:26] kfarnung commented on #281
@munyirik Is there any update on NodeJsUwp and VS2017 support?

[2017-06-14 22:30] munyirik commented on #281
Sorry, no update at this time.

cc. @paulmon @msalehmsft

[2017-06-14 22:48] kfarnung commented on #86
Thanks @munyirik!

[2017-06-14 22:48] #86 closed, assigned to nobody

[2017-06-15 00:53] kfarnung commented on #61
I tried the nightly build of [node-chakracore from 5/30](https://nodejs.org/download/chakracore-nightly/v8.0.0-nightly20170530e35fd86558/) on a Raspberry Pi 3 running Windows IOT and I'm seeing correct behavior around `console.log`.  If you're still seeing this issue, please let us know.

[2017-06-15 00:53] #61 closed, assigned to kfarnung

[2017-06-15 00:55] kfarnung commented on #84
I'm not seeing an error when passing `--nolazy` to [8.0.0-pre3](https://github.com/nodejs/node-chakracore/releases/tag/node-chakracore-8.0.0-pre3).

[2017-06-15 00:55] #84 closed, assigned to kfarnung

[2017-06-15 02:28] #246 closed, assigned to kfarnung

[2017-06-15 09:45] ghost commented on #208
Hi @kfarnung, it's pretty unstable: sometimes it works some other times it doesn't. But I think it's because I am using Babel.

We can close the issue.

[2017-06-15 10:51] bnoordhuis commented on #297
@digitalinfinity @obastemur Correct, all platforms. I'm aiming for node 9, possibly with cmake and GYP side by side until node 10.

@obastemur I could use help making it work on Windows.  My branch is still in flux but any feedback is welcome.

[2017-06-16 03:17] kunalspathak opened #306 "Investigate test-inspector-exception failure"
* **Version**:
* **Platform**:
* **Subsystem**:

As part of 4f8f708db2722ce828406127862498216bb2e060 `test-inspector-exception` was failing. I have marked it as flaky for now.

[2017-06-16 04:28] kfarnung commented on #306
@kunalspathak It's already fixed in https://github.com/nodejs/node-chakracore/commit/7517f978cc3827613be89cd6dffc2ba02e2e033b, you should be able to just cherry-pick the change.

[2017-06-16 19:05] #306 closed, assigned to kfarnung

[2017-06-19 08:18] KobyBo opened #311 "A Question regarding HandleScope imlementation"
Hi
First of all I think this is an awesome project :)
Coming from the v8 API, I was interested to see ChakraCore's API. I went through some of the implementation, looking at the differences between the two engines. One thing I'm not sure I understand is the HandleScope:
1. According to the documentation in v8.h, and [here ](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29

[2017-06-19 10:45] ankon commented on #213
[code]

So, it seems things work!

With that said: linux builds are missing after that version :)

[2017-06-19 16:44] jianchun commented on #311
1. I recall the (rare) scenario that forced us to do it this way was:
[code]
All these `Local`s are allocated in heap so its members are not scanned by GC. We had to track them in `HandleScope` to avoid them being collected by GC.

2. That is a last fallback if local array is full and js array creation fails (e.g. the host is currently in disabled or exception state, or engine has run into memory

[2017-06-19 18:08] kfarnung opened #312 "node-chakracore-8.1.2-pre release proposal"
We need to prepare a release for node-chakracore-8.1.2-pre from the [v8.x](https://github.com/nodejs/node-chakracore/tree/v8.x) branch using the [latest nightly](https://nodejs.org/download/chakracore-nightly/v8.1.2-nightly2017061619f9347b8b/) build.

### Checklist
- [x] Update changelog - #310
- [x] Upload binaries
- [x] Create release text

## 2017-06-19, node-chakracore-8.1.2-pre

### Commits

[2017-06-19 23:42] kfarnung commented on #312
The release is now live:  https://github.com/nodejs/node-chakracore/releases/tag/node-chakracore-8.1.2-pre

[2017-06-19 23:42] #312 closed, assigned to kfarnung

[2017-06-21 16:43] kunalspathak commented on #213
@ankon  - This is fixed now. Can you please check on your side?

![image](https://user-images.githubusercontent.com/12488060/27395847-0e441afc-5666-11e7-8809-a37f7db45c1e.png)

[2017-06-27 20:11] kfarnung opened #317 "node-chakracore-8.1.2-pre2 release proposal"
We need to prepare a release for node-chakracore-8.1.2-pre2 from the [v8.x](https://github.com/nodejs/node-chakracore/tree/v8.x) branch using the [latest nightly](https://nodejs.org/download/chakracore-nightly/v8.1.2-nightly201706274be96a0e53/) build.

### Checklist
- [x] Update changelog - #316
- [x] Upload binaries
- [x] Create release text

## 2017-06-27, node-chakracore-8.1.2-pre2

### Commits

[2017-06-27 20:11] kfarnung commented on #317
/cc @digitalinfinity @kunalspathak @boingoing @aruneshchandra

[2017-06-27 21:30] kfarnung commented on #317
The release is now live:  https://github.com/nodejs/node-chakracore/releases/tag/node-chakracore-8.1.2-pre2

[2017-06-27 21:30] #317 closed, assigned to kfarnung

[2017-06-28 17:56] ghost commented on #208
@kfarnung : I performed a new test with the same scenario as the one I described with the last version you released (v9.0.0-nightly201706277c8ccf55a7).

Here is the error I have when running in record mode:

[code]

[2017-06-28 18:00] kfarnung commented on #208
@jackTheRipper This looks like https://github.com/Microsoft/ChakraCore/issues/2789

[2017-06-28 21:43] kunalspathak opened #320 "Add documentation around chakracore traces"
`node-chakracore` support building `test` binaries of chakracore. Create a Chakracore specific `Build.md` file that details how to do test builds and how we can leverage `jscript.config` functionality to trace internals of `chakracore`.

[2017-06-29 06:43] ghost commented on #208
Another issue with Mocha is that internally it spawns processes. Could it affect the record mode as well?

[2017-06-29 18:35] digitalinfinity commented on #208
Hmm, @kfarnung shouldn't https://github.com/nodejs/node-chakracore/pull/285 have fixed the issue around child processes that seems to be affecting @jackTheRipper when he's using mocha?

[2017-06-29 18:38] kfarnung commented on #208
Yup, that should have taken care of the spawning a new process issue.  The one potential issue is that triggering a trace in the child process might be tricky (if it doesn't crash on its own).  The traces should all have the PID in the file name now for identification.

[2017-06-29 18:39] ghost commented on #208
Hi @digitalinfinity following our discussion today I will give a new try without JSDom.

I am using Babel as well for my tests. As far as I understood from what @mrkmarron said I might only face an issue with the source-maps.

The feature for supporting the JS generators is already tracked (it's what is causing the issue).

If it works then I will close the issue.

[2017-06-30 04:53] mrkmarron opened #322 "TTD - Document trace_mgr options including custom trace directory setting"
* **Subsystem**: Time-Travel Debugging

The `trace_mgr.js` module provides a number of settings for controlling automatic trace emits, including the useful ability to alter the root directory where the traces are written locally via the `localTraceDirectory` property, but they are not documented. We should also add some more input validation in the setOptions function (as noted in hte TODO there).

[2017-07-03 05:47] jasongin opened #324 "Publish Node-ChakraCore release builds on nodejs.org"
@kunalspathak and @joaocgreis are already working on this as of a few days ago. I didn't see a tracking issue yet though.

For a few months, the recommended way to install Node-ChakraCore builds has been via `nvs`. That tool calls the GitHub API to find what releases are published, and get URIs to download the release binaries. But use of the GitHub API from CI systems is problematic, because they

[2017-07-03 05:50] jasongin commented on #324
See also https://github.com/sass/node-sass/pull/1777

[2017-07-03 05:57] jasongin commented on #324
If releases are published on nodejs.org, that would also mean that you could install Node-ChakraCore builds using `nvm` by setting `NVM_NODEJS_ORG_MIRROR` to point to the 'chakracore' subdirectory. (And maybe some other version-manager tools support similar overriding of the source URI). That would be fine for CI systems. However for actual users installing Node-ChakraCore, `nvs` would still provi

[2017-07-03 10:54] ghost commented on #324
@jasongin : for info this command `NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/chakracore-nightly/ nvm i node` already works with `nvm`

Source: https://gist.github.com/chicoxyzzy/77dcbf21485d80b3ad870ed0d3286579

[2017-07-03 13:54] xzyfer commented on #324
This is true for nightlies but not for stable which are the important releases.

[2017-07-03 14:02] ghost commented on #324
Oh yes true

[2017-07-06 14:46] joaocgreis commented on #24
This issue was unavailable on GitHub for some time, and was replaced by https://github.com/nodejs/node-chakracore/issues/200. It is now solved.

[2017-07-06 14:46] #24 closed, assigned to boingoing

[2017-07-09 07:57] kunalspathak commented on #324
We started having `chakracore-release` builds on https://nodejs.org/download/chakracore-release/ . Thanks @joaocgreis  for helping out.

[2017-07-09 07:57] #324 closed, assigned to joaocgreis, kunalspathak

[2017-07-09 08:01] kunalspathak opened #331 "Implement hasOwnProperty for napi-addons"
In 05d537e5d4037f348ad2c1c3f43309ce75c82ba4 , `test_object` was disabled because in upstream a new NAPI API  `hasOwnProperty` was added and JSRT doesn't have native support for it. One option is to use the implementation of chakrashim but I am hesitant to use it as we want to move away from chakrashim in future and have less dependency of jsrt napi on chakrashim. This issue is to track the right a

[2017-07-09 08:01] kunalspathak commented on #331
//cc : @jasongin

[2017-07-09 19:23] restarian opened #332 "The nodejs/chakra bundle does not work with Ubuntu on Windows."
build: _node-v8.1.2-nightly201706274be96a0e53-linux-x64.tar.xz_

The above build does not work on Ubuntu under Windows. The exact output from it is:
_> ./node
Out of Memory
Aborted (core dumped)_

_> uname -a
Linux DESKTOP-BCNCPSO 4.4.0-43-Microsoft #1-Microsoft Wed Dec 31 14:42:53 PST 2014 x86_64 x86_64 x86_64 GNU/Linux_

 The same build does work with a native install of Ubuntu however. The belo

[2017-07-09 19:45] restarian opened #333 "Object keys should never sort dependent on if the qualifier has a numerical value."
Object qualifiers are linked, consistent and iterated upon in ecma. Logically, Object key order should never change dependant on numerical value. Index value re-ordering is one of those annoying functionalities in C/C++ that javascript should be blanketing. The specification needs to change here. I would be thrilled to see this happen with chakra.

Sharpen your swords here -->
[The debate](https:/

[2017-07-10 17:13] jianchun commented on #332
This is probably https://github.com/Microsoft/BashOnWindows/issues/597. What's your Windows version? (That issue fixed in Creators update.)

[2017-07-10 18:05] restarian commented on #332
Well I do have the creators update version of windows at 1703.

![version_info](https://user-images.githubusercontent.com/1820503/28032505-bf30504e-6578-11e7-92c1-050c7b96f57f.png)

[2017-07-10 20:47] obastemur commented on #332
@jianchun I'm doing a related stuff on Windows-Bash. If you didn't spend time on it already, taking this one.

[2017-07-10 21:20] kfarnung commented on #332
@restarian Can you run `lsb_release -a` in the Linux shell?  Was this machine upgraded to 1703 and do you remember if you setup Ubuntu on Linux before the upgrade?

EDIT:  Actually, I'm seeing this on my own machine with 1703, I'll let @obastemur investigate further.

[2017-07-11 01:10] kfarnung commented on #331
I'm taking a look at this. The implementation looks straight-forward.

[2017-07-11 16:24] obastemur commented on #332
The problem should be fixed on Windows Bash end. Keeping this open and will update once the problem is fixed.

[2017-07-11 16:41] jianchun commented on #332
@kfarnung My box works fine though (170513-2252):

[code]

[2017-07-11 17:40] kfarnung commented on #332
On my SP4 device I'm seeing that same as @restarian.  One thing to note is that I had the Linux Subsystem enabled when I upgraded from 1607 to 1703 just the other day (standard Windows Update) and I uninstalled/reinstalled the Ubuntu image using:

[code]

Maybe there's something about upgrades that's causing issues?  On my insider build machine I'm not seeing any issues.

[2017-07-12 10:59] lukaskollmer commented on #297
Any updates on this?

[2017-07-12 14:17] obastemur commented on #297
@lukaskollmer Although this could be done by applying some switches into build scripts, I'm not sure the priority or how ugly it could be.

What I do is; create two xcode projects (ChakraCore build.sh script supports --xcode arg too!) and combine them manually under xcode.

[2017-07-12 23:27] aschrijver commented on #292
I don't know if this is related but I have been stuck with both VS Code and Chrome debuggers due to this: https://github.com/nodejs/node/issues/7593

[2017-07-14 21:42] obastemur opened #338 "chakrashim: do we really need time.cpp?"
See https://github.com/nodejs/node-chakracore/pull/328#pullrequestreview-50157204

[2017-07-14 21:44] MSLaguana commented on #338
Right now ChakraCore uses functionality from time.cpp in a bunch of different places, so removing it would be non-trivial.

[2017-07-14 22:38] obastemur commented on #338
Closing it. Thought the link you have shared as a part of Chakrashim... We can't use that. (it's under the core and has set of other deps)

Edited: the text inside the parenthesis.

[2017-07-14 22:38] #338 closed, assigned to nobody

[2017-07-24 18:11] kfarnung commented on #255
This will be fixed by https://github.com/Microsoft/ChakraCore/pull/3391 once it lands.

[2017-07-25 19:02] kfarnung commented on #255
This is fixed in master with https://github.com/nodejs/node-chakracore/commit/f9033a50a06ab8ed3c120e11aca5f432e2251ccf, but won't make the v8.2.1 release.  It should be available in the next release though.  Feel free to check out the 7/26 nightly build once it becomes available.

https://nodejs.org/download/chakracore-nightly/

[2017-07-25 19:02] #255 closed, assigned to kfarnung

[2017-07-31 15:52] kfarnung opened #350 "Implement N-API DataView APIs"
New APIs added upstream for DataView. May require some support from Chakracore.

[2017-08-01 21:53] #350 closed, assigned to kfarnung

[2017-08-01 23:09] kfarnung opened #353 "Cache napi_env per runtime"
Currently the JSRT implementation for N-API uses a new instance of `napi_env` per module load.  Recently a change went into the upstream implementation to cache the pointer inside of the isolate as a private global property (https://github.com/nodejs/node/pull/14217) and introduced a new test which fails on node-chakracore.  We should investigate whether we can do the same optimization and re-enab

[2017-08-02 17:56] litian2025 opened #354 "Node-chakracore V8 build break on Ubuntu 16.04"
To reproduce:
1. git clone the latest node-chakracore repo:
git clone https://github.com/nodejs/node-chakracore.git

2. cd to node-chakracore folder:
cd ~/GitHub/node-chakracore

3. make configuration  to v8 engine:
./configure --engine=v8

4. build:
make

We encountered following build break errors:

g++ '-DNODE_ENGINE="v8"' '-DNODE_ENGINE_V8' '-DNODE_ARCH="x64"' '-DNODE_PLATFORM="linux"' '-DNODE

[2017-08-03 00:08] #354 closed, assigned to nobody

[2017-08-04 22:19] kunalspathak opened #359 "Make node-chakracore work with depd"
* **Version**:
* **Platform**:
* **Subsystem**:

Recently in https://github.com/expressjs/body-parser/pull/233 it was found out that node-chakracore doesn't work with `depd` module and one of the test fails. Below is the short repro code I extracted from the failing unit test of `nodejs-depd` repo. The reason is because we have few [TODOs](https://github.com/nodejs/node-chakracore/blob/8cf4aa99611

[2017-08-07 21:41] kfarnung commented on #278
I haven't seen this lately, closing for now.

[2017-08-07 21:41] #278 closed, assigned to nobody

[2017-08-07 22:36] kfarnung commented on #153
I'm not seeing this issue with the inspector implementation, please try it out and open a new issue for any problems you see.

[2017-08-07 22:36] #153 closed, assigned to kfarnung

[2017-08-08 18:51] aruneshchandra opened #361 "Request to add new memebers to Node-ChakraCore team"
Please add @jackhorton to @nodejs/node-chakracore

//cc: @jasnell

[2017-08-08 18:55] digitalinfinity commented on #361
Piggy-backing on this issue- can we also get @mike-kaufman added to @nodejs/node-chakracore please?

[2017-08-08 19:00] kfarnung commented on #331
This was fixed in https://github.com/nodejs/node-chakracore/commit/7784b248eae32e24bb867900f1395bae6e024ca9

[2017-08-08 19:00] #331 closed, assigned to nobody

[2017-08-08 19:07] cjihrig commented on #361
I have invited @jackhorton and @mike-kaufman to the team.

[2017-08-08 19:11] aruneshchandra commented on #361
Thanx @cjihrig!

[2017-08-08 19:11] #361 closed, assigned to nobody

[2017-08-09 00:59] jackhorton opened #362 "Node-ChakraCore inspector incorrectly reports parent module as '.' instead of '<inspector console>'"
* **Version**: Node-ChakraCore/master
* **Platform**: Windows (likely x-plat)
* **Subsystem**: Inspector

The test added [here](https://github.com/nodejs/node/commit/5fd2f03b16bfd6730fe82dc3217f1d05131b9615#diff-b65e0cbd060a7853beafa67e48d03b7dR317) shows this issue. Essentially, when calling require from an inspector expression, the required module's parent should have the id `'<inspector console

[2017-08-09 16:03] MSLaguana commented on #362
It looks like this issue is causing our CI to fail. Since it is known, should we mark the test as flaky until it is fixed?

[2017-08-09 16:06] kfarnung commented on #362
@jackhorton and I discussed doing the workaround which is to have it check for `'.'` when run against ChakraCore, it doesn't look like that happened.

[2017-08-09 17:22] jackhorton commented on #362
Sorry about that, I forgot to commit the change. Just fully synced, made sure the change was there, rebuilt and retested locally and everything should be back to normal now.

[2017-08-09 21:56] kunalspathak commented on #190
Related work : https://github.com/mapbox/node-pre-gyp/pull/311

[2017-08-14 18:04] kfarnung opened #366 "node-chakracore-v8.3.0 release proposal"
We need to prepare a release for node-chakracore-8.1.2-pre2 from the [v8.x](https://github.com/nodejs/node-chakracore/tree/v8.x) branch using the [latest nightly](https://nodejs.org/download/chakracore-nightly/v8.1.2-nightly201706274be96a0e53/) build.

### Checklist
- [x] Update v8.x branch - #365
- [x] Tag the release - https://github.com/nodejs/node-chakracore/tree/node-chakracore-v8.3.0
- [x] U

[2017-08-14 18:29] kfarnung commented on #366
/cc @kunalspathak

[2017-08-15 22:14] MSLaguana opened #367 "test-break-when-eval fails to evaluate expression"
* **Version**: master
* **Platform**: all
* **Subsystem**: inspector

The `test-break-when-eval` test is failing with a timeout because the test attempts to evaluate an expression while the JS engine is not stopped:

[code]

[2017-08-16 01:09] kfarnung opened #368 "Inspector doesn't report all arguments for console.log"
* **Version**: v8.x (and up)
* **Platform**: all
* **Subsystem**: inspector

A call to `console.log` can include other parameters beyond the initial message:

[code]

These additional parameters should also be reported to the inspector client, but they are currently ignored.  The issue is that they need to be wrapped up so that the inspector client can interrogate them further.  Since this is a la

[2017-08-16 01:09] kfarnung commented on #368
/cc @MSLaguana

[2017-08-16 18:39] #332 closed, assigned to obastemur

[2017-08-16 20:43] MSLaguana opened #369 "Inspector context test fails"
* **Version**: master
* **Platform**: all
* **Subsystem**: inspector

`tests/inspector/test-context.js` is failing because the test expects to be able to create and destroy contexts, and have relevant events fired by the inspector. Note that when running the test the node binary must be run with `--expose-gc` otherwise the test will "pass" with a rejected promise.

[2017-08-17 02:51] kfarnung commented on #366
The release is live - https://github.com/nodejs/node-chakracore/releases/tag/node-chakracore-v8.3.0

[2017-08-17 02:51] #366 closed, assigned to kfarnung, jackhorton

[2017-08-17 21:40] mike-kaufman opened #371 "Chakra Shim needs unit tests"
Chakra Shim currently doesn't have any unit tests.  It should have a some.

[2017-08-17 21:45] MSLaguana opened #372 "HTTP2 functionality requires changes to work with TTD"
* **Version**: master
* **Platform**: all
* **Subsystem**: TTD, http2

Some changes to http2 require updates to support TTD properly: the upstream commit is
https://github.com/nodejs/node/commit/e46ae99a2a8153d6af84dbf2883f5f0938065a3e and will need similar changes to those in https://github.com/nodejs/node-chakracore/pull/194, or otherwise will require a change in how we handle this scenario.

I

[2017-08-17 21:50] jasnell commented on #372
I certainly agree that the aliasing of the backing array is a bit of a hack but it's an effective one in terms of performance. The speedup is absolutely non-trivial. Just as an FYI, I'm also doing this with a key part of the Performance API implementation. Until we have a better solution with a similar or improve performance profile, it's likely to be something we stick with.

[2017-08-18 00:44] digitalinfinity commented on #372
@jasnell thanks for the insight- would Mark's suggestion of creating macros for this pattern be something we could PR upstream?

[2017-08-18 00:44] mrkmarron commented on #372
Hi James, I am sure the perf improvement is non-trivial. The cost of cross-runtime calls is painful is going to be painful on a hot-paths like this.

In the short term my big concerns are (1) adding TTD and managing merge conflicts and (2) general maintainability. As the code is written now there is no encapsulation or indication that a write is happening to a JS aliased array (and which one it mi

[2017-08-18 01:40] jasnell commented on #372
The possibility of adding a macro makes sense. It could get a bit complicated.

[2017-08-19 20:33] mrkmarron commented on #372
@jasnell I spent some time talking with @mike-kaufman about the macro option. I think we are going to give it a try to see how it seems to work out.

[2017-08-21 21:29] #97 closed, assigned to mike-kaufman

[2017-08-22 17:41] mike-kaufman commented on #372
Spent some time looking at this yesterday. The macro solution feels pretty kludgy IMO.  What about introducing an `AliasedBuffer` class to allow access to the raw buffer & the JS Array?  All writes to the buffer could be routed through an API, which gives a clean place for TTD-tracking code to sit.

Functions should be inlined so perf impact should be minimal.  E.g., a class roughly like the follo

[2017-08-22 17:42] jasnell commented on #372
Ping @addaleax ... would like your input on this also if you don't mind

[2017-08-22 17:49] addaleax commented on #372
Fwiw, async-hooks is another place where this also came up.

@mike-kaufman Your proposed solutions sounds good to me!

You could make `operator[]` work by returning a reference-ish object, similar to what [`std::bitset::operator[]`](http://en.cppreference.com/w/cpp/utility/bitset/operator_at) does, but that’s obviously just cosmetics.

[2017-08-22 17:57] mike-kaufman commented on #372
Ahh, I see, thanks.  My preference is to have separate get/set methods, as it seems simpler, but I'd like to keep things consistent w/ what's in the code base.  Let me know if there's anything to suggest one direction or the other.

[2017-08-22 17:57] jasnell commented on #372
I think this works also. The important bit is going to be ensuring that these backing buffers can be set per-Environment and that they are persistent over time. I have no perf concerns with this approach. I agree that an `operator[]` would be helpful, and by convention we have used `operator*` consistently in core to provide the equivalent of your `GetBuffer()`. Also common is using `data()` or `D

[2017-08-22 18:01] mike-kaufman commented on #372
@jasnell - Can you point me to any examples of this?  I didn't see it when I was looking around yesterday.

OK, makes sense, i'll overload the operators.

[2017-08-22 18:02] jasnell commented on #372
See here: https://github.com/nodejs/node/blob/master/src/node_http2.cc#L1179-L1199

[2017-08-22 18:05] addaleax commented on #372
Just to make sure it doesn’t get lost, `operator*` should only be `const`, otherwise it kind of circumvents what your approach is trying to achieve :)

[2017-08-22 18:41] mike-kaufman commented on #372
where's the best place to add unit-tests for such a class?

[2017-08-22 20:27] jasnell commented on #372
Take a look at test/cctest

[2017-08-25 17:16] aruneshchandra opened #379 "Tracking: Perf workitems"

[2017-08-25 18:24] MSLaguana commented on #379
- [x] Further improve `JsCopyString` API and usage to avoid additional buffer allocations and copies. @MSLaguana
- [ ] Investigate changing our calling convention on linux x64 to match the standard calling convention. @penguinwizzard
- [ ] Improve handling of external data @obastemur

[2017-08-26 03:03] kfarnung opened #380 "Fix napi_create_reference to work correctly with integers"
* **Version**:  master
* **Platform**:  windows (probably others)
* **Subsystem**:  n-api

The N-API implementation of napi_create_reference uses JsCreateWeakReference.  If a reference is created for an integer then there is an access violation during the GC update of the weak reference map.  I proposed a possible fix in https://github.com/Microsoft/ChakraCore/pull/3591, but once an approved fix i

[2017-08-27 01:58] p3x-robot opened #382 "Sorry to say this, but why is it needed? It is slower than V8 a few folds..."
Ciao!

How are you?

Sorry to say this, but why is it needed? It is slower than V8 a few folds...

Why do we need ```chakracore```, what is the plus in it?

I think no one will speed up then the original, the best is to work on the original NodeJs in my opinion, that's the exciting. (for me)

What is your opinion?