[2017-08-27 04:15] aqrln commented on #382
While not the original motivation behind it, one of the reasons Node-ChakraCore might be useful for you is if you want to build Node.js for an environment with JIT restrictions, e.g., iOS. Historically, V8 has not supported pure interpreter mode, unlike ChakraCore (though, it might change in the future with the new pipeline).

[2017-08-27 09:43] #382 closed, assigned to nobody

[2017-08-27 16:40] alexlamsl commented on #201
Reproducible as of `8.4.0`
[code]

[2017-08-27 17:22] alexlamsl commented on #170
Reproducible on `8.4.0`

[2017-08-28 16:03] MSLaguana commented on #170
Looks like the issue is that `this === global.__proto__` rather than `this === global`.

[2017-08-29 15:44] mike-kaufman commented on #372
@jasnell, @addaleax - thanks for your help.  Plz take a look at https://github.com/nodejs/node/pull/15077.

[2017-08-29 15:56] alexlamsl commented on #170
The workaround I tried with `vows` was `this.global === global`, but your version should also work.

(This won't address the disparity between `node` and `node-chakracore`, however.)

[2017-08-29 21:00] digitalinfinity commented on #213
Hi @ankon can you confirm that this issue is fixed for you?

[2017-08-29 21:02] digitalinfinity commented on #208
Hi @jackTheRipper - did you get a chance to try this without JSDom?

[2017-08-29 21:11] digitalinfinity commented on #229
@mariogrip - did you get a chance to try this again and see if its been fixed? Thanks for trying out node-chakracore!

[2017-08-29 21:15] digitalinfinity commented on #227
@kfarnung what's left here?

[2017-08-29 22:02] Cellule commented on #234
WebAssembly is now available in Node-ChakraCore release builds.

[2017-08-29 22:52] mariogrip commented on #229
@digitalinfinity It works now! Awesome!

[code]

Also one thing I noted with this version, is that if `sysfs` and `proc` is not mounted, chakracore Segmentation faults

[2017-08-29 22:52] MSLaguana commented on #379
- [ ] Improve performance of `JSON::Stringify` by changing some of its caching behavior https://github.com/Microsoft/ChakraCore/pull/3607

[2017-08-29 23:07] digitalinfinity commented on #234
Thanks @Cellule- closing this one, @JoeUX let us know if you need any more information.

[2017-08-29 23:07] #234 closed, assigned to nobody

[2017-08-29 23:35] digitalinfinity commented on #229
Thanks @mariogrip - the other issue you noted sounds like a bug- do you mind opening an issue over on https://github.com/Microsoft/ChakraCore? I'll close this issue- thanks again for checking!

[2017-08-29 23:35] #229 closed, assigned to nobody

[2017-08-29 23:58] JoeUX commented on #234
Thanks for the heads-up @Cellule.

[2017-08-30 00:28] digitalinfinity commented on #281
Closing since Microsoft/ChakraCore#3091 is closed

[2017-08-30 00:28] #281 closed, assigned to nobody

[2017-08-30 00:34] digitalinfinity commented on #333
@restarian sorry, missed this issue somehow- can you please move this issue to https://www.github.com/Microsoft/ChakraCore, that's the right place to discuss this

[2017-08-30 00:34] #333 closed, assigned to nobody

[2017-08-30 00:38] #311 closed, assigned to nobody

[2017-08-30 21:35] digitalinfinity opened #383 "Perf: Improve JsCopyString API to avoid additional buffer allocations and copies"

[2017-08-30 21:35] digitalinfinity opened #384 "Perf: Improve handling of external data"
This likely needs a corresponding ChakraCore issue

[2017-08-30 21:36] digitalinfinity opened #385 "Perf: Investigate optimizing ChakraCore's linux x64 calling conventions"
@penguinwizzard was looking at this from the ChakraCore side

[2017-08-30 21:37] digitalinfinity opened #386 "Improve performance of JSON::Stringify"
Being tracked with https://github.com/Microsoft/ChakraCore/pull/3607 on the ChakraCore side

[2017-08-30 21:38] digitalinfinity commented on #379
I've opened #383, #384, #385 and #386 to track these, so we can close this issue. For future perf items, please open separate issues on either Microsoft/ChakraCore or Nodejs/Node-ChakraCore

[2017-08-30 21:38] #379 closed, assigned to nobody

[2017-08-30 21:39] MSLaguana commented on #383
Should be addressed once https://github.com/Microsoft/ChakraCore/pull/3609 lands.

[2017-08-30 23:00] digitalinfinity commented on #95
@kunalspathak I see several commits that referenced this issue- do you know if this still needs to be fixed or whether it can be closed?

[2017-08-30 23:01] boingoing commented on #212
Hi @Alphapage, thanks for your question.

Technically, es2015 modules are supported by chakracore but you can't use them in node-chakracore since node itself doesn't have a story for supporting es2015 modules, yet. There is some discussion happening around this feature and you could play around with it by implementing some of the needed pieces. See (https://github.com/nodejs/node/issues/8866#issue

[2017-08-30 23:01] #212 closed, assigned to nobody

[2017-08-30 23:06] kunalspathak commented on #95
Commits 983c0b8 and 0125f12 just points to the severity/implication around this issue. This definitely need to be fixed.

[2017-08-30 23:26] digitalinfinity commented on #95
Ok, thanks

[2017-08-31 09:38] ankon commented on #213
Looks good!

[code]

[2017-08-31 18:55] digitalinfinity commented on #213
awesome- glad it worked for you!

[2017-08-31 18:55] #213 closed, assigned to nobody

[2017-09-04 18:58] kfarnung commented on #227
I haven't gotten a chance to circle back and add some new tests yet.  The original item is complete though.

[2017-09-05 17:48] matthargett commented on #384
details?

[2017-09-05 17:59] digitalinfinity commented on #384
@matthargett our current implementation of external object handling in the ChakraShim has a fair bit of overhead because of how ChakraCore's support for external objects is implemented. For one, the ChakraCore implementation expects that external data can only be associated with a special type of object, which means that on the shim side, we can require multiple levels of indirection and property

[2017-09-06 19:28] MSLaguana commented on #383
Merged in 85767d6de374c5b65070cd8c5296ee936859345d

[2017-09-06 19:28] #383 closed, assigned to MSLaguana

[2017-09-07 18:30] MSLaguana commented on #380
It looks like test_general/test has continued to evolve and is broken for an additional reason now: It attempts to create an object, wrap it, lose the JS reference to the object, force a GC, and ensure that the finalizer passed when wrapping was called. At the moment it looks like we might be mid-gc when the JS tries to force a gc, and so we complete that GC but it doesn't delete the only-just-now

[2017-09-07 19:28] gabrielschulhof commented on #380
Honestly, I would prefer that ChakraCore be able to create references to
primitive values, if only because there might be some obscure case out
there in the wild where this is happening.

Yet, if it's not feasible, I can submit a PR that modifies test_general to
not attempt to create references to primitives. After all, that is not the
purpose of that test. The reference to the primitive is used o

[2017-09-07 22:44] MSLaguana commented on #8
Node-chakracore now has support for JITted frames in ETW on windows, and using the linux `perf` tool on linux/mac. For the non-windows cases currently you need to compile the support in by defining `=PERFMAP_TRACE_ENABLED=1`, which will register a signal handler for `SIGUSR2` (or another signal if you provide another define). When that signal handler is triggered, it will write out a file `/tmp/pe

[2017-09-07 22:44] #8 closed, assigned to MSLaguana

[2017-09-07 23:27] yunong commented on #8
@MSLaguana This is great! Thanks so much for adding this, Chakra is definitely a step ahead of the competition when it comes to CPU profiling. Is it possible to provide a default signal and make this part of the default distribution of Chakra? This would then enable CPU profiling right out of the box for everyone.

[2017-09-07 23:57] jackhorton opened #388 "napi_jsrt: Investigate usefulness of adjusting external memory"
* napi_jsrt stub: https://github.com/nodejs/node-chakracore/blob/070fe0f475e0dcde54867cd8eb6d2fc960c9e5b1/src/node_api_jsrt.cc#L2520
* node pull request: https://github.com/nodejs/node/pull/14310

@chris--young If you are already looking into this, let us know anything you find!

[2017-09-08 01:00] MSLaguana commented on #8
I had considered that, but the number of available signals is fairly low, and node is already using sigusr1 so if I also caused node-chakracore to use sigusr2 as well then apps would have no signals left that they could override themselves. I discussed it with @digitalinfinity but I'm not sure we'd come to a solid conclusion either way.

[2017-09-08 01:06] digitalinfinity commented on #8
@Yunong however we're still relatively new to the Linux world, so if you have thoughts on what the default behavior should be, we'd love to know! Right now, our thinking is that opt-in is the way to go, and maybe we can make it opt-in at runtime (perhaps with some form of signal-chaining?), but if you have some insight on how we should make it on by default without inconveniencing embedders, we're

[2017-09-08 03:38] yunong commented on #8
@digitalinfinity What about providing a runtime argument to Chakra that can opt into this without having to recompile? Let me also chat with some folks at Netflix and get back to you with some possible other solutions.

[2017-09-08 18:14] digitalinfinity commented on #380
@gabrielschulhof semantically, what does a reference to a primitive mean if a primitive is not heap allocated? ChakraCore's JSRT returns JsValueRefs that are opaque (can be either pointers to heap allocated objects or primitive values)- are you suggesting in the case of primitive values, we always return boxed (heap allocated) values? That seems to be a rather expensive perf cost for supporting ob

[2017-09-09 07:56] gabrielschulhof commented on #380
I think it's pretty safe to return `napi_invalid_arg` for values that cannot be referenced. Any engine worth its salt should be able to provide persistent references to objects and functions. V8 is known to have features that are redundant, or have been rendered redundant by its evolution.

We might even go so far as to document that only objects and functions can be retained as `napi_ref`s. After

[2017-09-09 09:29] gabrielschulhof commented on #380
In fact, we [document](https://docs.nodejs.org/dist/latest-v8.x/docs/api/n-api.html#n_api_napi_create_reference) that the `napi_value` to which a reference is created must be an object. So, I was basically abusing the `napi_create_reference()` mechanism. My bad.

[2017-09-10 11:00] Rokt33r opened #389 "Debug doesn't work with `--replay-debug`."
* **Version**: v8.2.1
* **Platform**: macOS Sierra 10.12.6 Darwin 16.7.0
* **Subsystem**:

If I give `--replay-debug=./` option, debugging doesn't work

launch.json:
[code]

Error:
[code]

If I create `ttdlog.log` manually, it throws another error.

[code]

[2017-09-10 11:20] kfarnung commented on #389
Are you trying to use the [TTD](https://github.com/nodejs/node-chakracore/blob/master/TTD-README.md) functionality of node-chakracore?  In that case you would have already run the application using the `--record` argument to generate the log file and then the `--replay-debug` argument to replay the recorded session.

If you're just trying to debug normally then you don't need that argument at all,

[2017-09-10 11:30] Rokt33r commented on #389
Thanks! Yes, you're right.

Now I've got have another problem, when I click step back or reverse button, debugger is terminated without any message.

[2017-09-10 11:33] Rokt33r commented on #389
Seem there is an issue already you've made.
https://github.com/nodejs/node-chakracore/issues/266

[2017-09-10 11:33] #389 closed, assigned to nobody

[2017-09-10 17:27] kfarnung commented on #389
Hmm, that issue doesn't look quite the same, @Rokt33r could you please open a new issue with as many details as possible about the repro?  It sounds like node is exiting when you try to step back, that's not what #266 was seeing.

[2017-09-11 17:16] creationix opened #390 "Bad handling of `.toString()` on large numbers breaks uglify."
* **Version**: v8.4.0

[code]

* **Platform**: `Darwin macbook-pro.lan 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64`

* **Subsystem**: chakracore

When I try to use uglify on a file that contains large number literals, the JS engine in chakracore emits syntax errors.

[code]

[code]

See also:  https://github.com/mishoo/UglifyJS2/is

[2017-09-11 17:53] MSLaguana commented on #390
Thanks for the report, I believe that there is a PR that will fix this issue currently under review at https://github.com/Microsoft/ChakraCore/pull/3635

[2017-09-11 18:00] creationix commented on #390
Awesome, best of luck merging it!

[2017-09-11 22:37] MSLaguana commented on #386
Fixed in https://github.com/Microsoft/ChakraCore/commit/4f07a58eec1919e84322bbe57507e983441124f6

[2017-09-11 22:37] #386 closed, assigned to MSLaguana

[2017-09-12 18:58] MSLaguana opened #391 "Need to add support for es modules"
Node 8.5.0 is adding support for es modules, but the approach they are taking using v8 APIs does not fit well with ChakraCore's approach to modules.

In particular, ChakraCore combines parsing a script and linking a module with its dependencies into one JSRT call, while node currently relies on the ability of v8 to separate them, so that it can parse a module script, extract the dependencies, pref

[2017-09-18 19:40] bmeck commented on #391
JS spec has instantiate as a synchronous call separate from parsing. I'm not sure how the approach should differ? Maybe some links to APIs would help me.

[2017-09-18 19:45] Fishrock123 commented on #391
This would seem to be an issue on Chakra-Core's end? I'm sure @bmeck can correct me if wrong but I'm pretty sure we need them to be separate to import CJS inbetween ESM trees correctly?

[2017-09-18 20:03] bmeck commented on #391
@Fishrock123 they don't have to be separate, but we would need additional hooks and loading would block main thread while you fetch graph it looks like.

[2017-09-18 21:13] digitalinfinity commented on #391
@boingoing can you help point @bmeck to the right APIs here? I *think* it's this API but I don't think we've documented them yet: https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/ChakraCore.h#L141

cc @liminzhu

[2017-09-19 21:24] mike-kaufman opened #395 "test-http2-client-promisify-connect broken on node-chakracore"
ChakraShim's v8::Promise::Resolver::New is not implemented.  See [here](https://github.com/nodejs/node-chakracore/blob/master/deps/chakrashim/src/v8resolver.cc#L26-L30)

Once fixed, we should be able to re-enable `test\parallel\test-http2-client-promisify-connect.js` test.

**Repro:**
1.  Run following code through node-chakracore build

[code]

**Expected:**  result of `createPromise()` to return

[2017-09-19 21:28] jackhorton opened #396 "./configure crashes when run with --without-intl"
We require --with-intl={small-icu|full-icu|system-icu} when building on Linux and macOS, but when you explicitly say to not use intl/ICU, `gyp` crashes due to an undefined reference [here](https://github.com/nodejs/node-chakracore/blob/master/deps/chakrashim/chakracore.gyp#L23). We should probably exit gracefully with a nice message in the future.

[2017-09-23 01:38] digitalinfinity opened #402 "compat: util.inspect on arrays has differences with upstream Node"
util.inspect has compat differences because of differences in ChakraCore and v8 around the enumeration of properties with Arrays. v8's behavior for Arrays is to enumerate indexed properties, then the length property, and then finally any other properties on the Array. ChakraCore instead enumerates the indexed properties and user defined properties first, before enumerating over the special propert

[2017-09-24 03:04] tommyZZM opened #403 "build: execute fail with `Abort trap: 6` in macOS with Xcode 9"
* **Version**: v8.2.1
* **Platform**: macOS 10.12.6
* **Build Enviroment**: Xcode 9 ; Apple LLVM 9.0
* **Subsystem**: -

build success without any error. but some wrannings
but start `./node` fail with `Abort trap: 6`
after update to Xcode 9

[code]

[2017-09-24 03:10] tommyZZM commented on #403
also tried to build with xcode, and got this in debug navgatior

##### Thread 1 > 0 ReportFatalException
[code]

[2017-09-25 00:05] digitalinfinity commented on #403
@obastemur can you help with this plase? @tommyZZM do you have the stack for when ReportFatalException is called? If so, can you share that please?

[2017-09-26 14:56] obastemur commented on #403
https://github.com/Microsoft/ChakraCore/pull/3799
https://github.com/Microsoft/ChakraCore/pull/3806

to fix this issue.

[2017-09-29 13:31] obastemur commented on #403
Please update to latest ChakraCore to fix this problem. /cc @digitalinfinity @MSLaguana

[2017-09-29 21:38] #380 closed, assigned to MSLaguana

[2017-10-03 07:06] tommyZZM opened #409 "chakrashim: exception of node-bootstrap.js not output currently while embeding as static library"
* **Version**: v8.4.0
* **Platform**: macOS 10.12.6
* **Subsystem**:

hi, i m trying to embedding node-chakracore as a static library
but got fatal exception on calling `node::Start(int argc, char** argv)`
 
with these calling stacks (main steps cause problem)
 
- node::Start(int argc, char** argv) 
   deps/node-chakracore/src/node.cc#5077
- ...
- node::LoadEnvironment(Environment* env) 
   deps/n

[2017-10-03 23:39] obastemur commented on #403
This should be fine now. @tommyZZM Thanks for reporting!

[2017-10-03 23:39] #403 closed, assigned to nobody

[2017-10-03 23:40] obastemur opened #410 "node-chakracore crashes instead of throwing an exception"
Test app;

[code]

Expected
[code]

[2017-10-06 03:55] davidwesst opened #411 "TTD assert failed: Invalid -- JavascriptAsyncFunction"
* **Version**: v8.6.0
* **Platform**: Windows 10 Pro 64-bit
* **Subsystem**: npm\lib\utils\lifecycle.js (see attached log for stack trace)

Hello,

I've been trying to get TTD working, and get the attached log with the console output, as seen below. The same error occurs with both [my own project](https://github.com/davidwesst/dw-graphql) and the [TTD demo project](https://github.com/mrkmarron/RFS

[2017-10-06 15:59] mike-kaufman commented on #411
@davidwesst - this is a known issue.  Recent integration from node mainline introduced generator functions and async/await in core javascript libraries e.g., in the [module loader](https://github.com/nodejs/node/blob/master/lib/internal/loader/ModuleJob.js#L102)   and [readline](https://github.com/nodejs/node/blob/master/lib/internal/readline.js#L162).  These constructs aren't yet supported in TTD

[2017-10-06 22:37] jackhorton commented on #411
@davidwesst I have updated the 8.6.0 release notes to clarify the current state of TTD: https://github.com/nodejs/node-chakracore/releases/tag/node-chakracore-v8.6.0

Sorry for the confusion! I am going to close this for now, since the work is being tracked elsewhere.

[2017-10-06 22:37] #411 closed, assigned to nobody

[2017-10-07 00:37] tommyZZM commented on #409
for others who wants to embed node as static library, and have hit this issue
could see this issue: janeasystems/nodejs-mobile#9

also reference this nodejs pull request nodejs/node#14986.

[2017-10-07 14:36] scriptjs opened #412 "fsevents binary fails, doesn't build"
Hello, I've installed node-chakracore using nvs. There is an issue with fsevents.

* **Version**: v8.6.0
* **Platform**: MacOS 10.12.6

I've substituted my module path with `<path to module>` below.

[code]

I receive a segmentation fault when attempting to build-from-source ie.

[code]

[2017-10-08 23:05] obastemur commented on #410
this doesn't repro on node-chakracore master. closing

[2017-10-08 23:05] #410 closed, assigned to nobody

[2017-10-10 21:10] jackhorton opened #413 "chakrashim: FunctionCallbackInfo::NewTarget returns nullptr"
https://github.com/nodejs/node-chakracore/commit/4569fd2ebc9d176ce0ab0993769579a5833e0b79 introduced a shim to allow the addons/new-target test to compile, but the test is still marked as flaky and likely will be until we get a good way to access the new.target of a call from JSRT. See https://github.com/Microsoft/ChakraCore/issues/3762 for progress on this.

[2017-10-11 14:26] tommyZZM opened #414 "./node -i --inspect chrashes with FATAL ERROR: 'compileScript' unimplementedIllegal instruction: 4"
* **Version**: v9.0.0-nightly201710102ae996d4cd
* **Platform**: macOS v10.12.6
* **Subsystem**: -

with  `./node -i --inspect` i can open inspector from `chrome://inspect` successfully. also able to out put primitive value.

but while executing script from the inspector. it got crash with this error

[code]

##### reference
- [Debugging Node.js with Chrome DevTools](https://medium.com/@paul_irish/

[2017-10-11 14:30] MSLaguana commented on #414
Thanks for reporting this. I believe that this is because we still only have partial support for the chrome inspector protocol. We have better compatibility with VSCode's usage of the protocol and I haven't seen node-chakracore crash when debugging from vscode, so until we improve our inspector protocol implementation you may want to stick with that.

[2017-10-11 17:29] jackhorton opened #415 "test: parallel/test-http2-server-rst-stream is flaky"
https://github.com/nodejs/node/pull/15702 brought in changes that made parallel/test-http2-server-rst-stream unstable. b51dc3856e marked it as flaky for the time being, as it requires further investigation.

[2017-10-13 23:33] munyirik opened #416 "NAN error - 'JSON': is not a member of 'v8'"
versions:
- chakracore: 8.1.2-pre/x64
- nan: 2.6.2

I was attempting to build https://github.com/fivdi/i2c-bus which uses nan. An error occurs because nan_json.h expects v8:JSON to exist.

[2017-10-14 00:32] digitalinfinity commented on #416
@munyirik can you try with a newer version- I think this was fixed in https://github.com/nodejs/node-chakracore/commit/85ccdd165603d9aade32c6e9dc204fcbe331bf15?

[2017-10-14 01:14] munyirik commented on #416
Ah, yeah. This is fixed in the latest release. Thanks @digitalinfinity !

[2017-10-14 01:14] #416 closed, assigned to nobody

[2017-10-14 15:28] mrmlnc opened #417 "[node-gyp] fatal error: 'chakra_ttd.h'"
* **Version**: 8.6.0 (x64)
* **Platform**: macOS (10.12.6)
* **Subsystem**:

**Source code**: https://github.com/mrmlnc/scandir-native
**Full Error**:

[code]

Works fine with `8.4.0`, because `v8.h` has no `#include "chakra_ttd.h"`. But also works fine with `8.6.0` on the Windows.

[2017-10-15 06:45] davidwesst commented on #411
Awesome! Thanks for the update. I'll mess around with TTD in 8.4 then, and wait for the update!

Thanks for the quick reply to everything (even though I was slow on getting back to you).

[2017-10-21 11:44] xiaoyinl commented on #390
It's fixed in the chakracore upstream.

[2017-10-27 14:03] p3x-robot opened #418 "MIPS and size"
Ciao!

How are you?

I would like to find out if Chakra would use less memory then V8 and if MIPS is buildable?

Thanks,
Patrik

[2017-10-27 14:14] p3x-robot opened #419 "wrong source"
Ciao!

How are you?

It doesn't build because https://github.com/nodejs/node-chakracore/archive/node-chakracore-v8.6.0.tar.gz
it extract to ```node-chakracore-node-chakracore-v8.6.0``` it should extract to ```node-chakracore-v8.6.0```.

[2017-10-31 21:38] MSLaguana opened #420 "vm.runInContext is not fully supported after upstream change"
With the inclusion of https://github.com/nodejs/node/pull/16293 we need to make some additional changes to properly support `vm.runInContext`.

When running `vm.runInContext(code, context)` the context object is intended to act like the global object for the duration of the code. Currently I believe we do this by creating a proxy around the `context` object, creating a new global object, and then

[2017-11-01 18:15] MSLaguana commented on #420
See https://github.com/nodejs/node-chakracore/commit/eaf6763c1a35b75c4843b96ee818d3a1c8acb3b4 for some of the failing tests showing missing functionality.

[2017-11-02 00:58] joaocgreis commented on #417
Possible fix: https://github.com/nodejs/node-chakracore/pull/421

[2017-11-07 12:33] obastemur commented on #396
It's not just an undefined reference issue. See the first and last line of https://github.com/nodejs/node-chakracore/blob/master/deps/chakrashim/chakracore.gyp#L82-L97 . No matter what `configure` arguments are, we build with intl.

[2017-11-07 16:57] jackhorton commented on #396
I thought it was that no matter the arguments to configure, we build with _icu_. Node conflates ICU and Intl to mean the same thing, but we use ICU for Intl as well as other things. So, --without-intl sounds, to me, like we should disable Intl and use the system ICU for our other ICU things.

[2017-11-08 04:16] fatcerberus commented on #413
In my experience `new.target` for constructor calls seems to be passed in lieu of `this`--in other words, in `argv[0]`.  So if `isConstructCall` is true then `argv[0]` == new.target, otherwise `new.target` can be assumed to be undefined.

[2017-11-08 17:15] jackhorton commented on #413
I am not sure if thats necessarily _supposed_ to be the case, though. My understanding of the issues you had filed over in the main ChakraCore repo was that we didn't necessarily intend for argv[0] === new.target. I can try to dig into this more once some of the Intl work I have wraps up.

[2017-11-08 21:30] tinker1968 commented on #413
#

[2017-11-08 22:09] jackhorton opened #423 "test: inspector test hangs"
https://github.com/nodejs/node/pull/15774 brought in a change to make this test not hang on Windows and AIX, but it still hangs for us. 20c21347ac0b070c8e1634a24eb6c6736ddedd01 re-marks a test as flaky

[2017-11-09 16:21] #417 closed, assigned to mike-kaufman

[2017-11-09 16:24] joaocgreis commented on #417
Fix landed, the next nightly should have it. Thanks for reporting @mrmlnc !

[2017-11-09 18:32] mrmlnc commented on #417
Thanks for your work 🌮

[2017-11-14 19:14] obastemur opened #426 "Skip flaky tests by default?"
`make test` might skip flaky tests by default.

- If I'm interested with flaky tests, well, I might use an extra argument to include them?
- Flaky tests are creating unexpected / unwanted results and also affecting dev mechine. (hanging process?)

[2017-11-14 19:15] obastemur opened #427 "CI: enable CI for node-chakracore PRs?"
It could be nice to see what my PR is actually doing on supported systems. Especially, If there is a fail on a system that I don't currently have, it could be nice to see the logs of the fail (if any).

[2017-11-14 19:32] digitalinfinity commented on #427
@joaocgreis any thoughts on whether we can have GitHub CI setup for the node-chakracore repo? While we could manually trigger CI, curious if there's any reason why we can't have a web hook set up for this?

[2017-11-14 19:34] digitalinfinity commented on #426
@joaocgreis @Trott I've often wondered about this- what is the philosophy between flaky and skip? I think @joaocgreis might have explained it to me once though 😄

I think the question here is, if ChakraCore is known to fail certain tests due to features that we've yet to implement, should we skip those tests or let them run but ignore the results. In the latter case, as @obastemur mentions, there

[2017-11-14 21:17] Trott commented on #426
If you wish to skip tests, you can mark them as `SKIP` in the `.status` file. That will skip with `make test` and `make test-ci`.

I would not mark such a test as flaky because flaky implies that the test *should* pass and something is wrong such that it *sometimes* doesn't pass.

I can only guess at the philosophy around the flaky tests feature. I *think* it pre-dates me (but maybe not). But this

[2017-11-14 23:53] joaocgreis commented on #427
@obastemur you are a member of the node-chakracore team, which means you have run permission in https://ci.nodejs.org/view/All/job/chakracore-test-pull-request/ . Just go there, click "Build with parameters", enter the PR number and there you go. The "Certify Safe" checkbox is a reminder that the jobs do not run on sandboxes, so when running the job for code that comes from outside contributors pl

[2017-11-14 23:56] obastemur commented on #427
@joaocgreis how an external contributor is able to see the fail logs? (if PR is failing on a platform)

EDIT: In other words, is there a way to do that ? previously, I wasn't able to see fail logs.

[2017-11-15 00:01] joaocgreis commented on #427
@obastemur the "Console output" is public on all jobs (logs are only kept for a few days though).

I started a run on master: https://ci.nodejs.org/job/chakracore-test/193/ and it is not going very well.. Windows failed because a node-gyp issue that is not obvious to me (I did a run last week and Windows was good: https://ci.nodejs.org/job/chakracore-test/192/). I expect Linux and OSX to fail beca

[2017-11-15 00:14] joaocgreis commented on #426
This was discussed in https://github.com/nodejs/node-chakracore/pull/233 (and some conversations leading to that PR), the relevant part is:

There might be a third: tests that break the test runner can be marked as SKIP in the status files.

Having flaky tests in Node-ChakraCore is a little different from Node-V8, there are many more and will likely be around for much longer. But the meaning is th

[2017-11-15 00:18] MSLaguana commented on #427
The windows test failure was a bug in the shim that was fixed a short time ago.

[2017-11-15 00:23] obastemur commented on #427
I see the potential issues with not enabling it by default.

However, it could be nice to get a `Good to merge` approval from a CI before merge. Reviewer could simply tell to CI bot to do the job..
i.e.
- `Review is done, CI test this please!`

Step by step..

- A new PR comes in.. CI receives the webhook and adds a UI box with `PR is not safe to merge`.. (right on top of Merge button)
- Reviewer

[2017-11-15 00:45] obastemur commented on #426
Second one much easier to forget for me.. If I'm supposed to remember one or another, I prefer neither and open issues for failing tests instead.

call me approaching this wrong but I expect `make test` is to show if things are okay with my changes.. not to remind me `flaky` tests.

[2017-11-16 02:00] joaocgreis commented on #426
We can mark all tests that are not yet working with SKIP instead of FLAKY, that way we keep the distinction between tests that should and tests that won't ever work. But with this there'd be no way to run those tests without changing the status files.

Or change the default in the [Makefile](https://github.com/nodejs/node-chakracore/blob/00702bb1ed6c1c7dfac4c156512b47a557555032/Makefile#L8) and [t

[2017-11-16 14:38] zackdouglas opened #428 "Outdated SHASUMS256 for Release v8.6.0"
Please update `SHASUMS256.txt` for [the v8.6.0 release](https://github.com/nodejs/node-chakracore/releases/tag/node-chakracore-v8.6.0); the sums for v8.4.0 were carried over.

[2017-11-16 18:58] jackhorton commented on #426
I think we have a number of "flaky" tests that fail due to timeout where we would be better off simply skipping those, because our tests take a _very_ long time to run as a result. I think a good bound for these could be:

1. PASS,FLAKY for tests that really actually do fail sporadically due to timing or OS issues (basically, tests that we think should work right now but don't)
2. common.skip for

[2017-11-17 09:56] Alphapage opened #430 "Chrome debug protocol missing api: beforeExecuting event"
Hello,

You have implemented the chrome debug protocol and it works without problem 👍
But this protocol is missing some features that are necessary to reach all debugger capacity.

I'm trying to debug a typescript project, but I can't without the addition of an outFiles property in vscode launch.json which is an unnecessary overhead (in my opinion)
We just need a new event callback which will be r

[2017-11-17 16:48] fhinkel commented on #420
Let me know if you want me to look at any changes. The `copyProperties()` function was a hack because our old interceptors didn't intercept all calls, namely `defineProperty()` was skipped. I've added a bit of documentation to give a broad overview how the current documentation works, https://github.com/nodejs/node/commit/f0c674d95b3bf494ab2decbe7026d0660e87495f.

[2017-11-20 18:45] MSLaguana commented on #395
This is also impacting more tests (and presumably more code); `test-zlib-empty-buffer.js` uses `util.promisify` and ends up asserting due to the lack of `Promise::Resolver` support.

[2017-11-23 00:20] joaocgreis commented on #427
I'm positive there was some discussion around starting CI from GH comments, but I can't find it. The idea sounds good to me, it's possible that just no one had the time to move ahead with it yet.

cc @nodejs/github-bot

[2017-11-23 13:46] phillipj commented on #427
Yupp, the @nodejs-github-bot has functionality for triggering CI from github.com comments: https://github.com/nodejs/github-bot/pull/128

Sadly it has stopped working due to some Jenkins permission issues: https://github.com/nodejs/github-bot/issues/146. Might be trivial to sort out if anyone's interested in digging into the issue.

[2017-11-24 02:28] joyeecheung commented on #427
@phillipj I am interested in helping this one (as well as for other repos, mainly node core). I'll be a bit busy until Dec though

[2017-11-27 18:06] alexlamsl opened #433 "FATAL ERROR: 'v8::Isolate::LowMemoryNotification' unimplemented"
* **Version**: v8.6.0
* **Platform**: Windows 10 x64

Trying to process a bunch of file I/O in parallel and got:
[code]

[2017-11-27 18:34] digitalinfinity commented on #433
Thanks @alexlamsl - indeed, this is a gap in our shim that we are aware of. Can you share your test case that hit this issue- I want to get a sense of how common this could be to help prioritize it.

[2017-11-27 19:06] obastemur commented on #433
We better make https://github.com/nodejs/node-chakracore/blob/8cf4aa996118b7bc17efc2f4fdb170186d1ed3bf/deps/chakrashim/src/jsrtutils.cc#L909 DEBUG only?

[2017-11-27 19:10] addaleax commented on #433
When I introduced the call to `LowMemoryNotification()` in the first place, that was more of a nice-to-have thing rather than a necessity. If there’s no simple way to do this in the shim, you can just make it a no-op.

[2017-11-27 19:15] obastemur commented on #433
Agree. `abort` is too much on production.

[2017-11-27 19:19] addaleax commented on #433
To be clear, I meant making `LowMemoryNotification()` a no-op. Crashing when encountering unimplemented functions seems perfectly fine to me in general.

[2017-11-27 20:48] alexlamsl commented on #433
@digitalinfinity getting a reproducible test case is quite a challenge, as the code only crashes on one of dozen of machines I run the same program on.

[2017-11-30 12:16] obastemur commented on #418
Memory consumption of a JS engine depends to application case / use and target arch. Looking at your question, you are interested with MIPS. ChakraCore doesn't support MIPS at the moment. Kindly follow ChakraCore related developments from https://github.com/Microsoft/ChakraCore

[2017-11-30 12:16] #418 closed, assigned to nobody

[2017-11-30 12:24] obastemur commented on #419
Agree the issue with naming.

@MSLaguana FYI; the folder inside `tar.gz` is `node-chakracore-node-chakracore-v8.6.0`
Unfortunately same problem also applies to 8.4.0 and probably earlier packages. It could be nice if we fix it before the next release.

@p3x-robot
I don't see a build problem.

[code]

What doesn't work for you?

[2017-11-30 12:27] obastemur commented on #384
ATM there is not much to gain from external data native support. JsrtObjectWithExternalData is sufficient enough. Once node-chakracore moves to ChakraCore/master, it will start benefiting from property strings hence things will end up better for templates. There are also couple of unmerged changes waiting for ChakraCore master branch to come. Closing this one.

[2017-11-30 12:27] #384 closed, assigned to obastemur

[2017-11-30 12:29] obastemur commented on #428
@MSLaguana ping.

[2017-11-30 13:18] obastemur commented on #371
+1 this.

@digitalinfinity @mike-kaufman  https://github.com/v8/v8/blob/master/test/cctest/test-api.cc ?

[2017-11-30 17:11] MSLaguana commented on #419
I don't believe that we create the archives there, I think it's actually automatically done by github when you create a release. If you look at the download link, it says `https://github.com/nodejs/node-chakracore/archive/node-chakracore-v8.6.0.tar.gz` but if you download it, you get a file with name `node-chakracore-node-chakracore-v8.6.0.tar.gz` and then the folder inside it matches that name. I

[2017-11-30 17:42] obastemur commented on #419
Right. Maybe we shouldn't use `node-chakracore` for a release branch name? :)

[2017-11-30 17:44] MSLaguana commented on #419
It's not the branch name, it's part of the tag that we use. We can't just use `v8.6.0` since that collides with upstream nodejs' tag names, and we share a history (and we use their tags to make sure we have common node bits).

[2017-11-30 17:55] obastemur commented on #419
Not sure I understood. Why this matters? How it collides? (two separate repositories)

[2017-11-30 18:01] MSLaguana commented on #419
Define repository :) We routinely have one git repository with multiple remotes, one of which is nodejs/node and one of which is nodejs/node-chakracore. It is very convenient to be able to `git checkout some-node-chakracore-branch; git merge v8.6.0` and end up with the node-chakracore repository in sync with the 8.6.0 release of nodejs, ready for us to make our node-chakracore 8.6.0 release.

@p3x

[2017-11-30 18:05] obastemur commented on #419
I don't follow. What happens to `origin` / `remote name` ?

[2017-11-30 18:11] MSLaguana commented on #419
Git tags aren't namespaced by remote. If you fetch tags from two remotes (which I believe happens by default, but if not it's something that we want to do on occasion) then they are just part of a big collection of "names for commit hashes"; you can even see this if you look in `.git/packed-refs`: for me it starts with some names of branches e.g. `refs/remotes/origin/master`, and then a bunch of t

[2017-11-30 18:16] obastemur commented on #419
@MSLaguana so why do we have master branch?

when there are tags available on two remotes, you call them via their origin name. i.e. node/master .. node-chakracore/master.

So basically, there is no need adding `node-chakracore` on front of each and every single release tag.

[2017-11-30 18:17] obastemur commented on #419
I agree the current setup is confusing.

[2017-11-30 18:38] MSLaguana commented on #419
@p3x-robot Do your automation systems work with upstream node? As far as I can tell, all the same issues apply to the latest release at https://github.com/nodejs/node/releases

[2017-11-30 18:42] obastemur commented on #419
Just to clarify bits;

what node release does -> url (i.e. v8.60) -> actual (node-v8.60)
what node-chakracore --> url (i.e. node-chakracore-v8.60) -> actual (node-chakracore-node-chakracore-v8.60)

re: what we do with tags is unnecessary. The actual output we have, looks buggy. If we insist on tagging our versions separately, well, how about (release-v8.60) instead of (node-chakracore-v8.60) ?

[2017-11-30 18:44] MSLaguana commented on #428
I have updated the `SHASUMS256.txt` file as part of the release, thanks for pointing that out!

[2017-11-30 18:44] #428 closed, assigned to nobody

[2017-11-30 19:30] digitalinfinity commented on #418
As @obastemur said, it depends on the scenario- in some cases we use less but in some cases we might use more

[2017-11-30 19:58] #433 closed, assigned to nobody

[2017-12-06 03:05] #426 closed, assigned to nobody

[2017-12-20 13:19] #430 closed, assigned to kfarnung

[2018-01-11 05:57] dpogue opened #445 "Segfault in node::loader::ModuleWrap::Link with --experimental-modules"
* **Version**: v8.6.0
* **Platform**: Linux x64

Running `node --experimental-modules test.mjs` should print "Received QUX".
Instead it crashes with a segmentation fault.

This works in the v8 build of node, as well as in Chrome, Firefox, and Safari browsers.
Note that it also fails in the Microsoft Edge browser, as [reported here](https://developer.microsoft.com/en-us/microsoft-edge/platform/issu

[2018-01-11 06:15] MSLaguana commented on #445
Thanks for reporting this @dpogue; ChakraCore doesn't provide all the hooks that node expects for es6 modules, so right now node-chakracore does not support them. We're working on adding support for what node expects in the near future.

[2018-01-11 06:16] MSLaguana commented on #445
See https://github.com/nodejs/node-chakracore/issues/391 for some more details.

[2018-01-11 06:19] dpogue commented on #445
Ah, thanks. I was hoping to use node-chakra to debug why it might be breaking in Edge, but it looks like it doesn't currently work in either of those cases (for unrelated reasons) 😅

[2018-01-12 06:18] jackhorton commented on #445
For what its worth, ChakraCore has its own lightweight host, `ch`, that comes in the main ChakraCore repository. You might be able to use that, though note that it implements very little standard library outside of the ecmascript spec. You can download a ChakraCore release yourself, build it from source, or use [JSVU](https://github.com/GoogleChromeLabs/jsvu) alongside [eshost-cli](https://github.

[2018-01-12 06:23] #390 closed, assigned to nobody

[2018-01-25 18:10] rhuanjl commented on #391
I'd be interesting in helping with this; if help from an external contributor is welcome.

I'm now quite familiar with ChakraCore's module loading APIs and internals.

If useful here's how it works, roughly.
**Parsing modules with CC:**
1. CC notifies host to fetch the module
2. Host must check if the module has been loaded already or not
3a. If module not yet loaded, host creates a new module rec

[2018-01-30 01:04] kfarnung commented on #423
We don't currently support profiling so this test won't pass.  That's a known limitation rather than a bug.

[2018-01-30 01:04] #423 closed, assigned to nobody

[2018-01-30 01:17] kfarnung commented on #367
This is a known limitation of our implementation, the issue is that the evaluate expression is being issued while there is no script executing.  We'll need to investigate workarounds which may include some changes in ChakraCore.

[2018-01-30 01:19] kfarnung commented on #362
This was fixed in c8e6e2fe8ec7c0caf1752156e59c78ac1ad0dfc1

[2018-01-30 01:19] #362 closed, assigned to kfarnung, jackhorton

[2018-01-30 01:21] kfarnung commented on #292
We'll track this work in #367.  It looks like the `test-off-with-session-then-on` test has been refactored out.

[2018-01-30 01:21] #292 closed, assigned to kfarnung

[2018-02-02 00:36] jackhorton opened #457 "test: parallel/test-stream-buffer-list is disabled"
Blocked on https://github.com/Microsoft/ChakraCore/issues/4635

[2018-02-05 17:59] jackhorton opened #459 "assert() does not give pretty error messages"
f76ef504326f8a37cdb0d3dae705239d685abffc brought in a significant change to assert.js that uses V8 internal APIs to read the stack to find the assert callsite in order to use the program source code as the default message if one was not provided to assert(). c5a23c47f30406c1fb204e5c1d9047b23fb2d54c disables this functionality for node-chakracore, but it would be nice to add it back eventually.

[2018-02-05 18:08] jackhorton commented on #413
@boingoing this is fixed now, yes?

[2018-02-05 18:09] jackhorton commented on #409
There were recently a whole bunch of changes to enable building as a static library in upstream. Do you know if this is fixed yet?

[2018-02-05 19:21] jackhorton opened #460 "test: sequential/test-fs-readfile-tostring-fail is flaky on Windows/x86"
* **Version**: v10.0.0-pre
* **Platform**: Windows/x86
* **Subsystem**: fs

Test sequential/test-fs-readfile-tostring-fail is flaky for x86 windows builds: https://mseng.visualstudio.com/Node.js%20Core%20Runtime/_build/index?buildId=5108430&_a=summary

[2018-02-05 19:35] boingoing commented on #413
Yes, should be fixed by Jsrt API `JsCreateEnhancedFunction`.

[2018-02-05 19:35] #413 closed, assigned to nobody

[2018-02-08 13:56] alexlamsl opened #462 "String.to{Low,Upp}case() gives invalid result"
The following fails with `node-chakracore@8.6.0`:
[code]
Discovered in https://github.com/mishoo/UglifyJS2/pull/2886#issuecomment-364116274

Other platforms are working as expected:
- IE 8~11
- FireFox 43
- Safari 5
- Opera 10
- Node 0.10~9

[2018-02-08 16:44] MSLaguana commented on #462
Looks like we are also inconsistent between different OS: when I try your examples on Linux, the second case works correctly but the first does not. @jackhorton should we be using ICU for upper/lower casing?

[2018-02-09 03:53] MSLaguana commented on #391
Once we do get our support for modules into a state that node-chakracore can use, we need to re-enable a number of tests in `test/parallel`. Some new tests of `vm` support for modules have had to be skipped due to lack of support in node-chakracore.

[2018-02-09 05:42] jackhorton commented on #462
Interesting. This is probably a Chakra bug, rather than a Node-ChakraCore bug, so I will make something to track this over there. With that being said, I dont think ICU should be required here, since the whole point of toLocale{Upper|Lower}Case is that they use locale-sensitive casing rules, so we are probably passing some bad flags to the Win32/POSIX APIs that handle the basic comparison.

[2018-02-09 19:37] boingoing commented on #391
This support is probably going to need both Jsrt-side and Node-ChakraCore-side changes. @rhuanjl your understanding looks right to me. The first step to getting ESM working in Node-ChakraCore is probably to understand exactly where in that process ChakraCore differs from v8.

[2018-02-10 08:34] avaer opened #463 "Win10: Cannot unzip release"
Windows 10 cannot unzip the release zip because it is too deeply nested.

Release: https://github.com/nodejs/node-chakracore/releases/download/node-chakracore-v8.9.4/node-v8.9.4-win-x64.zip

Just drag the `node-v8.9.4-win-x64` to desktop using Windows Explorer, and Windows Explorer can't do it. Seems like the paths need to be flattened in the release.

<img width="352" alt="capture" src="https://u

[2018-02-10 11:12] avaer commented on #420
I found another case that doesn't work: Promise microtasks.

[code]

[2018-02-10 11:14] avaer commented on #420
Re: the above, let me know if it should be filed separately. It's not strictly anything to do with sandbox properties, but tick management.

[2018-02-11 23:25] rhuanjl commented on #391
I didn't have anything better to do so I tried to work out how v8's module implementation works and how node implements it. I could't find any good documentation for it; this seems to be the best there is: https://v8.paulfryzel.com/docs/master/classv8_1_1_module.html the actual code was probably better.

I'm not 100% positive that I've got this right I found the v8 code somewhat confusing - possib

[2018-02-12 18:38] MSLaguana commented on #463
Hey @modulesio thanks for reporting this. I don't have this happen locally when I try, but I'm not surprised (perhaps you have a longer username than I do, or many other reasons). If you try and do the same with a release of upstream node, such as https://nodejs.org/dist/v8.9.4/node-v8.9.4-win-x64.zip, do you get the same issue? We use their same release infrastructure, so I suspect that this is s

[2018-02-12 19:22] kfarnung commented on #463
@MSLaguana is correct, that issue comes from upstream node's npm modules:

![image](https://user-images.githubusercontent.com/931192/36115094-e21765b6-0fe6-11e8-9c15-f7b3acce7ba1.png)

I compared the contents of the node-chakracore and node packages and these files are identical in both.

[2018-02-12 23:45] MSLaguana opened #464 "fs.promises functions use promise.prototype.finally which is not supported in chakracore"
Fortunately support for this is incoming via https://github.com/Microsoft/ChakraCore/pull/4668

Until then, `test\parallel\test-fs-promises-writefile.js` is disabled.

[2018-02-14 23:05] MSLaguana commented on #420
It seems that the package uglify-js2 is broken in node-chakracore at the moment because of `vm.runInContext` issues.

[2018-02-16 22:48] kfarnung opened #467 "CI test failure on macOS - test-tls-disable-renegotiation"
* **Version**:  master
* **Platform**:  macOS
* **Subsystem**:  unknown

[code]

[2018-02-19 03:46] kfarnung commented on #467
This is fixed by my upstream PR:  https://github.com/nodejs/node/pull/18860

[2018-02-22 03:35] jdalton commented on #420
When using `vm.runInContext` in a non-trivial example I'm getting the notorious [`3221225477` exit code](https://www.google.com/search?q=node+3221225477).

[2018-02-23 18:37] rhuanjl commented on #391
I think I've worked out how to do all of this with no further changes to CC other than the JsGetModuleNamespace() function which is now in master.

The behaviour underneath will not be the same - BUT the observable behaviour should be.

I'll see if I can get it to work using current chakracore master will likely take me a little while - code i need to write for the shim will be slightly involved.

[2018-02-24 07:53] jdalton opened #477 "jest-haste-map 22.4.0 breaks in node-chakracore"
Just a heads up. I have a unit test that checks `jest` + `mock-require` and it started failing after with the `jest-haste-map 22.4.0 update (on Windows 10).

\cc @SimenB

[2018-02-24 07:55] jdalton commented on #477
It is probably related to this bit https://github.com/facebook/jest/commit/3a2854aeca669b6cd82139de23333fa18fce7c6c#diff-9450b62547fd20fe4b1669dd088f14af.

The error I get is
[code]
It's reading a haste cache file but the file is empty, `""`.

[2018-02-24 11:28] SimenB commented on #477
Can you try with 22.4.2? Ref facebook/jest#5642.

Doesn't chakra node support `v8.serialize`? Which would be understandable, but then we shouldn't hit that code path anyways.

Underlying change: facebook/jest#5565

[2018-02-24 15:31] alexlamsl opened #478 "Inconsistent behaviour in `vm.runInNewContext()`"
* **Version**: 8.9.4 (also tested 8.6.0
* **Platform**: Windows 10 x64
* **Subsystem**: vm

The test case in https://github.com/mishoo/UglifyJS2/pull/2574 uncovers a difference in exceptional behaviour between `node` and `node-chakracore` - here's a reduced test case:
#### `test.js`
[code]
#### `node-chakracore`
[code]
#### `node`
[code]
[code]
[code]
[code]
[code]
[code]

[2018-02-24 16:49] jdalton commented on #477
I actually worked backwards from 22.4.2. The first version to work again was 22.3.0.

[2018-02-24 17:20] SimenB commented on #477
/cc @mjesun

[2018-02-26 17:42] MSLaguana opened #479 "New Contributors for Node-Chakracore"
Please add the following contributors to [Node-ChakraCore](https://github.com/orgs/nodejs/teams/node-chakracore) team:

* @sethbrenith - Seth Brenith
* @irinayat-MS - Irina Yatsenko

// cc: @mhdawson, @jasnell

[2018-02-26 21:45] MSLaguana commented on #478
Looks like this is because of how we try to create a v8-style context. Within the context, we create a proxy and assign it as the prototype of the global object, but this seems to mean that the `A` access goes to the proxy getter function and isn't detected as not-defined, and so no exception is thrown as part of `var a = A`.

While I was playing around with this, I also saw some strange behavior

[2018-02-26 22:01] MSLaguana commented on #478
Ah nevermind, I was mis-using `hasOwnProperty`; should have been `this.hasOwnProperty('a')` and then it works as expected.

It seems that the main downfall of our current approach is the fact that the property interceptors are put on the prototype of the global object, rather than the global object itself (which is currently not possible in chakracore).

[2018-02-26 22:39] MSLaguana commented on #477
The `v8.deserialize` method seems to have nothing to do with v8, and it's implemented in node so we should support it. It looks to me like right now the native methods it calls into are being mis-compiled into do-nothing functions, so it is returning `undefined`.

[2018-02-26 23:14] MSLaguana commented on #477
Ah nevermind; the `node_serdes` serialization methods end up depending on a v8 type that we don't mock out, and so the compiler was calling our bluff.

[2018-02-26 23:17] mjesun commented on #477
Sorry for the late reply, I just got an email about that (thanks, GitHub...). From what you say it looks like it's not a particular bug in Jest?

What would work as well for you is if you don't provide `v8.serialize` at all. In that case, we default back to an implementation with a standard `JSON.stringify`.

[2018-02-26 23:27] MSLaguana commented on #477
The difficulty with that is we kind-of/kind-of-don't support everything in the v8.js file. The simplest thing from our side would be to remove v8.js, but then your `require("v8")` would throw and that looks like it'd be worse for you at the moment. The alternative that you propose is essentially having v8.js as an empty file, which isn't too unreasonable, but as a general rule we try to keep our d

[2018-02-27 04:55] digitalinfinity commented on #477
I think it's not unreasonable for v8.js to just return an empty object if process.jsEngine != 'v8'. @addaleax thoughts? (and yes, we probably should get around to supporting serdes at some point, it's still on my backlog 😞)

[2018-02-27 16:47] mjesun commented on #477
@MSLaguana I can wrap the V8 require in a `try`/`catch` prior to check `v8.serialize`; would that make things simpler?

[2018-02-28 00:12] MSLaguana opened #481 "N-API modules building against node-chakracore must use custom npm"
We have made a small change to npm in this repo, part of eeec9f1bae074bceccb80e423abfd8a811e08f51

Without that change, attempting to build a N-API module (or probably any native module?) against node-chakracore will fail to find some JSRT methods, since it won't attempt to link against chakracore.dll.

[2018-02-28 17:24] joaocgreis commented on #479
cc team maintainers @thefourtheye @aruneshchandra

[2018-02-28 22:11] rhuanjl commented on #391
Spent some more time thinking on this - the above plan if implemented should work for supporting the "default" module loading implementation in Node.

But it would not support the vm.Module class at all: https://nodejs.org/api/vm.html#vm_class_vm_module

To make CC support that would I think require exactly emulating v8's api - which would have to involve logical changes in SourceTextModuleRecord.

[2018-02-28 22:12] bmeck commented on #391
@rhuanjl is there are an API Node could be using instead of V8's that would be abstract enough to work in both?

[2018-02-28 22:56] kfarnung commented on #479
I believe @aruneshchandra tried to add them, but they aren't currently a "Member" of the nodejs organization so he wasn't able to.

[2018-03-01 00:57] rhuanjl commented on #391
**(Note I'm not a microsoft employee just an external contributor with too much time on his hands)**

@bmeck I'm sure one could be devised - not sure I'm the best person to do that - I've outlined the key point below as a start.

@boingoing please can you take a look at this and comment?

The key difference is when the two engines use a callback to set up references between parent and child module

[2018-03-01 16:44] mhdawson commented on #479
Can you confirm that they have both enable 2 factor authentication.  Once you confirm I can send out invites and add them.  I assume they are also both Microsoft employees ?

[2018-03-01 17:18] MSLaguana commented on #479
They do indeed have 2FA enabled, and they are both Microsoft employees.

[2018-03-01 18:06] mhdawson commented on #479
Invites should be on their way.

[2018-03-01 21:34] sethbrenith commented on #479
Thanks!

[2018-03-01 21:43] IrinaYatsenko commented on #479
Thank you!

[2018-03-01 21:45] #479 closed, assigned to nobody

[2018-03-02 07:51] chopdown opened #482 "Inconsistent behaviour in 'Error.prepareStackTrace'"
* **Version**:
* **Platform**:
* **Subsystem**:

Version: v8.9.4
Platform: All
Subsystem: Error

node-source-map-support does not work on ChakraCore,  'Error.prepareStackTrace' is not same as nodejs. so we can't adds source map support for typescript stack traces.

**The test case:**

[code]

**node-chakracore**

[code]

**node**

[code]

[2018-03-02 09:01] rhuanjl commented on #391
Alternative answer, in this commit: https://github.com/rhuanjl/ChakraCore/commit/9e1323e515bedb9f07f97adc2a1c5101506ef0b2 I've had a go at adding v8's module loading pathway to CC as an option so the host can choose the current way or the v8 way which should enable fairly implementation in chakra-shim.

It's not as bad as I thought it would be if you ignore the comments it's only about 140 lines a

[2018-03-02 19:38] kfarnung commented on #482
Unfortunately `Error.prepareStackTrace` is not a standard API, so it's not surprising that it doesn't work the same way as V8:

https://github.com/v8/v8/wiki/Stack%20Trace%20API

It would be nice to have support for this, but for now we'll have to track it as a compatibility issue.  It's worth calling out that [node-source-map-support](https://github.com/evanw/node-source-map-support) states their

[2018-03-07 01:07] jackhorton opened #484 "Clean up usage of chakra_shim.js"
chakra_shim.js contains implementations of lots of functions that we should probably consider moving back into native, such as hot type checks. The interface to access it is also pretty messy and has lots of repetition in jsrtcontextshim.cc, v8value.cc, and others.

[2018-03-07 07:42] kfarnung commented on #484
I think this is probably worthwhile to look at the interfaces, but are we sure that it will actually improve performance to move the code back to native?  Even some of the simpler looking functions in chakra_shim.js require multiple native function calls into the engine to get equivalent behavior.

Fundamentally I'm +1 for trying to improve the interface, but I'm -0 on moving code back to native u

[2018-03-07 16:41] jackhorton commented on #484
We have a lot of type checks that, if moved to the JSRT, would be a single (inlineable by the C++ compiler) native call to check the typeId of the Var. Currently we call out to a 1 line JS function each time that calls Object.prototype.toString on the object and makes a concat string and a === check... it seems like a lot of unnecessary work. With that being said, no, we haven't ever seen this com

[2018-03-07 19:35] kfarnung opened #485 "Missing symbol for fsevents module on macOS"
* **Version**: 8.9.4
* **Platform**: macOS 10.13.4 beta
* **Subsystem**: chakrashim

While trying to use `react-scripts-ts` in a project on macOS I ran into an issue where the `fsevents` module installs a pre-gyp binary successfully, but fails during load due to a missing symbol:

[code]

The symbol `__ZN2v820EscapableHandleScopeC1EPNS_7IsolateE` demangles to `_v8::EscapableHandleScope::EscapableH

[2018-03-07 19:44] kfarnung opened #486 "`react-scripts-ts` module tries to use unsupported option `--max-old-space-size`"
* **Version**: all
* **Platform**: all
* **Subsystem**: chakrashim

While trying to use `react-script-ts` to build a TypeScript React app I ran into an issue where compilation fails due to an unsupported option being passed to the node executable:  `bad option: --max-old-space-size=2048`.

The repro is pretty simple:

[code]

[2018-03-07 22:11] kfarnung commented on #467
Fixed in https://github.com/nodejs/node-chakracore/commit/743f8904cca16d87c8ac856488bf021849a43383

[2018-03-07 22:12] #467 closed, assigned to kfarnung

[2018-03-07 22:28] aruneshchandra commented on #481
We should try static linking ChakraCore on Windows to remain compatible with NPM and require custom NPM.

[2018-03-07 22:36] aruneshchandra opened #487 "Upstream process.jsEngine"
Upstream process.jsEngine so that it allows developers to test for other VMs like ChakraCore to conditionally enable VM specific functionality.

[2018-03-07 22:57] aruneshchandra commented on #204
Not repro. Please reopen if there is new information

[2018-03-07 22:58] #204 closed, assigned to nobody

[2018-03-07 23:51] kfarnung commented on #395
The original test was fixed and removed from the skip list in bafa0def68942e34517637d3dd300f57a5d2021c, I'll send out a PR for the other test.

[2018-03-08 00:00] jackhorton commented on #485
Looks like a dupe of #412, which was also added to the Node 10 milestone.

[2018-03-08 00:09] kfarnung commented on #485
Yup, I didn't see that one at the time.  I'll close this one.

[2018-03-08 00:09] #485 closed, assigned to kfarnung

[2018-03-08 00:33] kfarnung commented on #486
It looks like `webpack` uses it pretty liberally in their package scripts:

https://github.com/webpack/webpack/blob/41bb63ad69d0f32c042e74e732cb045b5966c452/package.json#L90-L117

But the faulting lines are:

https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/d12c217405552ef5de5d451ed072265b73f585b0/src/cluster.ts#L19

https://github.com/Realytics/fork-ts-checker-webpack-plugin/blob/

[2018-03-08 19:12] kfarnung commented on #395
Resolved in ec7245944a7fbf4a0d3b50a4fcb4b7aa9cc37fa2

[2018-03-08 19:12] #395 closed, assigned to kfarnung

[2018-03-08 19:42] kfarnung commented on #487
@digitalinfinity @aruneshchandra

Does this seem like a reasonable change to propose?

https://github.com/nodejs/node/compare/master...kfarnung:jsengine

[2018-03-08 19:45] MSLaguana commented on #487
Most of the change looks good to me, although I'm not sold on the test, from the perspective of having it work with chakracore as well...

[2018-03-08 19:48] MSLaguana commented on #487
Maybe have the check make sure that `process.jsEngine in process.versions` instead, get the benefit of making sure that's hooked up as well?

[2018-03-08 19:59] MSLaguana commented on #487
And actually, on that note you might want to change the literal "v8" a little further down in `node.cc` to use the `NODE_ENGINE` define instead as well?

[2018-03-08 20:07] MSLaguana commented on #477
I've just put out a PR to have the `v8` module be an empty object: https://github.com/nodejs/node-chakracore/pull/491

[2018-03-08 22:32] kfarnung commented on #487
I initially did change that, but it felt weird given that the value is populated by calling `V8::GetV8Version()` so it didn't feel like the right way to go about it.  It's an easy change if we feel strongly about it though.

[2018-03-08 22:52] kfarnung commented on #487
I've updated the commit with the feedback, please take another look.

[2018-03-08 22:54] MSLaguana commented on #487
Looks good to me.

[2018-03-08 23:10] kfarnung commented on #487
I opened the PR:  https://github.com/nodejs/node/pull/19243

[2018-03-09 19:31] kfarnung opened #494 "Failing test `parallel/test-async-hooks-destroy-on-gc`"
* **Version**: master
* **Platform**: windows
* **Subsystem**: async-hooks

https://ci.nodejs.org/job/node-test-binary-windows/15609/COMPILED_BY=vs2017,RUNNER=win2008r2-vs2017,RUN_SUBSET=2/console

[code]

[2018-03-09 20:00] kfarnung opened #495 "Failling test `parallel/test-http2-respond-file-fd-invalid`"
* **Version**: master
* **Platform**: linux
* **Subsystem**: http2

https://ci.nodejs.org/job/chakracore-test-linux/313/nodes=ubuntu1604-64/consoleText

[code]

[2018-03-09 20:01] kfarnung commented on #494
This looks like it's probably flaky, maybe it's flaky upstream too?

EDIT: Probably not flaky upstream, likely to do with the different GC behavior of ChakraCore.

[2018-03-09 20:03] kfarnung commented on #495
This looks like it's probably flaky, maybe it's flaky upstream too?

[2018-03-10 00:49] kfarnung commented on #412
@scriptjs Can you try building from source again?  I do have the same problem with binary compatibility, but `--build-from-source` was working for me last night using v8.9.4.

[2018-03-13 19:20] digitalinfinity opened #498 "Stylus tests failing in Node-ChakraCore"
* **Version**: 10.0.0-nightly
* **Platform**: all
* **Subsystem**: chakracore

Repro steps (attempted on Linux):
- Get latest node-ChakraCore
- git clone https://github.com/stylus/stylus
- cd stylus
- npm install
- npm test

Result: 26 pass, 1 fail

[code]

[2018-03-13 19:24] digitalinfinity opened #499 "shot tests failing on Node-ChakraCore"
* **Version**: 10.0.0-nightly
* **Platform**: all
* **Subsystem**: chakracore

Repro steps (attempted on Linux):
- Get latest node-ChakraCore
- git clone https://github.com/hapijs/shot
- cd shot
- npm install
- npm test

Result: 43 pass, 1 fail

[code]

[2018-03-13 19:25] digitalinfinity commented on #499
Chatting with @MSLaguana the root cause here is that CollectGarbage is getting exposed in Node-ChakraCore without --expose-gc. We should change it so that ChakraCore does not expose this function unless explicitly requested

[2018-03-13 21:15] MSLaguana commented on #498
I believe this is the same as the chakracore issue https://github.com/Microsoft/ChakraCore/issues/2512

[2018-03-13 21:52] geek commented on #499
@digitalinfinity if you want to use the same checks, here is how we have it in lab: https://github.com/hapijs/lab/blob/master/lib/leaks.js

[2018-03-16 22:30] MSLaguana commented on #477
This should be fixed in nightlies now, triggering the fallback to `JSON.parse`

[2018-03-16 22:30] #477 closed, assigned to MSLaguana

[2018-03-19 21:13] kfarnung commented on #477
The fix was also backported to our latest release build:  https://github.com/nodejs/node-chakracore/releases/tag/node-chakracore-v8.10.0

[2018-03-20 20:56] kfarnung commented on #494
This looks to be a race condition.  On my machine it's basically 100% repro as part of the full test suite (with tests running in parallel), but 0% repro when run on its own.  If this hits in the next pump resolution I'll mark it flaky for now and investigate further.

[2018-03-22 19:14] IrinaYatsenko commented on #498
Isolated repro:
`(100.0/11).toString(10);`

They expect output: 9.09090909090909**2**
We output: 9.09090909090909**1**

Debugger shows all three numbers as 9.0909090909090917165
`a2e8ba2f 40222e8b`
`00101111 10111010 11101000 10100010  2f ba e8 a2`
`10001011 00101110 00100010 01000000  8b 2e 22 40`

Note: we have separate code path for decimal conversion.

[2018-03-26 21:46] IrinaYatsenko commented on #498
FDblToRgbPrecise produces 9.090909090909092 representation.
FDblToRgbFast (which we end up using) produces 9.090909090909091 representation.

FDblToRgbFast hasn't changed since 2006 (other than handling errors and moving helpers into namespace).

Hiding FDblToRgbPrecise behind FDblToRgbFast goes as far back as 2002 (without any interesting comments on *why* it's this way).

Did a mini-benchmark: i

[2018-03-26 23:12] IrinaYatsenko commented on #499
GlobalObject.cpp has the following comment: "We expose the CollectGarbage API with flag for compat reasons." -- and then we expose CollectGarbage as "undefined". Being able to configure GC was added in Windows TH2 (Change 1591331). I think the back compat here means IE.

[2018-03-27 02:30] #486 closed, assigned to kfarnung

[2018-03-27 21:15] IrinaYatsenko commented on #498
Replacing FDblToRgbFast with FDblToRgbPrecise regressed the following benchmarks:
Kraken: Json-stringify-tinderbox (19%)
Octane: Splay (14%), Splay latency (6%)
SunSpider: String-tagcloud (5-17%)

Discussed with Louis and he thinks regressing perf of JSON.stringify like this isn't acceptable: JSON.stringify({ 'pi': 3.14 }) calls ToString and it's not inconceivable to have real life scenarios with

[2018-03-28 01:43] digitalinfinity commented on #498
JSON I can see- why does splay regress with that change? I thought Splay was memory intensive. Is the String-tagcloud case also using JSON stringify in the hot path?

[2018-03-28 16:51] IrinaYatsenko commented on #498
Splay test generates a new random number and then converts it to string in a loop (see InsertNewNode()). Ends up calling ToString 10K+ times.

String-tagcloud creates "a href" tag using popularity numbres, which are converted to string. Calls ToString 2.5K+ times.

[2018-03-29 02:00] MSLaguana commented on #478
I believe that for a proper fix here we'll need to add support for interceptors on the global object / having a proxy as a global object.

Without going that far, there are a few stop-gap options I've been considering to handle most of the use-cases:
1. Take a snapshot of the global object before and after every `RunInContext`, and apply the diff to the sandbox. This could be done via `Object.getO

[2018-03-29 18:13] hoonhan opened #506 "Fail to $nvs add chakracore/latest"
* **Version**: v9.10.0
* **Platform**: Linux home 3.13.0-32-generic #57~precise1-Ubuntu SMP Tue Jul 15 03:50:54 UTC 2014 i686 i686 i386 GNU/Linux

I'm now trying to add chakracore/latest as mentioned in the instruction, but it returns a message that
"Platform package not available for version: chakracore/8.10.0/x86"

I know that this package is available now, but my machine cannot do that.

[2018-03-29 18:17] MSLaguana commented on #506
node-chakracore only supports x64 for Linux; are you running a 64bit OS?

[2018-03-29 18:19] hoonhan commented on #506
Oh, that was the very reason. Thanks

[2018-03-29 18:19] #506 closed, assigned to nobody

[2018-03-30 21:44] #499 closed, assigned to IrinaYatsenko

[2018-03-30 23:03] mike-kaufman opened #507 "napi finalizer test disabled on node-chakracore"
some parts of the N-API[test_exception](https://github.com/nodejs/node-chakracore/tree/master/test/addons-napi/test_exception) have been disabled because they're failing on node-chakracore.

The test is trying to validate that a N-API finalizer method that raises an exception will be propogated to user code.  This propagation isn't  happening now.

2 things need to happen here:

1.  Figure out why

[2018-03-31 10:46] alexlamsl opened #508 "Inconsistent behaviour with vm context of `Object.create(null)`"
* **Version**: v8.10.0
* **Platform**: Windows 10 x64
* **Subsystem**: vm

#### Node.js
[code]
#### node-chakracore
[code]

[2018-03-31 11:15] alexlamsl opened #509 "crash upon Number.MAX_VALUE.toString(16)"
* **Version**: v8.10.0
* **Platform**: Windows 10 x64

#### Node.js
[code]
#### node-chakracore
[code]

[2018-03-31 11:23] alexlamsl commented on #509
Pure speculation - this may be a regression caused by the fix for #390 & https://github.com/Microsoft/ChakraCore/issues/2751

[2018-03-31 18:25] MSLaguana commented on #509
I think that I fixed this in upstream chakracore a couple of days ago; not sure if the change has made it into a nightly build yet. Thanks for reporting it though!

[2018-04-01 21:16] MSLaguana commented on #509
Just confirmed; the fix is in the chakracore-master branch here, but nightlies are currently built from master which is tracking a previous branch in upstream chakracore. This will be changing in the near future I think, so it should be resolved at that time.

[2018-04-01 22:16] alexlamsl commented on #509
Thanks for the information (& the fix) – shall I close this since it's already fixed upstream?

[2018-04-02 01:10] MSLaguana commented on #509
I'm inclined to leave it open until the fix makes it into a build somewhere.

[2018-04-02 17:00] mike-kaufman opened #510 "Implement previewMapIterator, previewSetIterator"
Need to do the following:

  1. Need to implement these methods:  https://github.com/nodejs/node-chakracore/blob/master/lib/internal/bootstrap/node.js#L42-L45.
  2.  Need to re-enable tests that were disabled, including:
    - https://github.com/nodejs/node-chakracore/blob/master/test/parallel/test-console-table.js#L111
    - https://github.com/nodejs/node-chakracore/blob/master/test/parallel/test

[2018-04-08 02:25] neogeno opened #512 "Cannot build from Source - ChakraCore.h not found"
* **Version**: master node-chakracore
* **Platform**: Mac OS 10.13.4
* **Subsystem**:

Followed the ./configure and make procedure in your readme. After typing make I get

../deps/chakrashim/include/v8.h:67:10: fatal error: 'ChakraCore.h' file not found

[2018-04-08 02:55] MSLaguana commented on #512
That's odd, `ChakraCore.h` should be part of the repository that you cloned. Do you see a `deps/chakrashim/core/lib/Jsrt/ChakraCore.h`?

[2018-04-08 02:58] MSLaguana commented on #512
One thing I will note: there is currently a build break in the master branch to do with ICU, but that would be a very different error. I suggest that you checkout the `chakracore-master` branch if you want to build from source at the moment.

[2018-04-08 03:49] neogeno commented on #512
Hi, Yes the deps/chakrashim/core/lib/Jsrt/ChakraCore.h is present but it seems make cannot find it when it searches for headers. How can I manually add the path to be searched to the make process then?

[2018-04-08 20:38] MSLaguana commented on #512
Hmm, I just reproduced this error. Looks like what's actually going on is a dependency on chakracore.h has made its way into the node sources, not the chakrashim sources. I'm not sure why this hasn't affected our CI. @kfarnung do you know what might be causing `async_wrap.cc` to take a dependency on `chakracore.h` which fails now, considering the `#include chakracore.h` in `v8.h` has been there fo

[2018-04-09 07:42] kfarnung commented on #512
I haven't run into this on Windows or Linux Mint 18.3, I kicked off a build on my Mac so I'll see what the result is there.

@MSLaguana what configuration are you able to reproduce with?

[2018-04-09 07:49] kfarnung commented on #512
My Mac was able to build without issue on 10.13.5 beta (I believe it worked on 10.13.4 as well).  One thing to note is that the `ChakraCore.h` file used is actually the copy that gets dropped in `deps/chakrashim/include/ChakraCore.h` alongside `v8.h`.  Can you both check to make sure that file is there?  Have you tried doing a full clean using `git clean -xdf` in your repo?

[2018-04-09 08:04] kfarnung commented on #512
(Sorry for the spam)

I just remembered that there was a Linux and Mac build break I discovered earlier today, but it manifested as a ChakraCore build break due to a new ICU change (64211405dab824a570e52d000891c49415cc42b8) that required a ChakraCore fix (29d44c28578d58ae92a40b4112481766e066b2ec).

@neogeno Can you try pulling the latest master and build again?  I suspect the issue might already b

[2018-04-09 15:22] MSLaguana commented on #512
@kfarnung I was trying to repro in WSL in a fresh checkout. I was aware of the ICU change breaking things, but the build didn't get that far; it was breaking when building some node sources, rather than chakracore/chakrashim sources.

[2018-04-09 16:21] kfarnung commented on #512
Can you run `ls deps/chakrashim/include`?

[2018-04-10 15:56] MSLaguana commented on #512
It seems that I only have v8 headers in there, not the chakracore header. It somewhat looks to me like the dependency of node-chakracore on chakracore (/chakrashim) is missing, so it isn't trying to build chakrashim before it tries to build the node parts, and so it fails.

[2018-04-18 21:45] mmarchini opened #516 "TTD: breakpoints not working without a debugger statement in the code"
* **Version**: chakracore-nightly (from nvs)
* **Platform**: Mac OS X (10.13.4)
* **Subsystem**: TTD

Is TTD working on Mac? I tried using chakracore-nighly from nvs + VS Code 1.22.2 but breakpoints and "go back in time" are not working when replaying the trace (the replay just stops when I try to use either feature). I'm following instruction from [here](https://github.com/nodejs/node-chakracore/

[2018-04-18 22:10] kfarnung commented on #516
@mrkmarron Can you investigate?

[2018-04-18 23:09] mrkmarron commented on #516
Hi @mmarchini, I took a quick look on my Mac (same config as you report). In the launch config you provide a "program" argument for the trace which is causing an issue in the setup of the trace debugger code. If you remove that line things should work as expected.
[code]
We are hijacking the Node launch config here and we know this can create some invalid configurations. I thought we had checking

[2018-04-19 15:00] mmarchini commented on #516
Removing the `program` argument did the trick.

Also, awesome extension! Works great here.

[2018-04-19 15:00] #516 closed, assigned to mrkmarron

[2018-04-21 22:08] #419 closed, assigned to nobody

[2018-04-24 00:06] kfarnung commented on #487
The feedback from upstream is that developers should be using `process.versions['chakracore']` to detect ChakraCore.  This seems to work well for module developers, so I closed the PR.  For tests we still need jsEngine as a straight-forward way to filter tests.

[2018-04-24 00:06] #487 closed, assigned to kfarnung

[2018-04-24 16:07] MSLaguana commented on #478
Just noticed that this issue isn't linked to https://github.com/nodejs/node-chakracore/issues/420 like it should be.

[2018-04-24 16:12] alexlamsl commented on #420
As @MSLaguana pointed out, #478 may be related. There is also #508.

[2018-04-24 16:19] MSLaguana commented on #508
I don't believe that this is to do with the `vm` module actually; just running `0 & Object.create(null)` in `ch` (bare chakracore) gives the same error.

[2018-04-24 16:19] MSLaguana commented on #508
Unless you expect that, but you expect that using that as the global should have different behavior?

[2018-04-24 16:24] alexlamsl commented on #508
`0 & Object.create(null)` behaves consistently between `node` and `node-chakracore` (both at `8.11.1`)
[code]

[code]
whereas the top example works for `node` but cause exception to be throw in `node-chakracore`

[2018-04-24 16:24] MSLaguana commented on #508
Ok, just had a look and a bare `0 & Object.create(null)` in node-v8 gives an equivalent error, but in the vm context it does not. I think that this is because in the v8 case the global object keeps its prototype and so there is a `valueOf`, while in the node-chakracore case we replace the prototype with the sandbox and so it no longer has a `valueOf`.

[2018-04-24 16:26] MSLaguana commented on #508
I somewhat feel like this might be one of those edge-cases that may not be fully intended in node upstream? I know I asked about what happens in some strange cases when properties conflict between the sandbox and the global, and there wasn't a good answer to what was expected. I would somewhat expect that if you say "Use this sandbox object, and I've removed everything from it" that you wouldn't w

[2018-04-24 16:35] alexlamsl commented on #508
I want to be absolutely sure to avoid any `Object.prototype` properties leaking into the sandbox context, which is why it is coded this way.

Having said that, I do understand your reason for the current behaviour in `node-chakracore` - but then as a user I just want to be able to switch between the platforms with as few quirks as possible.

[2018-04-24 16:43] MSLaguana commented on #508
We definitely want to have minimal platform differences. The problem here is trying to understand what the underlying expected behavior is, given that this vm context stuff isn't strongly specced out, and "what node-v8 does" isn't necessarily right in all cases either since there are some questions about whether they do the right thing in some circumstances.

[2018-04-24 16:48] alexlamsl commented on #508
Thanks for the dicussion and clarifications - meanwhile I'll see if I can come up with an alternative test case in `uglify-js` which avoids this issue.

[2018-04-24 21:12] alexlamsl opened #521 "`[].push.apply([], a)` results in "Out of stack space""
* **Version**: 8.11.1
* **Platform**: Windows 10 x64

#### `test.js`
[code]

`node` runs to completion, whereas `node-chakracore` fails with:
[code]

I have observed failures with shorter lengths than 65536, but they are not as reliably reproducible. While I appreciate this is a lot of parameters to pass on to `Function.apply()`, it is an efficient way to construct a large array, e.g. https://gith

[2018-04-24 22:06] MSLaguana commented on #521
I'm curious why you use `push` rather than `concat`:

[code]

And actually, comparing with node-v8 on the sample in your mocha test, the concat version is faster in addition to using less stack.

[2018-04-25 08:14] jdalton commented on #420
In  node-chakra v10 the `repl` module is now broken when passing a `context` object to `eval`:

[code]

[2018-04-25 15:13] MSLaguana commented on #420
Thanks for the report, this looks like the same root issue impacting uglify (`var` declarations not being forwarded to the sandbox object).

[2018-04-25 16:27] jdalton commented on #420
Any plans or leads on how to tackle this issue?
It's now moved from WIP bits to bugs in shipped releases _(like v10)_.

[2018-04-25 16:30] jdalton opened #522 "util.types.isProxy() doesn't work in node-chakra 10"
`util.types.isProxy` was [added in Node 10](https://nodejs.org/dist/latest-v10.x/docs/api/util.html#util_util_types_isproxy_value).

In node-chakra
[code]

[2018-04-25 16:31] jdalton opened #523 "util.inspect showProxy option doesn't work in node-chakra"
The `util.inspect` option `showProxy` doesn't work in node-chakra

[code]
The [`showProxy` option](https://nodejs.org/dist/latest-v10.x/docs/api/util.html#util_util_inspect_object_options) was added in Node 6.x.

[2018-04-25 16:38] jdalton commented on #522
Dup of #488. Related to https://github.com/Microsoft/ChakraCore/issues/950.

[2018-04-25 16:38] #522 closed, assigned to nobody

[2018-04-25 17:48] MSLaguana commented on #420
I have a monkeypatching workaround for some limited scenarios (would fix most of the `var` stuff not applying back to the context object) but I'm still not sure what is causing issues with promises, and there are many edge cases that wouldn't be addressed. We're looking at whether there are some changes necessary in chakracore to support these scenarios.

[2018-04-26 03:38] alexlamsl commented on #521
I did `push()` instead of `concat()` to minimise memory allocation, though I haven't considered `call()` being faster than `apply()`.

Thanks for the workaround – will apply to https://github.com/mishoo/UglifyJS2/issues/3087

[2018-04-26 18:24] rhuanjl commented on #512
Just tried and and a clean checkout of the current master branch currently fails to build with this issue on macOS, however simply copy+pasting chakracore.h, chakracommon.h and chakradebug.h into the correct folder resulted in the build completing.

[2018-04-28 17:53] rhuanjl opened #526 "Test failures in current master"
* **Version**: node-chakracore - latest master branch on 28/04/2018
* **Platform**: macOS 10.13.4
* **Subsystem**: Tests (issue may relate to something else)

Picked this up whilst working on https://github.com/nodejs/node-chakracore/pull/525

**The following tests fail (hard crash) in the latest master with no changes when run via ```make test```:**
test/parallel/test-console-no-swallow-stack-ove

[2018-04-28 18:10] alexlamsl commented on #509
Still an issue as of `v10.0.0`

[2018-04-28 18:10] alexlamsl commented on #478
Still an issue as of `v10.0.0`

[2018-04-28 18:11] alexlamsl commented on #462
Still an issue as of `v10.0.0`

[2018-04-29 03:36] jackhorton commented on #462
It should only be an issue on Windows. Can you confirm which platform you are running on?

[2018-04-29 05:06] alexlamsl commented on #462
@jackhorton sorry for missing this detail in the original report – this is indeed tested on Windows 10 (x64).

[2018-04-29 05:29] alexlamsl commented on #462
I can't confirm whether the issue exists on say Ubuntu, as https://github.com/mishoo/UglifyJS2/pull/3087 is blocked by #509, i.e. the process crashed before it can get to the test relevant to this report.

[2018-04-30 19:04] kfarnung opened #527 "Much slower `react-scripts-ts build` in node-chakracore v10.0.0"
* **Version**: 10.0.0
* **Platform**: Ubuntu Linux 16.04
* **Subsystem**:

Comparing the build times for `react-scripts-ts build` between node-chakracore v8.11.1 and v10.0.0 there's a huge difference in runtime.

node-chakracore v8.11.1
[code]

node-chakracore v10.0.0
[code]

[2018-04-30 20:27] kfarnung opened #528 "node-chakracore fails on Travis CI's trusty environment"
* **Version**: v8.11.1/v10.0.0
* **Platform**: Ubuntu Linux 14.04.5
* **Subsystem**:

While trying to use Travis CI following the [NVS documentation](https://github.com/jasongin/nvs/blob/master/doc/CI.md) I ran into an issue where node-chakracore appears to be missing the requisite version of GLIBCXX:

[code]

[log.txt](https://github.com/nodejs/node-chakracore/files/1962075/log.txt)

Since releas

[2018-04-30 20:48] kfarnung commented on #526
I'm not seeing any failures in the CI for #525: https://ci.nodejs.org/job/chakracore-test-osx/330/nodes=osx1010/

If you have the time, could you try the same thing with [upstream node](https://github.com/nodejs/node)?

[2018-04-30 20:52] kfarnung commented on #528
I'm seeing the same issue on my own VM:

[code]

[2018-04-30 21:18] boingoing opened #529 "cctest test_platform.cc fails on node-chakracore"
* **Version**: Commit d3edf2fcde0c37206dc339aab7333212d20aa0f1
* **Platform**: Windows
* **Subsystem**: Test

The new cctest.exe test in `test_platform.cc` fails on node-chakracore due there being no context when we try to create a string:

[code]

Adding a `v8::Context::Scope` to `SkipNewTasksInFlushForegroundTasks` which either reuses `env.context()` or creates a new context from the isolate cau

[2018-04-30 21:38] rhuanjl commented on #526
All passed running with upstream node master.

[2018-05-01 00:40] kfarnung commented on #529
Disabled in 16a9ce775518595451792f7e557a7603a54904da

[2018-05-01 01:49] boingoing opened #530 "test-inspector-multisession unit tests failing"
* **Version**: Commit 1300103534
* **Platform**: Windows
* **Subsystem**: test

Two new unit tests test-inspector-multisession-js and test-inspector-multisession-ws are failing in node-chakracore. Looks like we are not receiving paused notifications in the debug session. Not sure why this is happening.

Here is the log output for these two tests:

[code]

[2018-05-01 01:49] boingoing commented on #530
These two tests are disabled via bf096ad69a

[2018-05-01 04:15] kfarnung commented on #512
I believe I have a fix, please try it out if you can:  https://github.com/nodejs/node-chakracore/pull/531

EDIT: To pull in the fix:
[code]

It seems to be working for me. I even let it fail without the patch, applied it, ran configure again, and ran make. So far, so good.

[2018-05-01 18:54] #512 closed, assigned to nobody

[2018-05-01 20:02] #529 closed, assigned to nobody

[2018-05-01 21:21] #523 closed, assigned to nobody

[2018-05-01 21:27] jdalton commented on #523
@kfarnung

This issue might not be affected by https://github.com/nodejs/node-chakracore/commit/5d023bb320de120bab92f42f2bf3614b569e42bc since `util.inspect` relies on `process.binding('util').getProxyDetails(proxy)` which will unwrap a proxy and return an array of `[theOriginalValue, theActualHandlerObjectProvidedToTheProxyConstructor]`

[2018-05-01 22:05] kfarnung commented on #523
I just tried out the original repro with that change and it looks fixed to me:

[code]

@rhuanjl implemented the `v8::Proxy::GetTarget()` and `v8::Proxy::GetHandler()` methods in the shim which are used by `GetProxyDetails` in `node_util.cc`. Some existing (but previously disabled) tests were reenabled in that commit which do exercise `util.inspect`.

[2018-05-01 22:18] rhuanjl commented on #523
@jdalton I tested the specific case from this issue before committing as well as re-enabling the test file test-util-inspect-proxy.js which covers this api.

For extra detail if wanted:
```process.binding('util').getProxyDetails``` is implemented within node as:
[code]

The three methods I implemented for chakrashim in https://github.com/nodejs/node-chakracore/commit/5d023bb320de120bab92f42f2bf361

[2018-05-01 22:22] rhuanjl commented on #526
So to confirm these tests:
1. pass if I run them individually with node-chakracore
2. pass when run via the online CI
3. pass when I run them with upstream-node with offline ```make test```
4. reliably segfault when I run them offline with ```make-test``` using node-chakracore

Could be some kind of issue with the test running mechanism and macOS 10.13? (I'm guessing the online CI may uses an olde

[2018-05-01 22:27] jdalton commented on #523
:tada:!

[2018-05-01 22:41] kfarnung commented on #526
Definitely worth investigating.  The CI does indeed use an older version (I believe it's 10.10.x), so it's possible that there is something in newer macOS versions.

[2018-05-04 23:16] rhuanjl commented on #527
I had a look at this on macOS (obtained puzzle-web from your GitHub repository to test) and didn't notice nearly as big a speed drop only about a 10% regression. Could there be something windows specific here?

Though whilst the regression was not as significant in both cases v8 node took less than half the time.

**That said I'd thought I'd try and determine the source of the 10% regression.**

P

[2018-05-04 23:28] kfarnung commented on #527
That's some interesting data, I hadn't actually measured the time on macOS, the numbers I've collected have been from Linux and Windows.

I actually see the biggest speed drop on Linux, the numbers in the original post were from a VM running Ubuntu 16.04 and the original source of this issue was actually some Travis-CI runs where the speed is consistently much slower:

https://travis-ci.org/kfarnu

[2018-05-04 23:46] rhuanjl commented on #527
I don't have a linux machine to test on - considering that chakra's macOS and linux builds are very similar I'm very surprised about the difference though - only a 10% regression on my MacBook vs that 300% regression.

Not sure if I can do much more as it sounds like this needs profiling on linux specifically.

[2018-05-05 00:15] kfarnung commented on #527
Well, that is interesting indeed.  I added macOS to the CI script and the results are much more inline with what you're seeing:

https://travis-ci.org/kfarnung/puzztool/builds/375131975

92.89 vs 132.03 seconds

EDIT: Looks like the v8.11.1 leg failed with a native module incompatibility:

[code]

EDIT2: But it looks like the build did pass, so it's probably a valid test.

[2018-05-05 05:18] kfarnung commented on #527
Taking a perf trace on Linux `_Unwind_Find_FDE` pops out in both traces, but it's must more pronounced in v10.0.0.

node-chakracore v8.11.1
[code]

node-chakracore v10.0.0
[code]

[2018-05-05 05:41] MSLaguana commented on #527
Perhaps node v10 is throwing more exceptions? You could try counting that using `perf`, although it's a huge pain to add a probe point to a c++/mangled function.

[2018-05-05 23:30] rhuanjl commented on #527
I tried profiling again with current node-chakracore, with CC master and with array.prototype.every overwritten with a JS implementation.

(Note total execution time at this point was significantly shorter than node-chakracore v8.11.1's time as in 60% as long or something like it - I assume a JS implementation of array.prototype.every is incoming  for ChakraCore in light of the inlining work that'

[2018-05-09 20:12] mike-kaufman opened #536 "test-env-newprotomethod-remove-unnecessary-prototypes.js is failing"
**repro:**
 1.  open file `test/parallel/test-env-newprotomethod-remove-unnecessary-prototypes.js`
 1.  Remove `if (!common.isChakraEngine)` line
 1.  run test via command `out/Release/node /Users/mikekaufman/thub/mike-kaufman/node-chakracore/test/parallel/test-env-newprotomethod-remove-unnecessary-prototypes.js`

**expected:** test passes
**actual:**  test fails because prototype method is presen

[2018-05-10 00:26] kfarnung commented on #536
It looks like V8 has a way to create a function which cannot be used as a constructor and doesn't contain a prototype property. We don't currently have a way to pass that flag to the engine using JSRT so we end up with a function that always has a prototype.  Trying to delete the prototype is blocked since the property is not configurable.

[2018-05-10 12:41] addaleax commented on #536
I think the only intention here was creating fewer unnecessary objects, so I think it would be completely fine if ChakraCore ignores this.

[2018-05-10 16:39] rhuanjl commented on #527
After looking at the point identified above about array.prototype.every which is used so heavily in react-scripts-ts build I reviewed the benchmarks included in the chakracore repository and cannot find one that exercises array.prototype.every - should there be/is there an action around assessing the completeness of those benchmarks?

Unless already being worked on I could make a PR to add a JS im

[2018-05-10 16:40] rhuanjl commented on #526
Note I can't think of any way to follow up on/further assess this issue.

[2018-05-18 22:03] kfarnung opened #540 "Move `master` to ChakraCore 1.10"
There are a bunch of improvements in the 1.10 release including ICU support for Intl.

[2018-05-18 22:05] kfarnung opened #541 "Test failure `parallel/test-fs-append-file` due to missing Promise.finally method"
* **Version**: master
* **Platform**: all
* **Subsystem**: fs

[code]

Re-enable this test once #540 is resolved.

[2018-05-21 22:02] MSLaguana commented on #420
I've got a PR out with a partial workaround for this issue now, although there are known deficiencies in it. It should fix the case of uglify.js and the repl example above.

[2018-05-22 16:47] alexlamsl commented on #420
@MSLaguana thanks a lot for your fixes on issues related to `uglify-js`

I shall keep a close eye on new releases of `node-chakracore` and report back.

[2018-05-22 17:02] MSLaguana commented on #420
This fix is in the most recent node-chakracore nightly if you were interested in trying it out soon; otherwise we expect to put out a new release of 10.x in the near future.

[2018-05-22 17:17] alexlamsl commented on #420
@MSLaguana using `11.0.0-nightly20180522db93156017`, #478 still fails.

OT: so do #462 and #509

[2018-05-22 18:33] sethbrenith commented on #510
This is now using `previewEntries` instead, as of [this commit](https://github.com/nodejs/node/commit/70cc5da0f11a024cf5be1ff20fd885556c1d2153). We still need to implement it.

[2018-05-22 20:53] MSLaguana commented on #420
Sorry; I meant that the fix for `vm.runInContext` should be in. #509 will be fixed once we bump the version of chakracore (alternately, should be fixed in chakracore-master branch).

I had forgotten about #478; that looks to be a little harder to resolve. The root of the issue is still that we are limited in where we can put the interceptors for the context, and in this case we are attempting to c

[2018-05-22 21:23] alexlamsl commented on #420
@MSLaguana thanks for the clarifications :+1:

[2018-05-23 08:23] alexlamsl commented on #508
Reverted the workaround in `uglify-js` to confirm the difference in behaviour between `node` and `node-chakracore` still persists as of `11.0.0-nightly20180522db93156017`

[2018-05-25 05:22] kfarnung commented on #527
Sorry for the delay, I don't believe anyone is currently working on `Array.prototype.every`.

Ping @sigatrev to confirm.

[2018-05-25 21:00] kfarnung commented on #527
@rhuanjl I confirmed that there's nobody working on `Array.prototype.every` so you're welcome to make a PR for it.

[2018-05-26 06:42] alexlamsl commented on #509
Still an issue as of `v10.1.0`

[2018-05-26 06:50] alexlamsl commented on #462
Still an issue as of `v10.1.0` (on Windows)

[2018-05-26 06:51] alexlamsl commented on #521
I shall close this since it's a special case and more to do with deficiencies of ChakraCore than this project.

[2018-05-26 06:51] #521 closed, assigned to nobody

[2018-05-26 06:52] alexlamsl commented on #508
Still an issue as of `v10.1.0`

[2018-05-26 06:52] alexlamsl commented on #478
Still an issue as of `v10.1.0`

[2018-05-26 06:54] alexlamsl commented on #201
Still an issue as of `v10.1.0`

[2018-05-26 06:57] alexlamsl commented on #170
Still an issue as of `v10.1.0`
[code]
[code]

[2018-05-26 07:22] alexlamsl commented on #133
Not reproducible as of `v10.1.0`

[2018-05-26 07:22] #133 closed, assigned to MSLaguana

[2018-05-26 16:16] rhuanjl commented on #541
Feels a shame seeing this considering that .finally() has been in CC master for some months now, is there a plan for when CC 1.10 is due to be released yet?

[2018-05-28 00:06] rhuanjl commented on #391
I've now got a fully working alternate module API for CC that basically mirror's v8's - see https://github.com/Microsoft/ChakraCore/issues/5240

If the CC team are willing to accept it in I can implement ESModule support in node-chakracore with it.

(Other alternative I can see would be to swap around here i.e. have node use an abstract API based on CC's API and emulate it with v8 - as v8's api is

[2018-05-30 22:33] rhuanjl commented on #527
Thanks - I'll have a look at it shortly, not sure I want  to open any more CC PRs until a couple of my existing ones are done though.

[2018-06-03 13:13] rhuanjl commented on #527
Something else seems to have changed since I did the profiling above. I made a JS implementation of array.prototype.every for CC but using it with latest CC master it's not showing the performance improvement I had before at all. Additionally simply putting in a JS implementation into chakra_shim.js as I did before isn't showing the same speedup anymore either; I'll hold off on submitting anything

[2018-06-12 19:10] jrasanen commented on #526
I can confirm that these tests to throw an error on the latest macOS (10.13.4).

[code]

**Edit:**
huh, but I can run those just fine one by one:

[code]

Running `python tools/test.py -J --mode=release -v parallel` does not give any crashes, but running `make test -j4` will always crash on those tests.

[2018-06-12 20:32] rhuanjl commented on #526
Exactly the same as I observed - glad it's not just an oddity with my computer but no closer to a solution :(

[2018-06-12 21:10] kfarnung commented on #526
@jrasanen That's an interesting observation, what version of `make` are you running?  We've had previous issues where the environment that make was providing was causing crashes, so it's not unheard of.

[2018-06-13 16:21] jrasanen commented on #526
GNU Make 3.81
Copyright (C) 2006  Free Software Foundation, Inc.
This is free software; see the source for copying conditions.
There is NO warranty; not even for MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.

This program built for i386-apple-darwin11.3.0

[2018-06-13 17:06] jrasanen commented on #526
Yes! Very interesting! Running these tests through `make` makes `make` (or Python?) to crash.

I tested a lot of various combinations. Running this crashes these tests:
[code]

Results:
[code]

But running `python tools/test.py -J --mode=release -v test/message/stack_overflow.js test/parallel/test-console-no-swallow-stack-overflow.js test/parallel/test-console-sync-write-error.js` from CLI does no

[2018-06-13 17:09] jrasanen commented on #526
Makefile and command line, both use the same Python 2.7.15 version of Python, which is from `/usr/local/bin/python` installed via Homebrew.

[2018-06-13 17:19] jrasanen commented on #526
Everything works well on `GNU Make 4.2.1`, it does not segfault, unlike macOS' own `make` is the fault.

This is solved by `brew install make` (installs GNU Make). Then running commands with `gmake` instead of make.

Odd thing:

the default make reports that it was built with `i386-apple-darwin11.3.0`, while gmake from homebrew says `x86_64-apple-darwin17.0.0`. Wikipedia says that Darwin 11 equals

[2018-06-14 03:44] boingoing opened #549 "Test failures in `test-fs-stat-bigint` and `test-fs-watchfile-bigint` due to missing BigInt support"
* **Version**: master
* **Platform**: all
* **Subsystem**: fs

[code]

Re-enable these tests when BigInt is implemented.

[2018-06-14 07:20] joyeecheung commented on #549
Are there any plans in supporting BigInt in chakracore? I could not find any in https://github.com/Microsoft/ChakraCore

[2018-06-14 08:22] boingoing commented on #549
It is on our radar though we haven't committed to a time frame that I know of, yet.

[2018-06-17 18:21] jdalton opened #550 "Update npm version bundled with node-chakracore"
~~At the moment when installing node-chakracore v10.1.0 it comes bundled with npm 5.6.0.
Node 10+ (V8) comes bundled with npm 6+.~~

This should shake out when node-chakra makes it to 10.3.0 where Node's npm dep [was updated to 6.1](https://github.com/nodejs/node/releases/tag/v10.3.0).

Related: https://github.com/jasongin/nvs/issues/66 and https://github.com/felixrieseberg/npm-windows-upgrade/iss

[2018-06-17 18:23] #550 closed, assigned to nobody

[2018-06-19 02:50] boingoing opened #551 "ChakraCore does not support catch statements with no argument binding"
* **Version**: master
* **Platform**: all
* **Subsystem**: all

V8 now supports catch statements with no argument binding. Some of the Javascript code in node has begun to take a dependency on this syntax. I added argument bindings back in node-chakracore (via 1f550c99ea5673f051a60e9c4032f2648f5dd842) but we need to remove these when ChakraCore supports this new syntax.

This new concise syntax lo

[2018-06-20 18:18] kfarnung commented on #526
Thanks for the investigation @jrasanen!  I'll try to debug the crash and see what the cause is.

[2018-06-22 23:55] jdalton opened #555 "vm.Script inheritance error"
In node-chakracore 10.1.0 the following throws
[code]
It does not throw in Node 10.x in v8

[2018-06-23 00:29] MSLaguana commented on #555
This is somewhat interesting; the native code checks that the script object (the `new S` in rhis case) is an instance of ContextifyScript. For us, we do that via the javascript semantics of `instanceof`, and due to your manipulations of the prototype that instanceof check fails (in both v8 and chakracore) but v8's native implementation of `ContextifyScript::HasInstance` uses different internal beh

[2018-06-25 03:51] MSLaguana commented on #555
@jdalton do you have a scenario where you wanted to do something like this and expected it to work?

I did check the other case, where you take a non-`vm.Script` object and set its prototype to `vm.Script.prototype`, and that ends up erroring out with "Illegal Invocation" in both v8 and chakra. I think that the requirement from native code here is just that we can get access to the wrapped native

[2018-06-25 05:27] jdalton commented on #555
I ran into some code working in node-V8 and not in node-chakracore. The workaround was to set the prototype to that of the ContextifyScript prototype instead of `null`.

[2018-06-25 05:31] MSLaguana commented on #555
I'm curious what the intent of the code was; why was the code removing the prototype?

[2018-06-25 06:14] jdalton commented on #555
Creating a "safe" reference to the `vm` module [here](https://github.com/standard-things/esm/blame/master/src/safe/vm.js) the [safe()](https://github.com/standard-things/esm/blob/9720757bc613dd56e833f0ca6c2a8f1e5bafb5f7/src/util/safe.js) helper will [`null` the prototype](https://github.com/standard-things/esm/blob/9720757bc613dd56e833f0ca6c2a8f1e5bafb5f7/src/util/safe.js#L29).

[2018-06-28 20:09] mike-kaufman opened #560 "Hook up support for VM.Script.createCachedData"
This [commit](https://github.com/nodejs/node/commit/4f67c6f667fa98e25ba311d3459fc8e270407250#diff-0cf206672499c2f86db4ffb0cc5b668b) added support for a new API `vm.script.createCachedData`.

This calls chakrashim's [CreateCachedData](https://github.com/nodejs/node-chakracore/blob/master/deps/chakrashim/include/v8.h#L1004-L1008), which is not currently hooked up.

A few things need to happen here:

[2018-06-28 22:50] kfarnung opened #561 "Flaky test `sequential/test-net-bytes-per-incoming-chunk-overhead`"
* **Version**: master
* **Platform**: Windows
* **Subsystem**: net,test

It looks like `sequential/test-net-bytes-per-incoming-chunk-overhead` is flaky in the NodeJS Windows CI:

[code]

I've seen this in master and v10.x only in the CI.

[2018-06-28 23:04] addaleax commented on #561
You can bump the limit, it makes sense that it’s somewhat engine-specific. If ChakraCore’s ArrayBuffers and TypedArrays are larger than V8’s, then this is an expected result.

[2018-06-28 23:05] kfarnung commented on #561
Ok, thanks!

[2018-06-29 20:20] mike-kaufman opened #562 "Support web workers"
`test/parallel/test-worker-relative-path.js` and `test/parallel/test-worker-relative-path-double-dot.js` were disabled since they failed to load `worker_threads` module.  This needs to be investigated & tests need re-enabled.

[2018-07-08 02:48] kfarnung opened #563 "`process.memoryUsage()` always returns zero values"
* **Version**:  master
* **Platform**:  all
* **Subsystem**:  process

A test was added that depends on `process.memoryUsage()` to verify memory growth.  It depends on V8 APIs and seems to always return zero currently.

When this is fixed reenable:
* `parallel/test-zlib-unused-weak`

[2018-07-10 00:16] kfarnung opened #565 "Atomics notify vs. wake"
* **Version**:  master
* **Platform**:  all
* **Subsystem**:  lib

ChakraCore 1.9 currently has `Atomics.wake` which has been renamed to `Atomics.notify` which has been updated in ChakraCore 1.10.  The shim is being disabled for now to work around `Intl` issues and we'll re-investigate whether to enable it again when ChakraCore 1.10 lands.

[2018-07-11 00:11] boingoing opened #570 "Support dotall ('s' flag) in regexp"
* **Version**: All
* **Platform**: All
* **Subsystem**: All

ChakraCore does not support the 's' regex flag so if Javascript code in node.js uses this flag, we will throw a syntax error. We can work around this by replacing '.' by something like '[\s\S]' and removing the flag but this is a temporary solution at best. When ChakraCore supports the dotall flag, we should remove any of these workaroun

[2018-07-11 00:13] boingoing commented on #570
ChakraCore is tracking this via https://github.com/Microsoft/ChakraCore/issues/2787

[2018-07-11 16:24] aduh95 commented on #541
Duplicate #464

[2018-07-11 17:22] kfarnung commented on #464
Also `parallel/test-fs-append-file`

[2018-07-11 17:22] #541 closed, assigned to nobody

[2018-07-11 18:14] #464 closed, assigned to nobody

[2018-07-14 10:16] leonbett opened #573 "Building fails"
Hi,

I'm trying to build node-chakracore like so: "make -j4 -C out BUILDTYPE=Debug".
The build fails however:
../src/node_api_jsrt.cc: In function ‘napi_status napi_get_value_int64(napi_env, napi_value, int64_t*)’:
../src/node_api_jsrt.cc:1544:7: error: ‘isfinite’ is not a member of ‘std’
   if (std::isfinite(valueDouble)) {
       ^~~

This is the toolchain I'm using:

clang version 5.0.0-3~16.04

[2018-07-16 18:15] kfarnung commented on #573
Are you trying to get a debug build?

Did you try:
[code]

Can you try that and report back?  `std::isfinite` has been in the standard since C++11, so I don't know why it wouldn't exist in your environment.

[2018-07-23 18:01] leonbett commented on #573
Hi kfarnung,

I do want to get a debug build.
Building on another machine using your commands worked perfectly.

Thanks.

[2018-07-23 18:01] #573 closed, assigned to nobody

[2018-07-26 12:10] alexlamsl commented on #509
Fixed in `v10.6.0` - thanks!

[2018-07-26 12:10] #509 closed, assigned to nobody

[2018-07-26 12:12] alexlamsl commented on #478
Still an issue as of `v10.6.0`

[2018-07-26 12:14] alexlamsl commented on #462
Fixed in `v10.6.0` - thanks!

[2018-07-26 12:14] #462 closed, assigned to jackhorton

[2018-07-26 13:16] alexlamsl commented on #508
Reproducible in `v10.6.0`

[2018-07-26 13:19] alexlamsl commented on #201
Fixed in `v10.6.0` - thanks!

[2018-07-26 13:19] #201 closed, assigned to digitalinfinity

[2018-07-26 13:19] alexlamsl commented on #170
Still an issue as of `v10.6.0`

[2018-08-01 17:31] Mouvedia commented on #219
creationix/nvm#1828

[2018-08-08 21:58] rhuanjl commented on #527
Been looking at this more - using my implementation of Array.prototype.every (in this branch: https://github.com/rhuanjl/ChakraCore/tree/every ) performance now seems similar or slightly worse than with current CC master/CC 1.10.1.

When using that much of the time in the trace is in JavascriptFunction::GetCallerProperty - I'll look into why that could be slow.

It seems to be taking forever a) th

[2018-08-17 22:18] MSLaguana opened #584 "SharedArrayBuffers can cause crashes when inspected in certain ways"
Something non-obvious has changed between the current state of things and the nightly integration I'm about to complete, which causes shared array buffers to return a null pointer for their contents, which is triggering an assert in node. I'm disabling the test for now.

[2018-08-20 15:18] MSLaguana commented on #584
I'm still not sure what change caused this to come to the surface, but it looks like the problem is we don't currently have a JSRT way to extract the contents of s SharedArrayBuffer; There are `JsGetArrayBufferStorage` and `JsGetTypedArrayStorage` but neither of those accept shared array buffers as inputs.

[2018-08-20 20:01] kfarnung commented on #584
Disabled in 06ff556f9eb0c1c926b317373f17c8c12d8c08b8

[2018-08-21 23:07] MSLaguana commented on #584
This is also impacting `test-assert-typedarray-deepequal.js`

[2018-08-30 11:57] alexlamsl commented on #540
Just curious — hasn't this been done with the release of `node-chakracore@10.6.0`?

[2018-08-31 17:01] sethbrenith commented on #540
Yep, good catch

[2018-08-31 17:01] #540 closed, assigned to nobody

[2018-09-04 20:05] kfarnung commented on #540
Whoops, forgot to close this when it landed.

[2018-09-06 21:33] kfarnung opened #590 "`test-dgram-*` test failures on macOS"
* **Version**:  master
* **Platform**:  macOS
* **Subsystem**:  dgram

I'm seeing consistent timeout failures for a few of the `test-dgram-*` tests:
[code]

https://ci.nodejs.org/job/chakracore-test-osx/415/nodes=osx1010/

[2018-09-10 21:17] IrinaYatsenko commented on #402
util.inspect also doesn't print out property '4294967295' (one beyond the supported index). for_in does enumerate it.

[2018-09-11 20:14] kfarnung commented on #402
@irinayat-MS it looks like that issue was fixed by my shim update:  https://github.com/nodejs/node-chakracore/commit/835789f6891c22fef92e555d03bed3b175a54156#diff-55320053aaa0abe61795d171a27dcbc8L432

[2018-09-11 20:21] IrinaYatsenko commented on #402
Yep, should be fixed by your change.

[2018-09-14 22:52] kfarnung commented on #565
Looks like this is blocking some new features:

https://github.com/nodejs/node/pull/22835
https://github.com/nodejs/node/pull/22844

This depends on https://github.com/nodejs/node-chakracore/issues/567

[2018-09-17 20:35] kfarnung opened #598 "Wire up `resourceNameToUrl` support in inspector"
* **Version**:  master
* **Platform**: all
* **Subsystem**:  inspector

With the landing of https://github.com/nodejs/node/pull/22251, the output for the script URL has changed and the tests are now failing.  I'm going to skip them for now and re-enable them once the support has been added.

[code]

[2018-09-19 22:13] #598 closed, assigned to nobody

[2018-09-20 00:01] kfarnung commented on #562
This is more generally a need to support web workers.  Updating the title to reflect this.

[2018-09-20 00:02] kfarnung commented on #551
There is a ChakraCore PR to add this, but it has stalled: https://github.com/Microsoft/ChakraCore/pull/5310

[2018-09-20 11:45] rhuanjl commented on #570
dotAll is now in chakracore master https://github.com/Microsoft/ChakraCore/pull/5592 - assumedly need to wait for the next CC release for it to be in a release branch though.

[2018-09-20 17:43] kfarnung commented on #570
Yup, we'll pick this up in vNext.

[2018-09-25 18:23] kfarnung commented on #402
Looks like there's a proposal to standardize the enumeration order: https://github.com/tc39/ecma262/pull/1243

[2018-11-26 17:09] jdalton opened #609 "node-gyp errors installing `npm i sleep` with npm@6.4.1 and nvs@1.5.1"
node-gyp errors installing `npm i sleep` with npm@6.4.1 and nvs@1.5.1 for node-chakra 10.6.0 and 10.13.0 with:

[code]

This does not happen when switching to the v8 powered Node versions with `nvs`.

**Update:**

On further investigation it started happening on v8 powered Node as well. Setting the environment variable resolved the issue.

[2018-11-26 17:23] #609 closed, assigned to nobody

[2018-11-26 18:12] jdalton opened #610 "Problems installing `npm i sleep` with node-chakracore 10.13.0."
When installing `npm i sleep` with node-chakracore 10.13.0 I'm getting the following error:
[code]
If I switch to node-chakracore 10.6.0 `npm i sleep` will complete successfully.

[2018-12-03 20:13] digitalinfinity commented on #610
@boingoing can you take a look please?

[2018-12-06 18:13] voxpelli opened #611 "Is this project affected by Edge’s move to Chromium?"
Will Chakra still be developed after Edge has moved to Chromium? https://blogs.windows.com/windowsexperience/2018/12/06/microsoft-edge-making-the-web-better-through-more-open-source-collaboration/

Will the news mean that Microsoft will move to V8 and that there will no longer be anyone to push for a Chakra based Node.js?

Related: https://github.com/Microsoft/ChakraCore/issues/5857

[2018-12-06 23:46] rhuanjl commented on #611
Apparently good news for now: https://twitter.com/AruneshC/status/1070813703656751104

[2018-12-07 18:06] liminzhu commented on #611
Hey guys. We have a statement w.r.t. the future of ChakraCore https://github.com/Microsoft/ChakraCore/issues/5865. Our plan for Node-ChakraCore is similar to ChakraCore that we will continue working with Node to release Node-ChakraCore builds.

Hope this clarifies the situation.

[2018-12-10 22:44] boingoing commented on #610
I don't see this locally when I do `npm i sleep` with node-chakracore 10.13.0. The install completes successfully. To test this, I used nvs (`nvs add chakracore/10`) but it should be equivalent to other methods. Can you share the npm log?

[2018-12-11 00:31] jdalton commented on #610
Thanks @boingoing!

I'm beginning to think my system may be in a bad state. I'll close this for now. Glad it couldn't repro.

[2018-12-11 00:31] #610 closed, assigned to boingoing

[2018-12-11 07:12] chopdown opened #612 "--v8-options not working"
* **Version**: node-chakracore-v10.13.0
* **Platform**: Windows 10
* **Subsystem**: Windows 10

It works on node-chakracore-v10.6.0. Commit: https://github.com/nodejs/node-chakracore/commit/29a71bae40ffa0bbc8ba6b2bdf051a09987da7f7 remove this implementation.  It's need by [v8flags](https://www.npmjs.com/package/v8flags), depend by [gulp module](https://www.npmjs.com/package/gulp). Hope this will b

[2018-12-12 01:42] kfarnung commented on #612
Good catch, this was missed when taking in the latest changes from upstream.  It should be relatively simple to implement the missing function:

https://github.com/nodejs/node-chakracore/blob/38520056313bc747e3ca6dcc7598c2e51394c0ac/deps/chakrashim/src/v8v8.cc#L108-L110

[2018-12-12 09:19] chopdown commented on #612
I implemented a version, make things work, but not sure the original intention.

[2018-12-12 17:08] kfarnung commented on #612
The fix looks good to me, thanks for the quick PR!

[2018-12-13 19:46] #612 closed, assigned to nobody

[2019-02-07 00:02] Mouvedia commented on #551
@kfarnung it has been merged.

[2019-02-14 15:36] Kohagan91 opened #615 "Issues with N-API Addon and TTD"
* **Version**:  chakracore/10.13.0/x86
* **Platform**:  Windows_NT 10.0.17763 64bits but i try for 32 bit execution
* **Subsystem**: node-chakracore

Hi,

I try TTD on an application with call to a N-API addon.

`
try {
var testAddon = require('C:/DEV/TestNAPI/blog-addons-example-master/build/Release/testaddon.node');
}
catch(error) {
  console.error(error);
}
var http = require("http");

http.cre

[2019-02-14 16:47] #615 closed, assigned to nobody

[2019-02-18 13:18] YannDelorme opened #616 "ttdReplayDebugUri not initialised"
TTD does not work anymore

in node_options.cc
replace

AddOption("--replay-debug",
            "replay and debug using recording log",
            &PerProcessOptions::ttdReplayUri);

  with

AddOption("--replay-debug",
            "replay and debug using recording log",
            &PerProcessOptions::ttdReplayDebugUri);

[2019-02-19 16:01] YannDelorme opened #619 "TTD does not initialize properly"
* **Version**:
* **Platform**:
* **Subsystem**:

[2019-02-19 16:08] YannDelorme commented on #619
* **Version**: V10.12.0
* **Platform**: Windows
* **Subsystem**: x86

Hello,
When i tried to run TTD with VSCODE with version 12.0.0. I have the following error

v8::ToLocalChecked: Empty MaybeLocal

I think that the node::inspector::Initialize function is never called. I dont find in code when it should be called.

This line register the function in the _module variable.

[2019-03-12 23:32] EricLi20 opened #620 "Need support for the 3 dots operator to install tensorflow/tfjs-node"
* **Version**: v10.13.0
* **Platform**:Windows 10.0.17763.316
* **Subsystem**:

Looks like ChakraCore might need to add support for the 3 dots operator (spread operator)?
Get the below error for both 10.13.0 & latest nightly.
Here's the file
https://github.com/tensorflow/tfjs-node/blob/master/scripts/install.js#L112

PS E:\tempBaseBall> nvs
PATH -= $env:LOCALAPPDATA\nvs\chakracore\10.13.0\x64
PATH

[2019-03-15 08:47] alexlamsl commented on #478
Problem persists as of `v10.13.0`

[2019-03-29 02:23] Ahriana commented on #620
the spred operator is not supported in chakra IIRC, you would have to take it up with them

[2019-05-29 20:35] rhuanjl commented on #620
If you build using chakracore master (use the branch chakracore-master from this repository)  and supply CC with the build flag ES2018ObjectRestSpread then this should be enabled - the support is experimental but I think it should work for 99% of use cases.

[2019-06-04 02:22] mzxyz opened #621 "Upgrade to node v8 7.4 which support JIT-less"
##  Feature related to the problem:

Using WebAssembly: currently can not use WebAssembly due to the JIT limitation on iOS.

[code]

## Solution:

Upgrade to [v8 7.4](https://github.com/nodejs/node/pull/26685)

[2019-07-25 00:42] #219 closed, assigned to nobody

[2019-07-25 00:42] jcrben commented on #219
Closed to trim my open issues a bit.

[2019-08-14 00:25] EricLi20 opened #624 "azure-sdk-js setup hits Error: The command failed with exit code 1"
* **Version**: node-ChakraCore v10.6.0
* **Platform**: Microsoft Windows [Version 10.0.18956.1000]
* **Subsystem**:

Error occurs with node-ChakraCore v10.6.0, azure-sdk-js scenario below works with https://nodejs.org/dist/v10.16.2/node-v10.16.2-win-x64.zip
azure-sdk-js dev said it looks like node.exe is crashing

Repro steps
On a Windows 10 Enterprise x64 machine
setup an admin cmd window with pa

[2019-09-04 07:06] legendecas opened #625 "napi: napi version doesn't been exposed through process.versions"
* **Version**: v8.11.1
* **Platform**: macos
* **Subsystem**: versions

NAPI version didn't been exposed through `process.versions`.

[code]

[2019-09-21 00:43] ghost opened #626 "Build fails, "error: ‘vector’ in namespace ‘std’ does not name a template type" etc"
* **Version**: v10.16.0 but i think this is irrelevant
* **Platform**: Linux 530s 4.15.0-54-generic #58-Ubuntu SMP Mon Jun 24 10:55:24 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
* **Subsystem**:

I tried to build node-chakracore how the README says:
[code]
(commit hash is f0b74bf63d08b46b2fa07b62dc3e3e205a0c1e46)

But it encountered some errors
![image](https://8hjd.qonq.gq)

[code]

[2019-09-22 20:25] joaocgreis commented on #626
@ledlamp the master branch is not in good shape at the moment. If you want to build from source, the release tags should work, for the latest one replace the checkout line with
[code]

[2019-09-24 04:48] ghost commented on #626
Ok I cloned a new copy with `git clone https://github.com/nodejs/node-chakracore -b node-chakracore-v10.13.0 --depth=1` and it compiled, thanks!
Unfortunately building from source didn't make it work on my CPU, but that's a [separate issue](https://github.com/nodejs/help/issues/1453).

[2019-09-24 04:48] #626 closed, assigned to nobody

[2019-11-01 07:52] rgurzhiy opened #627 "ContextShim is leaking"
* **Version**: node-chakracore-v10.13.0
* **Platform**: Darwin 18.7.0 x86_64
* **Subsystem**: chakrashim

In _deps/chakrashim/src/jsrtisolateshim.cc_ there is a statement **CHAKRA-TODO: This is not called after cross context work in chakra. Fix this else we will leak chakrashim object.**
`JsContextBeforeCollectCallback` is never called, so `ContextShim`, saved as `void*` data in `JSContextRef` is